[2021-08-07 18:44] #207 closed

[2021-08-07 18:48] douglowder commented on #204
I suspect that the focus destination may not be actually rendered until the user moves focus to the carousel, at least in some cases.

Can you please try this with the latest release (0.64.2-2)? If it still reproduces, it would be great to have a complete working example that shows the issue.

[2021-08-07 18:49] douglowder commented on #203
Closing this, as we don't actually support Android Box.

[2021-08-07 18:49] #203 closed

[2021-08-07 18:53] douglowder commented on #190
@brentvatne is there any chance that a new bugfix release of `react-native-svg` can be generated with the fix for this issue (plus the Xcode 12 fix)?

Commits needed:
- https://github.com/react-native-svg/react-native-svg/commit/686930b1c6e1b957449e6d6e632647b4e13325d6
- https://github.com/react-native-svg/react-native-svg/commit/e8ed5e943f761ecfad9fa83e17d08ebe3a694fa0

[2021-08-07 18:56] douglowder commented on #158
The example project above is fully working, so I'm going to go ahead and close this.

[2021-08-07 18:56] #158 closed

[2021-08-07 19:17] ericlifs opened #208 "Airplay casting on tvOS"
## Description
I want to know if there is a way of checking from the tvOS side if someone is casting via airplay. I'm using this library https://github.com/disjfa/react-native-airplay-btn for casting from the mobile app side to the tvOS device I have, but now I want to do the other way around (checking is someone is already connected to the tvOS).

I'm doing some pocs by adding that library to my

[2021-08-07 19:37] douglowder commented on #165
In the simulator, try using the arrow keys to see the events.  Also, make sure you have more than one focusable in your view so that there is somewhere to navigate to...

[2021-08-10 01:40] NickFoden commented on #165
Ah thank you for the information and excuse me for the spam/tangents on this thread. I  am navigating around a grid of TouchableOpacity items. Maybe I am missing a prop on each or such, have been searching for more examples of react-native-tvos.

[code]

[2021-08-10 23:12] brentvatne commented on #190
i'm not the best person for this, but it seems that react-native-svg finds itself without a maintainer so i checked out the repo to give it a shot ... it looks like it's not in a great state right now. i can't get the repo to build - i tried cloning and running `npm install` which led to a series of errors in build, and almost 200 type errors. i don't have time to look into this further unfortunat

[2021-08-10 23:23] douglowder commented on #190
@brentvatne I'll take a look and see if I can fix those issues

[2021-08-10 23:37] douglowder commented on #190
Amazing I brought it down to 15 type errors just by updating to latest types/react and types/react-native :)

[2021-08-11 01:40] douglowder commented on #190
https://github.com/react-native-svg/react-native-svg/pull/1628

[2021-08-14 19:03] douglowder commented on #190
This issue is resolved in https://www.npmjs.com/package/react-native-svg/v/12.2.0 -- closing.

[2021-08-14 19:03] #190 closed

[2021-08-14 19:08] #143 closed

[2021-08-14 19:09] #116 closed

[2021-08-14 19:09] #71 closed

[2021-08-16 13:39] nriccar commented on #16
Any news?

[2021-08-19 00:54] douglowder commented on #208
I have looked around, and the only examples I have found are those which check the other way (the iOS device can see if it is casting to the Apple TV).

[2021-08-20 07:30] vvdodiya commented on #17
Hello
Is there any update for the support tab bar in tvOS? I have implemented a tab bar in my tvOS app but can not focus on the tab.

[2021-08-20 16:43] adkaushik commented on #17
The tab bar comes into focus when menu button on the remote is clicked. However, when the component rendered in the tab take long time to render, the selected tab jumps to the first tab and flickers repeatedly.

Found this old related [issue](https://github.com/facebook/react-native/issues/15081)  in react native, which is still happening when using the tabbarios component in  tvos

[2021-08-23 20:29] nriccar opened #213 "Is TabBarIOS safe to use?"
Im trying to replicate the same behaviour with a custom TabBarIOS but testing the original one is far more native feeling than the one that Im accomplishing to create.

Is tabbarios stable to use? I see its deprecated. In case the answer is no, is there any alternative for it?

Thanks for reading

[2021-08-23 20:54] douglowder commented on #213
Yes it is safe to use on tvOS.  Best example is probably https://github.com/douglowder/RNAppleTVTalk ... I will try to make a smaller and simpler demo project at some point.

[2021-08-24 14:50] nriccar commented on #213
Thank you for the quick response!

[2021-08-24 14:50] #213 closed

[2021-08-28 01:45] douglowder commented on #115
The Modal not being part of the root view hierarchy also has other unfortunate effects, e.g. not getting key events as in https://github.com/facebook/react-native/issues/31085 .

[2021-08-30 09:12] nriccar opened #215 "[feature request] Adding tvos parallax focus on touchables"
This is a feature request, not a bug report.

It would be really nice to add the tvos parallax "light reflection" effect to touchables, don't you think?

I evaluated adding it as a native module, but it should be on top of the touchable module, and Im getting a little lost right there.

Here's and example: https://github.com/PGSSoft/ParallaxView

Is it feasible?

Thanks

[2021-08-30 14:47] Ganesh-Kumar-Reddy-M opened #216 "UI Layout is incorrect whenever we use TVFocusGuideView in tvOS projects."
## Description
The **TVFocusGuideView** uses two views internally to properly set up the **FocusGuide** and it accepts the **'style'** prop along with other view props. But the problem is that, the **TVFocusGuideView** applies the same 'style' prop to both same props to both parent and child views, which is causing the UI issue.
For example, if the client specifies **'marginLeft'** property in the

[2021-08-30 19:05] douglowder commented on #215
If you want to add more parallax code, the place to do it is in `RCTTVView.m`, specifically `addParallaxMotionEffects()` and `removeParallaxMotionEffects()`.  You will also need to add new props for light reflection to `TVParallaxPropertiesType` in `Libraries/Components/AppleTV/TVViewPropTypes.js`, and new defaults for those props in `defaultTVParallaxProperties` (also in `RCTTVView.m`)

[2021-08-31 13:05] nriccar commented on #215
Thanks for the quick response. Ill check it out!

[2021-08-31 16:38] #215 closed

[2021-09-01 01:40] douglowder commented on #115
@SashaVons @lnwanghao I have a possible fix for this in https://github.com/react-native-tvos/react-native-tvos/commit/7c68fb0120468b102e1dc9db59967b61dc0b23f4

[2021-09-01 12:11] douglowder commented on #216
I have one other issue I'm working on at the moment -- once I've merged the fix for that as well, I will create a release and close this.

[2021-09-02 06:59] lnwanghao commented on #115
I will try it later. Thanks

[2021-09-08 20:15] #115 closed

[2021-09-08 21:07] douglowder commented on #216
Fixed in 0.64.2-3.

[2021-09-08 21:07] #216 closed

[2021-09-08 21:08] douglowder commented on #115
Fixed in 0.64.2-3.

[2021-09-10 23:34] douglowder commented on #69
@fasci I've picked up this bug again, will keep you updated.  Thanks for the `react-native-screens` contribution!

[2021-09-13 21:31] douglowder commented on #69
Ok I've got a working demo app at https://github.com/douglowder/rnn-starter, that has current RNN fully working on tvOS.  In digging through the issues, I find the following:

- RNN doesn't have to use `react-native-screens`, so a fix there will not work in all cases
- If I run this app in "three_tabs" mode, it uses a bottom bar nav which is implemented as a `UITabBar`.  In this case, even the oth

[2021-09-17 02:36] douglowder commented on #69
I've put together a fix for this.  It requires changes both here and in RNN (but RNN requires a lot of patches for tvOS anyway).  Creating a PR.

[2021-09-18 18:19] #69 closed

[2021-09-18 20:39] douglowder commented on #69
Fixed in release 0.64.2-4

[2021-09-19 20:46] douglowder commented on #69
@fasci see https://github.com/react-native-tvos/rnn-starter-tv/commit/6930e918b684d84288e1acea93aca530c9f72862 for the patches needed to make RNN work on TV.

[2021-09-22 14:22] wouterds opened #224 "Upgrading react-native-tvos, what's the recommended way?"
For React Native I used to run `npx react-native upgrade` which automatically upgraded to the latest version, showed which files conflicted. Then I would look on https://react-native-community.github.io/upgrade-helper/ to resolve conflicts.

How is one supposed to do this for react-native-tvos? Just manually compare using upgrade-helper? And would that even be correct or should there be a separate

[2021-09-22 19:58] douglowder commented on #224
This repo hasn't done a 0.65 based release yet, so I suspect that is the source of the error you are seeing in this screen shot.  That said, I'll have a look at what the upgrade plugin is doing, and make sure it works when upgrading from a lower version to the current version (0.64.2-4).

[2021-09-22 20:28] douglowder commented on #224
Ok I investigated, and it looks like the upgrade tool is specifically designed to work with the core repo and not this one.  Specifically, `/usr/local/lib/node_modules/@react-native-community/cli/build/commands/upgrade/upgrade.js` needs to be modified to point to this repo.  Also, there would need to be changes to https://github.com/react-native-community/rn-diff-purge (or maybe a fork just for TV

[2021-09-22 20:37] #208 closed

[2021-09-22 20:38] douglowder commented on #204
@ramiro-r I believe this might be fixed by https://github.com/react-native-tvos/react-native-tvos/pull/214 , which is merged in 0.64.2-4.  Can you check?

[2021-09-26 19:55] douglowder commented on #224
I'll be tracking this in the CLI repo at https://github.com/react-native-community/cli/issues/1476

[2021-09-28 15:30] nriccar opened #225 "Undefined is not an object (evaluating 'global.performance.now')"
## Description
Suddenly the project stopped working. I already

``
rm -rf node_modules && rm -rf package-lock.json && rm -rf ios/Pods && rm -rf ios/Podfile.lock && npm install --force && npx pod-install
``

But nothing seems to work.

I also removed the app and tried cleaning from Xcode.

## React Native version:
"react-native": "npm:react-native-tvos@0.64.2-0",

## Xcode version:
13

Any ideas?

[2021-09-28 16:03] nriccar commented on #225
Tried to update to latest version and I get this after pod install

[code]

[2021-09-28 17:14] douglowder commented on #225
Two recommendations to start with:

- Move to 0.64.2-4 to pick up some RN bug fixes
- When starting the packager, use `yarn start --reset-cache` or `npm start --reset-cache`

[2021-09-28 19:36] nriccar commented on #225
Thanks for the quick response!

Updated to 0.64.2-4 and restarted the packager with --reset-cache flag, same error.

This is the package.json of the project, can it be something about a dependency?

[code]

[2021-09-28 19:44] nriccar commented on #225
A screenshot of the error log
![Screenshot 2021-09-28 at 21 37 38 (1)](https://user-images.githubusercontent.com/49196314/135155278-971bdf76-479a-4e23-b135-69ac23f55625.png)

[2021-09-28 19:45] douglowder commented on #225
Can you repro this issue with a debug bundle, so the actual stack trace can be seen?

[2021-09-28 19:47] douglowder commented on #225
Actually I think that API is not available in a release bundle.... https://stackoverflow.com/questions/57370800/how-to-access-global-nativeperformancenow-in-react-native-production-build-or

[2021-09-28 20:24] nriccar commented on #225
Interesting. Don't know why I didn't think it.

Runned on debug mode, the error log:
[code]

and:

[code]

Runned reinstall:
[code]

Same thing happens o.o

[2021-09-28 20:37] nriccar commented on #225
Tried without debug mode and:

[code]

Running forever with the id increasing by 1

[2021-10-08 10:48] #225 closed

[2021-10-08 11:41] parshantnagpalSmartData commented on #115
@douglowder Thank you very much for this

[2021-10-20 08:23] sinewave440hz opened #226 "Styling issues when switching to react-native-tvOS"
## Description
We are currently using (and cannot upgrade beyond) RN 0.63.4. When we switch to the corresponding react-native-tvOS version (0.63.4-0) we have styling issues on Android (specifically Fire TV) that are blocking our progress in the project. There are two main issues:
1. Buttons do not have a correct background colour
2. Images (using react-native-fast-image) do not size correctly

![r

[2021-10-20 10:22] etiennelab commented on #226
For the buttons background color issue I don't know, but for FastImage we had similar issue.
We fixed it with an hacky trick that is forcing zIndex on the style of FastImage: `zIndex: 0`

[2021-10-21 19:30] douglowder commented on #226
@sinewave440hz I don't think the touchable styling issue is #115 since that was specific to modals on Android.

[2021-10-22 09:35] #226 closed, assigned to douglowder

[2021-10-22 14:43] nriccar opened #227 "[question] plans on adding pan to tveventhandler?"
Hey! This is just a question. I spotted react-native-tvos-controller, but I think it’s not 100% compatible with TVEventHandler and sometimes it actually blocks the events from the remote from firing.

Any plans on integrating it? It can be really useful for seeking new time stamps on videos, for example.

Thanks!

[2021-10-25 09:17] wouterds opened #228 "React Native 0.65 (& 0.66)?"
Hi,

I'm sorry for abusing issues but found no other way to reach out. Are there any plans to upgrade to react-native 0.65, or even 0.66 anytime soon? Is there a specific reason why it's still on 0.64? Always trailing 2 versions behind or ..?

Kind regards,
Wouter

[2021-10-25 09:33] #227 closed, assigned to nobody

[2021-10-26 09:43] #228 closed, assigned to nobody

[2021-10-27 08:06] sankar9659 opened #229 "Tab bar focus issue in IOS"
I'm working on react native tv project, I m facing more focus issues in both android and IOS.
For ex, I have a top bar on my screen (like below image), And I have a keyboard on a screen.
In IOS when I press the up arrow from the keyboard the top bar is not focused for some letters (A to E). But when I click uparrow from F (Letter) button , the top bar is focused. Because the F letter only directly

[2021-10-29 08:15] sankar9659 opened #231 "Number of flatlist in a screen the app freezes for some time (Performance issue)"
Hi, we are working on a tvos project. In this we have a screen, In that screen we are having 5 flatlist, Whenever I go to the screen, the app freezes for some time, or app crashes, I'm not able to scroll the items for 30 seconds, After that only I can able to scroll the items. How to fix that issue

Here is the example code, In that component I'm using 6 flatlist. Whenever I go to this screen app

[2021-10-29 12:52] mhovanisian opened #232 "AndroidTv: onLongPress not working with remote control"
onLongPress (Touchable components) not working with remote control but only with mouse press

https://user-images.githubusercontent.com/87751719/139437791-a74c6fee-2db3-4b2a-bdc4-d646fb7efd4f.mp4

[2021-10-29 18:00] douglowder commented on #159
Thanks for letting me know. I'm looking again and it seems like the fix for `TouchableOpacity` went in, but not `TouchableHighlight`. I'll take care of that today and make sure it gets in the next release.

[2021-10-29 18:06] #159 closed

[2021-10-29 18:07] ali-sao commented on #159
Thank you for the super tremendous support @douglowder

[2021-10-29 18:34] douglowder commented on #165
@nriccar After some other items are done, I will come back to this work. I have to figure out how to make this optional so that developers who don't want this feature are not required to bring in the GameController framework.

[2021-10-29 19:14] ali-sao opened #233 "TVEventHandler and useTVEventHandler captured event repetition"
## Description
Hello and thank you for the support;
I am building a sliding component using TVEventHandler on **Android TV** when I noticed that a single event is logged twice, I used the useTVEventHandler hook for the same purpose, same side effect.

<img width="966" alt="Screen Shot 2021-10-29 at 8 57 11 PM" src="https://user-images.githubusercontent.com/6895166/139489359-35ae23dd-33ab-41cf-b2f8

[2021-10-29 19:40] douglowder commented on #231
Also, I would need to see the complete app or component, to see how `this.state.data` is generated or derived.

[2021-10-30 05:42] sankar9659 commented on #231
Its happens on TVOS both android and ios

[2021-10-30 05:42] sankar9659 commented on #231
Just the  listData is assigned to state value.

[2021-10-30 20:16] douglowder commented on #233
I do see this, and the events appear to be real (i.e. multiple firings of the key event handler in ReactRootView in the Android native code). I'll look into this to see if it is actually a bug, or just a feature of the way Android works.

[2021-10-30 20:48] douglowder commented on #231
If you could copy over the complete `App.js`, that would be great.  The code you copied here omits `renderItem`, `getItemLayout`, etc.

[2021-11-02 11:02] #231 closed

[2021-11-02 11:02] sankar9659 commented on #231
issue fixed

[2021-11-02 17:04] nriccar opened #234 "[question] Can react-navigation-shared-element be used with this repo?"
First of all, sorry for all the questions.

I promise I tried to make it work for several hours, and debugged up to the end of nodes.

This is just a simple question, again, thanks for reading and for your time.

[2021-11-02 19:49] wouterds commented on #233
Can confirm this issue, we currently wrapped our button actions with a debounce to work around this.

[2021-11-03 09:58] mhovanisian commented on #233
I have the same issue with TvEventHandler

[2021-11-03 21:41] sinewave440hz opened #235 "Different focus order tvOS/Android"
## Description

In tvOS: We have a custom `GoBack` component on a screen which is getting focus before the screen's `useFocusEffect` is run, causing the screen to lose focus immediately it is shown, effectively rendering it inaccessible.

In Android: The same `GoBack`does not get focus until the user actively backs out of the screen.

But why the different focus behaviour? Does it indicate a bug o

[2021-11-04 19:22] douglowder commented on #235
I'll take a look today

[2021-11-04 22:23] douglowder commented on #235
There are some differences in the way Android TV and Apple TV handle focus.

I had thought that React Navigation's `useFocusEffect()` runs when a navigation screen is shown.  I'm surprised it is affected by the TV focus engine since that is a completely separate thing!

I'll have to set things up so I can actually run the app... I can provide my IP address but that may not be helpful since I'm in

[2021-11-05 09:16] sinewave440hz commented on #235
Thanks @douglowder. I'll check internally about what can be done access-wise. In the same branch, there is one other blocking issue - In tvOS, once I have navigated to the main menu, I can't navigate away from it again. It also seems like a focus issue and may even be the same issue. Clearly though I'll need to dive a bit deeper and look at the focusing differences between the two platforms.

[2021-11-05 15:57] douglowder commented on #235
I did get access to work so I can now run the app.... I'll keep you posted

[2021-11-05 19:04] douglowder commented on #235
I do see that in Apple TV, your app won't be able to use the menu key for navigating back, without enabling the menu key gesture handler using the `TVMenuControl` utility. I believe the changes you want are in https://github.com/douglowder/stream-tv-app/commit/e07c43ffa72f944437c71fb113d430734de49d77

I'm continuing to look at the focus ordering issue.

[2021-11-05 19:30] douglowder commented on #235
I see that Android TV and Apple TV both work fine if you wait to activate <GoBack /> until useFocusEffect() runs, and I think that's probably what you want for React Navigation... don't show the back UI until after the screen has the navigation focus.  https://github.com/douglowder/stream-tv-app/commit/2bb4918fa5e6b750f5c0d603c353dd2c81fb21b1

[2021-11-05 22:25] douglowder commented on #234
I don't see why it would not, since it is a pure JS package. I have not personally tried it.

[2021-11-05 22:32] douglowder commented on #233
Found the issue. For arrow keys, Android is sending both key up and key down events. Probably just need to have `TVEventHandler` filter out the key down events and we should be ok.

[2021-11-05 22:48] douglowder commented on #233
I'm going to look into modifying the Android code to send key events only when key up happens.  In the meantime, developers can filter out the key down event by looking for the `eventKeyAction` in the TV events.  The value will be 0 for key down, 1 for key up. So on Android, only run your event handler when the value is 1.

[2021-11-06 00:24] ali-sao commented on #233
Brilliant, thank you so much @douglowder

[2021-11-08 07:13] sinewave440hz commented on #235
Thanks for both of these suggestions @douglowder, very useful. The original issue is solved with this. However, there is this issue with the nav menu where I can't navigate away from it, once it has focus. I suspect that tracking this would be useful for others too...shall I create a new issue for that?

[2021-11-08 07:58] douglowder commented on #235
I think the problem that you are having is that once you move to the nav menu, you are near the top and there are no focusables directly to the right -- the focusables are all way down below.  In this case, you may want to create a `UIFocusGuideView` for Apple TV, or use the `nextFocusRight` API for Android TV.  If this is not the problem, then go ahead and create a new issue for it.

[2021-11-08 08:15] douglowder commented on #235
For example, I think this hack (which makes the entire Preview component focusable) actually makes it so you can navigate away from the left hand menu. https://github.com/douglowder/stream-tv-app/commit/fd4e1282ead8f8d8bbae031853d275aef0dea578

[2021-11-08 08:28] sinewave440hz commented on #235
Aha, yes, that's great thank you. Following your suggested hack gets me away from the menu, but doesn't quite give me the focus behaviour I need; We need focus going straight to the top swim lane in this case. I should be able to get that to work using something similar.

Is there a convenient way of debugging focus issues like this? Some way of presenting a list of current focusables, such that o

[2021-11-08 09:03] sinewave440hz commented on #235
Still not sure actually whether I should create a new issue for this. To clarify a bit, the android navigation away from the menu works correctly - I expect that nextFocusRight is used correctly there by react-navigation. In tvOS however, we are relying on `hasTVPreferredFocus` being updated correctly per `DigitalEventItem`, which isn't happening when the menu item changes. Looking at how to get t

[2021-11-09 05:20] douglowder commented on #235
Yes please create a new issue for this. The right way to fix this is with `TVFocusGuideView`, but it seems tricky to get that to work correctly in this app for some reason.

[2021-11-09 08:12] #235 closed

[2021-11-09 16:02] sinewave440hz opened #236 "Unsure how to best use the TVFocusGuideView to solve our navigation menu focus issues"
## Description

As discussed in #235 (Different focus order TV/Android), we are having trouble setting the correct focused elements with our custom NavMenu. I have tried a few ways, but am unsure how best to use the `TVFocusGuideView` here or indeed if this reveals a bug somewhere.

## React Native version:
Our main repo is running on 0.63.4-0 but to rule out update issues I upgraded here to lates

[2021-11-09 22:21] sinewave440hz commented on #236
Update: I've partially fixed the navigation by adding `TVFocusGuideView`s to all the navigable screens in the NavMenu. I've also added a `TVFocusGuideView` in the navMenu itself. It's not working correctly, but I think that may be because of the custom focus logic in the navMenu, which I don't quite follow right now... [here is the latest commit](https://github.com/royaloperahouse/stream-tv-app/co

[2021-11-10 02:45] douglowder commented on #236
I will take a look at your commit and test that out 😊

[2021-11-10 10:47] sinewave440hz commented on #236
Thank you! A quick rundown of the two current problems here:

1. When navigating back to the menu from the swim lanes, an extra press up/down is required to be able to move among the menu items. Presumably the focus is grabbed by the wrong component initially, due to incorrect set up of the menu's TVFocusGuideView
2. When navigating among the menu items, I update a ref to the active menu item. Whe

[2021-11-15 01:21] douglowder commented on #236
@sinewave440hz I have a solution for current problem 1: https://github.com/douglowder/stream-tv-app/commit/572a79409a69512573855fe518c93d5184163933

Still working on number 2.

[2021-11-17 02:30] douglowder commented on #236
Number 2 is interesting. Adding some debugging code around the `useLayoutEffect()` calls in the opera and ballet screens, it seems like the screens are rerendering when you navigate down the list, but not when you navigate back up. Some kind of `react-navigation` optimization, maybe.

The only way I could find to solve the issue so far (this is not ideal) is to add a hasTVPreferredFocus to the off

[2021-11-17 09:53] sankar9659 opened #237 "Focus missing issue while navigate from one screen to another screen and back to the previous screen"
Hi, I'm working in react-native tvos project, In that, I'm facing one issue, that is, for example, I'm on the home page, in that page I m having some of the focusable grid contents, Initially, the focus was set to one of the touchableopacity content of the screen, If I click any one of the content, I redirect to another page (demo page), Then when I press the back button, the screen is navigated t

[2021-11-17 17:13] TrebuhD commented on #237
We currently accomplish this by storing the id of the previously focused element inside redux and setting `hasTVPreferredFocus={itemUniqueId === storedItemId}` on the component. This is obviously not ideal as it requires a lot of boilerplate.

There's a discussion [here](https://github.com/react-native-tvos/react-native-tvos/issues/206) to create an API to streamline this.

Also, there's [this pro

[2021-11-17 18:02] douglowder commented on #237
Please provide source for the project shown in the video, and I'll take a look :)

[2021-11-18 00:50] nriccar commented on #237
I had the same issue and manage to solve it passing the ref component as a prop on navigation and finding it when the onback event is called, but it is a buggy implementation.

It would be awesome to have this out of the box.

Cheers!

[2021-11-18 16:47] nriccar commented on #165
Thank you Douglas.

Can we help in any way? We really need this feature.

🙌🏼

[2021-11-19 10:30] todorone commented on #237
Also experiencing this issue with `react-navigation`'s stack navigator. Pretty bad thing that the focus is flaky when goBack() to the previous screen. It's probably the result of the race condition of setting the focus commands.

[2021-11-20 00:07] douglowder commented on #237
I think this would only work out of the box if `react-navigation` is modified to actually know about TV focus and automatically implement something like what @TrebuhD suggests (tracking item IDs or refs and restoring focus when navigating back).  At the moment, `react-navigation` doesn't know anything about TV-specific APIs.

[2021-11-20 01:11] #234 closed

[2021-11-20 01:31] douglowder commented on #233
In further investigation, I find that this was introduced in https://github.com/facebook/react-native/pull/25300 , and is mentioned in https://github.com/facebook/react-native/issues/25979 as a problem. The change doesn't look like it is going to be useful, especially for TV, so I'm backing it out for this repo.

[2021-11-20 02:19] douglowder commented on #232
@mhovanisian I have a simple implementation working that sends `longSelect` instead of `select` if the center button is pressed for more than 1 second.  In testing this, it seems that Android TV starts sending multiple down events if the button is pressed for a long time, so it would be possible to detect a long press that way as well.  Please take a look at #238 and let me know your thoughts.

[2021-11-20 02:35] #186 closed

[2021-11-20 02:41] douglowder commented on #165
@nriccar I'm now working on this again, will keep you updated here.  Work will be in `tvos-corner-click` branch.

[2021-11-20 14:12] nriccar commented on #165
Great! Thank you Dogulas!!

[2021-11-22 09:43] mhovanisian commented on #232
@douglowder looks good, thank you

[2021-11-22 10:02] sinewave440hz commented on #236
Hi, your solution worked for the first problem - thanks! As regards problem two, I saw the same issue with re-rendering. I did as you suggested there and something very hacky on the settings screen in a similar vein (we need to be able to activate subscriptions in the settings menu now in order to test video playback - this is now possible).

If I get a free moment I can also investigate this more

[2021-11-22 15:26] TrebuhD commented on #237
to expand a little, here's one way you could solve this:
- inside your global store (e.g `redux`) you would have a `shouldRefreshFocus` variable as well as one `lastFocusedItemId` for each screen. Update the last focused item ID inside every touchable's `onFocus` event handler.
- using [navigation events](https://reactnavigation.org/docs/navigation-events/#navigationaddlistener), you can hook into

[2021-11-22 17:51] TrebuhD commented on #206
here's another interesting approach from [ink, the React renderer for CLIs](https://github.com/vadimdemedes/ink#usefocusoptions).

[2021-11-24 12:16] sankar9659 commented on #237
I have tried this method. It's working good, But it seems it's a temporary fix and lot of boilerplate codes.

[2021-11-24 21:22] douglowder commented on #165
I'm still working on surfacing corner clicks and left/right clicks of the Siri remote.

For completeness, I should point out that for video use cases, there is a specific native API for MediaPlayer... it is discussed here: https://developer.apple.com/news/?id=33cpm46r

Depending on how your custom video player works, you may want to use `MPRemoteCommandCenter` APIs to hook up your methods to skip

[2021-11-26 15:47] mhovanisian opened #239 "Android TV: Keyboard placement"
Is it possible to add this feature ?

https://developer.android.com/training/tv/start/onscreen-keyboard#placement

[2021-11-29 08:04] serge-sky commented on #239
+1

[2021-12-01 22:39] sidferreira opened #240 "Upgrade to 0.66.2?"
I just found out about `react-native-tvos`, but our project is based on `rn 0.66.2`.
I wonder if it is possible to monorepo it or something, or an "easy" way to apply the current changes to newer RN branches...
Or that's actually "too different to reconcile"?

[2021-12-03 20:03] douglowder commented on #240
This subject is covered in the first item in the FAQ: https://github.com/react-native-tvos/react-native-tvos/wiki/FAQs

Among other things, supporting tvOS requires an additional tvOS Xcode scheme to be added to the Xcode project for your app. This and a number of other changes would be difficult to support as a patch.

I will move this repo to 0.66.x in the near future, after dealing with some ot

[2021-12-03 20:26] douglowder commented on #165
@nriccar the code in tvos-corner-click branch is indeed functional. I don't think it's quite ready to merge to the main repo, but it would certainly be easy to patch `node_modules/react-native` in your existing project with this:
https://github.com/react-native-tvos/react-native-tvos/compare/tvos-v0.64.2...tvos-corner-click.diff

The current implementation requires that you add a post_install step

[2021-12-03 21:01] sidferreira commented on #240
@douglowder our project is very old, we still have a tvOS scheme there 😄 I just want to avoid a 2nd repo just for TV...

[2021-12-07 16:09] nriccar commented on #165
Thank you Douglas! Will check it

[2021-12-07 20:24] miblanchard commented on #15
The NFL app on tvOS, Android TV and FireTV are all built with this fork!

[2021-12-11 03:52] douglowder commented on #165
@nriccar @andremaximino-wit @NickFoden I did some testing today with `react-native-video`, and the `Video` component does support the corner click events natively, without any need for the changes I've been testing. Specifically, if you put the video in full screen mode (see example at https://github.com/react-native-video/react-native-video/blob/master/examples/embed-and-fullscreen/index.ios.js),

[2021-12-15 17:32] ali-sao commented on #143
Make sure you change it inside `info` tab while selecting the project-tvOS target as well.

[2021-12-20 18:24] frankenthumbs commented on #240
i have an iteration of upgrading to 0.66.4 here: https://github.com/frankenthumbs/react-native-tvos/tree/tvos-v0.66.4
i'm stuck on running `./scripts/tvos-test.sh`, most of the tests seems fine.

some of the color tests are failing (i believe its failing on this repo as well)
[code]
as well as the more concerning UI snapshot tests. I believe we need to get new snapshots of these tests but i'm not

[2021-12-22 08:44] douglowder commented on #240
Thanks @frankenthumbs for the work and for the heads up about the test failures. I've got a branch going for the upgrade (tvos-v0.66.3) and did notice that the commits for RNTester are not applying cleanly, seems that there have been quite a few changes there. I'll be looking into that next and hopefully figure it out.

[2021-12-22 22:02] mhovanisian commented on #232
Hi @douglowder, is the next release coming soon ?

[2021-12-22 22:17] douglowder commented on #232
Yes indeed

[2021-12-23 18:28] frankenthumbs commented on #240
Hey @douglowder thank you for your quick response during the holiday season and all your work. I think i'll keep working on that branch just for my own edification but we'll probably end up going with your branch :D

Please let us know if we can help in any way.

[2021-12-27 20:13] douglowder commented on #240
@frankenthumbs After fixing some merge issues, I now have all the tests working. The failures in the color tests were due to the fact that some of the colors in the list don't exist on tvOS.  There's still a bit more work to do but things are looking up :)

[2021-12-30 01:05] GustavPS commented on #15
Using this to build an app line plex/emby for Android TV 😊

[2021-12-30 03:54] #145 closed

[2022-01-01 20:52] douglowder commented on #236
@sinewave440hz were you able to resolve issue number 2?

[2022-01-01 20:52] douglowder commented on #233
Fixed in 0.64.2-5.

[2022-01-01 20:52] #233 closed

[2022-01-01 20:53] douglowder commented on #232
@mhovanisian this is now released in 0.64.2-5

[2022-01-01 20:53] #232 closed

[2022-01-02 00:50] douglowder commented on #240
I have all the TV patches from the 0.64 release train applied, and all RNTester integration and unit tests pass. Here is a test build:
[react-native-tvos-0.66.3-0.tar.gz](https://github.com/react-native-tvos/react-native-tvos/files/7798407/react-native-tvos-0.66.3-0.tar.gz) I'll be testing this with the React Native CLI new project generator, the React Native TV Typescript template, and various ot

[2022-01-02 16:03] GustavPS commented on #159
Hi, just saw this issue for TouchableHighlight. Have it been merged yet? Having the exact same issue

[2022-01-02 21:50] douglowder commented on #240
Release looks good and is published to NPM. See release notes at https://github.com/react-native-tvos/react-native-tvos/releases/tag/v0.66.3-0

[2022-01-02 21:50] #240 closed

[2022-01-02 21:51] douglowder commented on #228
@wouterds I just published the 0.66 release, see https://github.com/react-native-tvos/react-native-tvos/releases/tag/v0.66.3-0

[2022-01-02 21:52] douglowder commented on #17
In testing the latest release of this repo (0.66.3-0) with tvOS 15.2, it seems that all of the issues with the `TabBarIOS` component have been resolved. Swiping down from the tab bar works normally now. So I'm closing this issue.

[2022-01-02 21:52] #17 closed

[2022-01-03 01:01] douglowder commented on #159
@GustavPS This is merged in 0.64.2-5 and 0.66.3-0. Let me know if you see any issues.

[2022-01-03 01:56] miblanchard commented on #240
@douglowder - Thanks again for your great work with this.

[2022-01-03 05:12] douglowder commented on #240
@miblanchard You're welcome!

[2022-01-03 07:35] GustavPS commented on #159
Ah, I'm running 0.64.2-4. I'll try 0.64.2-5 👍

[2022-01-03 15:56] mhovanisian opened #249 "TvEventHandler eventKeyAction to 0"
Looks like the tvEventHandler no more trigger eventKeyAction to zero like before
![Capture d’écran du 2022-01-03 16-54-47](https://user-images.githubusercontent.com/87751719/147951765-1d75b87a-a27f-4a0d-8f34-cd2db878b4db.png)

[2022-01-03 19:02] douglowder commented on #249
This is expected, and is a side effect of the fix implemented for #233 .

[2022-01-03 19:02] #249 closed

[2022-01-03 23:07] douglowder opened #250 "Support Fabric on TV"
Using this issue to track changes for supporting the Fabric renderer on TV in 0.66+.  Facebook is starting to roll this out so this is a good time to begin work.  https://reactnative.dev/docs/fabric-renderer

[2022-01-05 12:53] NikitaGura commented on #233
Hello @douglowder, would be great to have info about key up/down for ATV and TVOS as well. I will wait impatiently. Thanks for your work :)

[2022-01-05 22:19] douglowder commented on #233
@NikitaGura after this change, we are only sending keyUp events on Android. tvOS has never sent key up or key down events. It is using a gesture recognizer that emits an event when a tap gesture is detected for arrow keys, menu key, etc.

[2022-01-11 08:05] wouterds commented on #228
Happy new year & thank you!

[2022-01-11 08:11] wouterds commented on #224
I tried upgrading running

[code]

[code]

[code]

but none of those commands work, how are you supposed to use it with react-native-tvos?

[2022-01-11 08:49] NikitaGura commented on #233
@douglowder  thanks for answer. I created custom long press logic in js code which worked with keyUp and KeyDown. In new version unfortunately this not work.
For TVOS I just added keyUp and KeyDown and patch react-native, but for ATV I faced with problem of patching. Application did not recognise changed java code in node module react-native. Do you know how rebuild react native module for android

[2022-01-11 09:01] douglowder commented on #233
Clone this repo, then in the `react-native-tvos` directory, do `npm install` or `yarn`, then `gradlew :ReactAndroid:installArchives`.

This will create Android artifacts in the `android` directory. This should be used to replace the existing `node_modules/react-native/android` directory in your project.

[2022-01-11 09:05] douglowder commented on #224
What version of `@react-native-community/cli` are you using?

[2022-01-11 09:07] wouterds commented on #224
My bad, I thought npx always downloaded the latest version at runtime, seems to be not the case. Installing it globally works with the latest version.

[2022-01-11 14:48] PDabek-StreamitApp commented on #233
In our project we are also facing problems due to these changes. I have tried the solution you have suggested with building `android` directory separately, but it seems to be quite problematic to maintain.

Is there any other way to fix/patch this?

Huge fan of this repo anyway!

[2022-01-11 20:43] douglowder commented on #233
@etiennelab @PDabek-StreamitApp @NikitaGura I will look into making the keyDown events optional. It seems like there are scenarios like yours where they are useful, but they cause problems in other use cases. I'll create a new issue for this.

[2022-01-11 20:47] douglowder opened #251 "Android TV: create a prop that controls firing of keyDown events"
keyDown events were removed to fix the issue where each key press resulted in two events surfaced in TVEventHandler on Android.

However, this breaks certain use cases for some TV developers.  See discussion in #233 .

We need a prop for Android that controls whether keyDown events are fired or not.

[2022-01-12 08:22] PDabek-StreamitApp commented on #233
Thanks @douglowder ! looking forward to this!

[2022-01-13 14:51] kparma opened #252 "Android TV: Keyboard events not always working"
### Description

When using RN on Android TV `keyboardDidShow` and `keyboardDidHide` aren't always fired even though the virtual keyboard had been shown, or is shown just when you type the first letter on the gboard. In some cases event is fired just when the native Android TV mechanism is making the screen to slide up.
This also causes further bugs when using `KeyboardAvoidingView`.

### Version

[2022-01-13 22:03] douglowder commented on #252
@kparma thanks for the bug report. Could you see if this reproduces in 0.66.3-0? Also, is it reproducible in emulator, or does it require a real Android TV device?

[2022-01-14 09:03] kparma commented on #252
@douglowder hi, firstly thanks for a terrific work you do making this project. I really love it :)
I'll try to check it on 0.66.3-0. It's reproducible on emulatators. I've use API version 29.

[2022-01-14 19:17] sidferreira opened #253 "[Question] AppleTV Compatibility"
What AppleTV devices were tested and known to work?

[2022-01-15 18:37] miblanchard opened #255 "Path to hermes tvOS"
Hey @douglowder, I see in the docs that hermes is currently not available for tvOS.  I'm curious how deep you've investigated what it would take to add that support?  I'll admit I haven't looked into what went into adding iOS support to hermes, though I recall a strong series of info from callstack about this.

I'm interested in anything you are able to share.

Thanks again.

[2022-01-15 18:40] douglowder commented on #255
Callstack did the work to support Hermes on iOS architectures, but not tvOS (which is arm64). I'm sure it can be done but it would be a significant effort. @grabbou might be able to add more detail on what needs to be done.

[2022-01-16 21:45] douglowder commented on #253
Referring to the list of models on https://support.apple.com/en-us/HT200008 :

Tested and known to work:

- Apple TV HD (A1625)
- Apple TV 4K 1st generation (A1842)
- Apple TV 4K 2nd generation (A2169)

I believe RN should also work on Apple TV 3rd generation (A1427 or A1469), but am not 100% certain.

Not sure it will work on Apple TV 2nd generation (A1378).

It will not work on Apple TV 1st gene

[2022-01-16 21:45] #253 closed

[2022-01-17 13:38] 1stmuse commented on #233
how can i import TVEvenHandler from "react-native"

[2022-01-18 02:02] serge-sky commented on #239
can be used as prop in **com.facebook.react.views.textinput.ReactTextInputManager**
[code]

[2022-01-22 18:15] hotrush opened #257 "App crashes on TextInput changes"
App crashes in emulator when i'm adding TextInput and trying to input some text. From logs I found the next error:

[code]

## React Native version:
[code]

## Steps To Reproduce

1. Just create an empty project from this template https://github.com/react-native-tvos/react-native-template-typescript-tv

[code]

2. Update tvos lib to the latest version

3. Modified `App.tsx` to have the next code a

[2022-01-22 20:50] douglowder commented on #257
This is the same as https://github.com/facebook/react-native/issues/30346 -- thanks for supplying a reliable repro case

[2022-01-23 13:00] hotrush commented on #257
After some research i found that it happens only when I use virtual keyboard, with hardware keyboard seems to be ok

[2022-01-23 22:45] douglowder commented on #233
@etiennelab @PDabek-StreamitApp @NikitaGura please see #258 for my proposed fix.

[2022-01-25 12:20] PDabek-StreamitApp commented on #233
Looks great - thanks!

[2022-01-26 00:38] #251 closed

[2022-02-03 02:42] douglowder commented on #250
Fabric now working fully on tvOS for `View`, `Text`, `TextInput`, `ScrollView`, `Touchable`,  `Pressable`, and most other components.  Parallax properties are working.  Not working yet: `TVTextScrollView`, `TVFocusGuideView`, and `nextFocusUp/Down/Left/Right`, `ModalHostView`,

[2022-02-05 13:10] beauner69 opened #261 "Adding latest Expo modules (v44) to react-native-tvos"
Headline: It doesn't build unless you limit your Podfile to iOS or tvOS target (not both)

## Description

I am trying to get the latest expo-modules working with the latest release of react-native-tvos. From what I understand they should be generally compatible.

The expo modules installation method has changed:
https://docs.expo.dev/bare/installing-expo-modules/

My goal is to get it to build co

[2022-02-05 18:36] douglowder commented on #261
I'll take a look (may be a few days), and track the issue in your PR, as it is expo-specific.

[2022-02-07 19:08] samandarkuchkarov commented on #15
Using this to build android tv  project 😄

[2022-02-08 11:03] beauner69 commented on #261
I can confirm that, once you get it to build on tvOS (by removing iOS from the podspec), the following modules work properly in tvOS:

expo-font
expo-keep-awake
expo-linear-gradient
expo-blur

[2022-02-08 16:03] tombotley opened #262 "Inverted FlatList reverses directional keys on Android TV"
## Description
I am working on an Android TV app built with react-native-tvos:  0.66.3-1. I am making use of Flatlists which need to be inverted to achieve RTL layout. We have an Apple TV app in production that makes use of this and it works fine however on Android TV it reverses the directional keys when moving focus between FlatList items so left is right, up is down and vice versa.

## React Na

[2022-02-13 20:23] douglowder commented on #262
The problem appears to be a bug in the Flatlist implementation on Android. I dug into the JS code, and it seems as though the only thing that the "inverted" property should be doing is changing flexDirection.  So I redid your app as follows, taking out the "inverted" property and modifying "contentContainerStyle". This seems to fix the issue. I'll see what else is going on with Flatlist (and I sup

[2022-02-15 09:41] tombotley commented on #262
Thanks for the workaround. I'll use the combination of row-reverse and scrollToEnd in the onLayout event to achieve what I need.

[2022-02-16 03:55] douglowder commented on #257
Testing with 0.66.3-1, I don't reproduce a crash, either with virtual or physical keyboard.

[code]

[2022-02-16 03:55] #257 closed

[2022-02-18 19:49] yuriazevedo11 opened #263 "[Android TV] D-pad navigation scrolls list instead of of focusing on next item (large lists only)"
## Description
Hey @douglowder, first off, huge fan of the work here 👏 .
Can you help me out with this one?

I'm having the exact same problem stated on both issues on the core repo, but this is also happens on react-native-tvos (tested on latest version, 0.66.3-1):
- https://github.com/facebook/react-native/issues/26133
- https://github.com/facebook/react-native/issues/20099

Unfortunatly I wasn'

[2022-02-18 20:40] douglowder commented on #263
I'll take a look!

- Do you have a working example I can start up and try?
- Have you tried setting `focusable={false}` on the ScrollView?

[2022-02-18 20:54] yuriazevedo11 commented on #263
Still doesn't work with `focusable={false}`. I'll create an example based on the screen we are working on

[2022-02-18 21:57] yuriazevedo11 commented on #263
Created a new react-native-tvos project with template `react-native-template-typescript-tv`
![Screen Shot 2022-02-18 at 18 57 17](https://user-images.githubusercontent.com/51724047/154766775-43882339-09aa-4a82-bfae-fa6dad2fcb95.png)

Using emulator: ![Screen Shot 2022-02-18 at 18 55 44](https://user-images.githubusercontent.com/51724047/154766604-79ed1238-ef00-476b-8d97-dc10413bfeb7.png)

[code]

[2022-02-18 23:15] douglowder commented on #263
Well for me, the focus does indeed move to the next item as expected. I'm seeing correct behavior (as far as I can tell) on Android TV emulator.

[2022-02-18 23:25] douglowder commented on #263
Here is what I am seeing...

https://user-images.githubusercontent.com/6577821/154773919-70005e71-81ef-42d2-af11-c693026d10e8.mov

(I made a couple of minor changes to your app for correct initialization and easier visibility of the cells...)

[code]

[2022-02-18 23:48] yuriazevedo11 commented on #263
Which Android version is your emulator running?

This problem only happens on versions: 7 ~ 8, it works as expected on 9+. My bad if I wasn't clear about it

[2022-02-19 01:59] douglowder commented on #263
Yikes I will fire up a different emulator then. May not be fixable but we'll give it a shot.

[2022-02-19 02:10] douglowder commented on #263
Wow it is really messed up on API 26. Looks like it might be related to https://stackoverflow.com/questions/54904603/android-tv-focus-moved-to-view-in-scrollview-that-is-outside-visible-part-of-sc

I'll try a few things.

[2022-02-19 15:25] yuriazevedo11 commented on #263
Where should I set `accessible={false}`? I tryed using it on the ScrollView, no changes (API 25)

[2022-02-20 23:16] douglowder commented on #263
Hmm I set `accessible={false} focusable={false}` on API 26, and do see an improvement. I'll test API 25.

[2022-02-21 02:26] douglowder commented on #263
Ok API 25 still shows bad behavior with ScrollView.  Best solution: use FlatList. :)

For FlatList, you have to specify the number of columns, which appears to be 2 for your layout and component sizes on Android TV.

[code]

[2022-02-21 15:40] yuriazevedo11 commented on #263
Cool, I'll try this

[2022-02-23 09:13] lnwanghao opened #264 "[Discussions and Proposals]Is there any way to control focus move to specific button on android?"
## Description
Sometimes, there will be some requirements that specify the focus. For example，4 buttons on the page,  ABCD；I want to move focus from A to D directly;

![image](https://user-images.githubusercontent.com/17587836/155289650-3e5d8787-edff-4604-afa0-956156bd2683.png)

TouchableHighlight nextFocus are inconvenient to use。

[2022-02-23 10:50] lnwanghao commented on #264
I've tried this before.But the button has default behavior, for example，foucs is on A now and click right, B gets the focus first, and then D gets the focus.

[2022-02-23 10:50] lnwanghao commented on #264
I've tried this before.But the button has default behavior, for example，foucs is on A now and click right, B gets the focus first, and then D gets the focus.

[2022-02-23 10:51] lnwanghao commented on #264
I've tried this before.But the button has default behavior, for example，focus is on A now and click right, B gets the focus first, and then D gets the focus.

[2022-02-23 11:08] nriccar commented on #264
I see. Thats the expected behaviour, I think.

But! for the nextFocus that should not happen, as I see it it should focus directly the D component

[2022-02-23 11:56] lnwanghao commented on #264
Can you provide some code examples about how to use nextFocus？I was confused with [https://reactnative.dev/docs/view#nextfocusdown-android](react native document).
Thanks~

[2022-02-23 17:01] nriccar commented on #264
I think there's an example on https://github.com/react-native-tvos/react-native-tvos/blob/740fecdaef5ebc3460e312685228f6501efe53db/packages/rn-tester/js/examples/DirectionalNextFocus/DirectionalNextFocusExample.js

Basically, what you need to do is store the ref of the component you want to force focus to, in this case D:
[code]

And from the component you want to force the next focus, in this cas

[2022-02-23 22:06] douglowder opened #265 "Apple Silicon (M1) troubleshooting guide (RN 0.64/0.65/0.66)"
In case any developers here are using Apple developer machines with M1 processor, this is a great troubleshooting guide posted on the main React Native repo:

https://github.com/facebook/react-native/issues/31941

Reproducing here for visibility. Thanks to @kelset and @mikehardy for creating this!

[2022-02-24 02:32] lnwanghao commented on #264
It works well! I think the point is how to store each ref the button want to move and how to update it.
Thanks!

[2022-02-24 05:59] #264 closed

[2022-02-24 11:37] nriccar commented on #264
Yes! The main thins is being clean storing the refs.

Glad it helped!

[2022-03-07 15:34] yuriazevedo11 commented on #263
Sorry for the late response, worked like a charm :)

Still don't know exactly why this problem happens on these API levels, but thanks alot, it was a huge help

[2022-03-07 15:34] #263 closed

[2022-03-11 20:43] miblanchard opened #274 "Upgrade Plan/Timeline"
With the core team's stated goal of more frequent react-native releases, do you have an opinion/corresponding target for how closely this fork will follow the main react-native releases?    
I’m in no way trying to ask when a specific react-native release will appear in this fork.  I’m just curious to understand what you would prefer.

[2022-03-12 01:41] #250 closed

[2022-03-12 01:49] douglowder commented on #274
@miblanchard this is a very good question, and the answer will depend very strongly on the nature of the releases from the core team.

In the past, it has been very common for each release to have quite a lot of changes under the hood that break TV (especially Apple TV), so quite a bit of work is needed to take the release and cleanly patch in the TV support.

If it turns out that RN core is going

[2022-03-15 13:29] freeboub opened #279 "Crash when using keyboard on inputText"
## Description

When we are using Input on Android 11 device in some case we generate following crash:

03-15 13:13:19.923 12015 12015 D AndroidRuntime: Shutting down VM
03-15 13:13:19.927 12015 12015 E AndroidRuntime: FATAL EXCEPTION: main
03-15 13:13:19.927 12015 12015 E AndroidRuntime: Process: com.starhub.tv.stb, PID: 12015
03-15 13:13:19.927 12015 12015 E AndroidRuntime: java.lang.NullPointer

[2022-03-15 20:55] douglowder commented on #279
Correction -- the issue you are seeing has a different stack trace. I'll have a look and implement a fix.  Seems like this might affect RN core so the fix should be merged there as well.

[2022-03-15 21:45] freeboub commented on #279
@douglowder I already check react-native code, I can confirm this is react-native-tvos only.
I was not able to reproduce the issue on android 10, I don't really understand why ...

A trivial fix would be to move this code:

[code]

Inside the if(view != null), but I am not sure of possible side effects.
I didn't build react-native from source yet, then I cannot try a fix for now...

Thank you

[2022-03-15 21:53] freeboub commented on #279
minor, but notice that is line is useless:
https://github.com/react-native-tvos/react-native-tvos/blob/740fecdaef5ebc3460e312685228f6501efe53db/ReactAndroid/src/main/java/com/facebook/react/views/textinput/ReactTextInputManager.java#L1080

[2022-03-15 23:12] douglowder commented on #279
Thanks @freeboub this does seem to be a regression due to the fix in https://github.com/react-native-tvos/react-native-tvos/commit/8dcf4dd0eedcceab6eaa9981d776654fd1c71733 . Agreed that line 1080 is not useful. This is a merge of a fix from an earlier RN version so maybe the merge had issues. I'll take a look.

[2022-03-16 11:37] JackAlexRose opened #280 "Jest setup fails when using this as a Jest preset"
## Description
My company is using this NPM package in our TVOS and Android TV project. I am setting up Jest testing in a Jest projects solution as our react native package exists inside a monorepo.

## React Native version:
From my package.json: "react-native": "npm:react-native-tvos@0.66.3-2",

## Steps To Reproduce
Below is my jest.config.js

[code]

and my package.json:

[code]

And finally my

[2022-03-16 17:27] douglowder commented on #280
@JackAlexRose thanks for the bug report. Is this something that can be reproduced with a new project created with a TS template, e.g.

[code]

Alternatively, do you have a demo project that reproduces this error?

Do you see this error in RN core 0.67 release, or 0.68 release candidates?

[2022-03-16 18:09] douglowder commented on #280
Your `react-test-renderer` version is too low for your `react` version I think

[2022-03-17 01:15] douglowder opened #281 "Move to RN 0.68"
Tracking work here for the move to 0.68 and the rollout of the new RN architecture (a.k.a. Fabric).  See also #250 and #278 .

I have created new branch https://github.com/react-native-tvos/react-native-tvos/tree/tvos-v0.68.0 off RN core 0.68-stable branch, and merged all the TV changes from 0.66.3 there.

Working:

- RNTester works when built with Fabric enabled or disabled on Apple TV
- `scripts

[2022-03-17 01:19] douglowder commented on #279
Fixed in release 0.66.3-3

[2022-03-17 01:19] #279 closed

[2022-03-17 01:27] douglowder commented on #274
Note that 0.68 upgrade is already happening, see #281

[2022-03-25 21:44] freeboub opened #283 "Android TV: Keyboard automatically open when pressing numeric key in specific conditions"
## Description

Keyboard automatically open when pressing numeric key (KEYCODE_1, ... ) after removing an InputText from the View on AndroidTV (not tested on ios, but not sure it makes sens as there is no key number on apple TV)

## React Native version:
0.66.3-3

## Steps To Reproduce
Run following sample. This is just a dummy InputText which is removed from main View onSubmit.
Once you end typin

[2022-03-28 20:21] freeboub commented on #283
Try to investigate:
- when the issue happen, android layout inspector confirm that the ReactEditText is well removed from the global layout
- This is reproduced with official react-native 0.66.3
- When the issue present (keyboard opens when it should not), the android Activity doesn't receive onKeyDown ( but correctly receive onKeyUp )

[2022-03-30 23:16] douglowder commented on #281
First release is out, see the latest release notes.  Closing this, and will track the TabBarIOS work in a separate issue.

[2022-03-30 23:16] #281 closed

[2022-03-30 23:17] #280 closed

[2022-03-30 23:20] douglowder commented on #283
@freeboub please try setting the feature flag for onKeyDown events. See https://github.com/react-native-tvos/react-native-tvos/pull/258 .

[2022-03-31 11:15] freeboub commented on #283
Hello @douglowder,
Unfortunnatly it doesn't work... (and notice that shouldDispatchEvent is not called due to dispatchKeyEvent(KeyEvent ev) with action KEY_UP not called ...)
I try to put a lot of logs in react-native (built from source), and I cannot point anything for now...
I tried following things:
- Add traces in ReactActivity onKey and implement dispatchKeyEvent -> nothing the KeyDown is nev

[2022-03-31 11:18] freeboub commented on #283
Maybe should I clone this issue on offical repo as it seems to be generic issue ?
I think this is very important with TV integration, but very low criticity on mobile devices ...

[2022-04-06 08:54] DrRefactor opened #291 "Last focused view's reference is held even after it's detached from window"
### Description

RCTRootViewInternal.h helds strong reference to preferred focus view:

[code]

which is saved each time hasTVPreferredFocus is used to focus element (RCTTVView.m):

[code]

Due to reactPreferredFocusedView being strong reference, it's not released even if element unmounts.
This leads to bugs in my code, as I base some of native focus management on native code, where I store last f

[2022-04-06 10:56] DrRefactor commented on #291
Sadly, changing this reference to weak doesn't cause proper immediate reference release on unmount... I'll dig deeper and propose solution

[2022-04-06 13:57] DrRefactor commented on #291
I created PR with potential fixes:
https://github.com/react-native-tvos/react-native-tvos/pull/292

[2022-04-06 18:30] douglowder commented on #291
I'll take a look... did you consider just setting the reference to nil in the dealloc method?

[code]

[2022-04-08 06:47] freeboub commented on #283
Here are some addtionnal informations:
- to workaround the issue I tried to implement by own InputText component (I can share it if needed), but the same issue is reproduced with a custom component, so I think we can asume the issue is not directly linked to EditText management in react-native. It's really looks like a low level issue. Maybe a reference leak ...
- I found an 'ugly' workaround whic

[2022-04-08 13:13] DrRefactor commented on #291
Thanks for quick response!

Isn't it just dealloc for RCTRootView? Remounting RCTRootView is not a part of above reproduction, just some far nested views.

[2022-04-08 19:32] douglowder commented on #283
Thanks for the detailed information and repro, and for creating the new issue for the core repo. I'll see what the RN core Android developers think about what the issue really is, before picking this up.

[2022-04-08 19:35] douglowder commented on #291
Ok I've merged your PR and will get that into the next release.

[2022-04-08 19:38] DrRefactor commented on #291
Thanks a lot for blazing fast response and review!

[2022-04-08 22:50] philippbb opened #293 "flipper in 0.68"
### Description

hi,

Sorry if this question has been asked before.

In the latest hello world template I don't find flipper anymore.
I was looking forward to use use_flipper_tvos! in the Podfile but it can't find this flipper command.

kind regards and thank you for an answer.

### Version

0.68.0

### Output of `npx react-native info`

OS: macOS 12.2
    CPU: (10) arm64 Apple M1 Pro
    Memory:

[2022-04-11 15:09] nnomadic commented on #16
Any updates on this issue?

[2022-04-11 18:26] douglowder commented on #293
Sadly, Flipper has a LOT of dependencies that are built for iOS only. I did get it to work, at considerable effort, in an earlier version of React Native, but haven't been able to get it to work since. I'll have a look at what the core team is doing in 0.68 and see if it's easier to make it work now.

[2022-04-11 18:28] douglowder commented on #16
Ok ok now that 0.68 is out I will take another look at getting this done. :)

[2022-04-11 19:27] douglowder commented on #16
I have this working with commit https://github.com/react-native-tvos/react-native-tvos/commit/958134dcdb03d54c33ff98316246359b72caadbe -- now figuring out the best way to allow it to be turned on and off (probably the same one we use to enable/disable menu key).

[2022-04-11 20:27] philippbb commented on #293
Thank you very much for your answer. I understand.

I was following allong with the 0.68 entry point from github but then somehow was not sure if tvos flipper should still work or I was doing something wrong.

[2022-04-11 20:28] #293 closed

[2022-04-11 22:58] nnomadic commented on #16
Sounds perfect mate, you're a life saver thank you!

[2022-04-14 12:54] RobertArissen opened #296 "How to handle focus delay with TouchableHighlight and Flatlists"
### Description

Hello,

We are currently building our smarttv apps with React Native. We have a list with a FlatList containing multiple Flatlist horizontal. This again contains Tiles made with TouchableHighlight.

We run into a problem with Android that the onFocus call with ScrolltoIndex is triggered a fraction later, causing Android itself to scroll down a very small part and then the ScrollTo

[2022-04-14 18:43] douglowder commented on #296
I'll have a look to see what can be done

[2022-04-14 19:01] #16 closed

[2022-04-15 20:08] douglowder commented on #274
0.68.1 coming soon

[2022-04-16 01:57] #262 closed

[2022-04-16 02:12] douglowder commented on #296
It looks like you are attempting to programmatically manage scrolling yourself, which can get very hairy on TV since the TV focus engine is also trying to manage scrolling.

It would be very helpful to actually get a drop of the whole project, especially the assets and your package.json so I can see all your dependencies.

[2022-04-17 11:13] RobertArissen commented on #296
first of all thank you for your time and effort to help. I'll set up a little project with the home setup. I did find a possible solution to use Android leanback, this improves the speed enormously. (react native leanback).

[2022-04-20 20:02] douglowder commented on #291
Fixed in release 0.68.1-0

[2022-04-20 20:02] #291 closed

[2022-04-25 16:15] joeflateau opened #303 "Android TV: hardware keyboard events are not fired unless a ScrollView is in current view heirarchy"
### Description

Hardware keyboard events (aka TVEvents) are not fired unless there is a ScrollView in the current hierarchy. In my use case, the actual video player screen listens to a "up" event to show a tray/overlay but it does not work on Android because "up" is never triggered. The keyboard events are also not fired if you attempt to listen to them through the `NativeAppEventEmitter` class,

[2022-04-25 18:25] joeflateau opened #304 "No v0.68.1-x release in rn-diff-purge-tv"
### New Version

0.66.3-0

### Old Version

0.68.1-1

### Build Target(s)

N/A

### Output of `react-native info`

N/A

### Issue and Reproduction Steps

My understanding is that the rn-diff-purge-tv release branches are created as a result of publishing releases to this repo, however, neither of 0.68.1-0 or 0.68.1-1 releases have release branches in the https://github.com/react-native-tvos/rn-dif

[2022-04-25 20:13] douglowder commented on #304
@joeflateau this should be fixed now -- please verify and close if the upgrade is working now.

[2022-04-25 20:16] joeflateau commented on #304
@douglowder much appreciated, it does seem to be working now 🤘

[2022-04-25 20:25] douglowder commented on #303
This is definitely reproducible -- will take a look.

[2022-04-25 21:21] joeflateau commented on #303
cool, I would try to help but I haven't figured out how to run react-native-tvos from source yet

[2022-04-26 00:01] douglowder commented on #303
Ok I did some digging and there are two ways to modify the app to get the HW events back, without making any native changes or using `<ScrollView />`:

- Adding at least one control (`<TouchableOpacity />`, `<Pressable />`, etc.)
- Setting `accessible={true}` on the `<View />`

It may be that what you are seeing is an optimization, where key events are not implemented unless actually needed.

[2022-04-26 13:58] joeflateau commented on #303
interesting... so this strikes me as either a bug in react-native (not react-native-tvos) or just working as intended, sound right to you?

[2022-04-26 17:50] douglowder commented on #303
I'm inclined to think that indeed this is working as designed. The HW events are only needed if there is actually something on the screen to interact with (scroll view, control, or text input).

I'll go ahead and close this. Feel free to reopen if you see any other related issues and I'll take a look.

[2022-04-26 17:50] #303 closed

[2022-04-26 17:50] #304 closed

[2022-04-26 17:51] joeflateau commented on #304
oops, missed the part where you asked me to close this after verifying, sorry

[2022-04-28 20:06] ericlifs opened #305 "Know when tvOSFocusGuide gets focused"
### Description

Hi everyone, thanks for this awesome tool.

I have a question regarding the tvOSFocusGuide component and a feature I have to build, which I'm not certain whether it's feasible or not.

I have a layout similar to this one:
![Simulator Screen Shot - Apple TV - 2022-04-28 at 16 50 45](https://user-images.githubusercontent.com/7376892/165836058-0c15af83-d931-4352-b5d7-78ecf53ddc31.png

[2022-04-28 20:45] douglowder commented on #305
Interesting problem...

In fact the focus guide component never actually receives focus itself, it just hands off the focus to its destination. The destination has to actually exist and be rendered in order to be a valid destination. Also, there is no way to know when the focus guide is triggered. I'll have to think about this a bit.

[2022-04-29 01:19] douglowder commented on #305
@ericlifs my first idea for you to try, is to add `useTVEventHandler()` and, if zone 1 is hidden and you see an event with `eventType === 'left'`, then show zone 1 so the focus guide will work.

[2022-04-29 01:24] ericlifs commented on #305
@douglowder yes, that was my initial thought as well, but the thing is that I have to differentiate which is the current active "zone", because a `left` event while the zone 2 being active may mean that you are jumping from a zone 2 button to another, so I also have to know if I'm currently focusing a zone 3 button and a `left` event is triggered. And that's where things start to get complicated (

[2022-04-29 01:31] douglowder commented on #305
That could be done with the `onFocus()` and `onBlur()` handlers in your buttons updating a state, but yes there would be a little complexity involved. I'll think on this some more :)

[2022-05-04 07:17] aman-singh-unthinkable opened #306 "nextFocusDown, nextFocusLeft and nextFocusUp not working"
### Description

In tvOS nextFocusDown, nextFocusLeft and nextFocusUp not working only nextFocusRight is working but in android all are working.

### Version

react-native-tvos@0.68.1-1

### Output of `npx react-native info`

System:
    OS: macOS 12.3.1
    CPU: (8) x64 Intel(R) Core(TM) i5-1038NG7 CPU @ 2.00GHz
    Memory: 675.79 MB / 16.00 GB
    Shell: 5.8 - /bin/zsh
  Binaries:
    Node: 16.1

[2022-05-05 19:22] douglowder commented on #306
This has to do with the way this feature is implemented in tvOS; nextFocusLeft only works if there is already a focusable view to the left (similarly for the other nextFocus methods). Android TV does not have this limitation, it is directly using the corresponding native APIs.

I have an idea about how to make this work as intended on tvOS and will take a look this week.

[2022-05-09 16:00] NickAVolpe commented on #69
I fixed my issue by referencing the sample code Sir Doug Lowder wrote [here](https://github.com/react-native-tvos/ReactNavigationTVDemo/blob/master/App.js#L16)

I think what fixed it for me was to remove the "Native" stack API and use the non-native API that React Navigation has. I'm not entirely positive on that though. I can post my dependency versions if you want to compare.

[2022-05-10 09:11] RobertArissen commented on #69
Removing native stack and replace it with non-native fixt it for me! Ty @NickAVolpe !

[2022-05-11 07:07] IM-Mukesh opened #307 "selected tab changes automatically after clicking on button"
### Description

@douglowder

when we are clicking on 'Go To Cart' button then onPress we are setting 'cart' page as Selected tab but by default after setting it for less than 1 sec it automatically sets the product page.

**we are loading both PRODUCTS and CART together based on the interaction we are displaying it using display property but it calls onFocus automatically 'Products' tab even thou

[2022-05-12 22:51] 1adybug opened #308 "Android TV device with custom OS not recognized as TV (and other related issues)"
### Description

onFocus and onBlur not work in TouchableHighlight or Pressable

### Version

npm:react-native-tvos@0.68.1-1

### Output of `npx react-native info`

System:
    OS: Windows 10 10.0.22000
    CPU: (8) x64 AMD Ryzen 5 2400G with Radeon Vega Graphics
    Memory: 3.75 GB / 13.95 GB
  Binaries:
    Node: 16.14.2 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.22.18 - C:\Program Files (x8

[2022-05-12 22:55] 1adybug commented on #308
The Android version of TV is 9.

[2022-05-13 00:31] 1adybug commented on #308
App is running on Android TV.
Why `Platform.isTV` is `false` ?
Should I change some file in Project or it's just my TV hardware problem?
Below is `console.log(Platform)` :
[code]

[2022-05-13 01:36] 1adybug commented on #308
Is it possible to force it to be recognized as a TV by modifying some files in the project?

[2022-05-13 18:34] douglowder commented on #308
I'm not sure that your TV is really running the Android TV OS, as understood by React Native. Your device may be running a custom Android kernel with custom UI built on top.

An article explaining the differences: https://divitel.com/news/android-tv-vs-android-open-source-platform-which-is-right-for-you/

If you just want to hack the `isTV` flag, you can modify `node_modules/react-native/Libraries

[2022-05-13 18:37] douglowder commented on #307
Please provide the source code for your UI, and any dependencies you are using (e.g. react-navigation).

[2022-05-13 20:28] 1adybug commented on #308
Thank you very much! I thought this just changed the output, not the internal detection. However, it worked and RN recognized my TV as a TV.Thank u!

Below is what i do as you said:

[code]

[2022-05-13 22:46] douglowder commented on #308
Yes that will actually have an effect on React Native JS code that looks specifically for the TV flag. It won't change anything on the native side, but hopefully you don't need that :)

[2022-05-13 22:46] #308 closed

[2022-05-16 21:34] ratz6 commented on #307
Hey @douglowder !
Here we have two TouchableHighlights (Products and Cart )Tab displayed in a component and the content under each Tab is displayed based on the Tab (Touchable Highlight click).

![image](https://user-images.githubusercontent.com/77700933/168685309-cb28837a-3dfb-4f54-b555-80d02af7f05d.png)

We are using refs to handle the focus similar to https://github.com/dev-seb/react-native-tv-

[2022-05-18 02:14] douglowder commented on #307
Are you setting `hasTVPreferredFocus` on the new items? Depending on when this is done, some other item could get focus afterwards.

Again, it would be helpful if you provide a working example that shows the issue.

[2022-05-18 18:53] #306 closed

[2022-05-27 16:43] freemanchari commented on #296
This has also been an issue for us too. We ended up ditching Flatlist. I think it would be easier if there was `onLeave` or `onBlur` event that came with direction as we see with the BBC LRUD.

 You may want to use react-native-reanimated and manage the scrolling programmatically using animations. All you need to do to track focused indexes.

[2022-06-01 09:20] ratz6 commented on #307
Hey @douglowder Uploaded a Video of how the transition is happening and yes we have set 'hasTVPreferredFocus' on Product.
Sorry for the late reply , we are not using react-navigation and handling navigation through refs as mentioned above (just a reminder).
PFB the code snippets and video. Let me know if you need anything to understand the issue

https://user-images.githubusercontent.com/77700933/

[2022-06-08 04:28] freemanchari commented on #206
@douglowder Is this still being considered? I believe it still is a challenge to navigate through swimlanes

[2022-06-08 19:56] douglowder commented on #206
@freemanchari I would consider adapting some of the APIs in https://github.com/NoriginMedia/Norigin-Spatial-Navigation, although they would necessarily work a little differently in RN.

As I don't have a lot of bandwidth at the moment, maybe @prakashjais99 or other Android developers could work on the TVFocusGuide implementation for Android TV first, and then we can see if the hook-based spatial n

[2022-06-14 08:07] SebastienChauvin commented on #206
Hello we needed this for our project so we worked the attached PR.
It works afaics, as this is my first PR for this project, do not hesitate to let me know how I can improve it if needed.

[2022-06-20 14:06] MathieuHERY opened #315 "Error: Unable to find node on an unmounted component."
### Description

Hi,

I have a side menu with differents components which i use to display once user has pressed the icon.
I have a search component at the bottom of the side menu which is used by user to search content related to his query.
Input field is hidden in the side menu and focus on the input field is triggered once user has pressed the search icon.
Once done, we present all the results.

[2022-06-20 14:52] pisacode opened #316 "Unable to find a specification for `React-RCTFabric` depended upon by `RNGestureHandler`"
### Description

Hi,

After upgrading from react-native-tvos 66 to 68.2-1 I can no longer do a `pod install` It always throws this error

[code]

I have tried updating other librarys too but no luck.

My pod file is like this
[code]

### Version

68

### Output of `npx react-native info`

System:
    OS: macOS 12.3.1
    CPU: (10) arm64 Apple M1 Max
    Memory: 194.27 MB / 32.00 GB
    Shell: 5.8

[2022-06-20 19:50] douglowder commented on #316
There is definitely something bizarre going on. After the upgrade, it appears that you have enabled the React Native new architecture (Fabric) somehow. That's the source of the message
[code]

Try modifying your Podfile as
[code]
then delete your Pods and rerun `pod install`.

[2022-06-20 19:53] douglowder commented on #315
I would recommend that you move to 0.68.2-1. If that does not fix the problem, I would need a code sample from you that reproduces the issue.

[2022-06-22 19:51] zsoltbokor opened #318 "Make TabBarIOS scroll up with the page content"
### Description

Hello, we are working on a project for tvOS and one of the requirement is to use the tab bar but while the user is pressing DOWN scroll up the tab bar together with the content and vice versa. I was trying to put the tab bar in a ScrollView but then the content of the tab was not rendered. Can you please confirm if this behaviour can be achieved using that component or we need to

[2022-06-22 19:57] leonchabbey opened #319 "How to make a release using a custom npm package"
### Description

I don't see anything in the README about it and it looks like you are using circleci for releases like the official react-native repo.

I tried following the instructions found here: [Publish your own version of React Native ](https://reactnative.dev/contributing/how-to-build-from-source#publish-your-own-version-of-react-native), but the docker freezes during the process for an un

[2022-06-23 00:51] douglowder commented on #319
I do not use Docker or CircleCI for this.

If you need to make a release tarball locally, you should do the following from the top level `react-native-tvos` directory:

[code]
This generates the prebuilt Maven archive for Android, and then packages up all the files specified in `package.json`.

[2022-06-23 00:55] #316 closed

[2022-06-23 04:56] istvan-szilagyi commented on #318
Actually it has 2 behaviours without the need of customisation. By default as you said it's sticky, but if the content of the tab is scrollable, if you set [tabBarObservedScrollView](https://developer.apple.com/documentation/uikit/uiviewcontroller/3152928-tabbarobservedscrollview?language=objc) to the scroll view, the tab bar will be scrolling with the content. Do you know if this property is reac

[2022-06-23 16:48] douglowder commented on #319
Sure! Ideally this should be scripted so I'll turn this into a feature request for that, plus add the docs.

[2022-06-23 16:52] douglowder commented on #318
This property is not currently reachable from React Native. I'll reopen this and change it to a feature request, and see what effort is involved.

[2022-07-07 15:36] aniketgupta8960 opened #320 "Manual hasTVPreferredFocus not working fine"
### Description

We are using hasTVPreferredFocus to focus on button in scrollview but the focus is not happening smoothly .First the default button is highlighted and after some milliseconds the manual highlighting happens which makes the UI experiences not good.we are doing focus of button by own and tvos doing it also. So how we can stop default focus of button inside scrollview
<img width="144

[2022-07-11 09:43] MathieuHERY commented on #315
thanks @douglowder for your feedback.  The issue seems fixed. I can't reproduce after upgrading react-native tvOS version.

[2022-07-11 14:43] #315 closed

[2022-07-12 10:17] MathieuHERY opened #322 "Android TV - intermittent crash A/libc: Fatal signal 4 (SIGILL), code 1 (ILL_ILLOPC)"
### Description

Hello,

I am experiencing a crash on Android TV which occurs randomly, sometimes at the launch, sometimes later on some screen or when reloading the app. It's difficult to provide steps to reproduce. Occurs on both emulator and real devices. Could you please take a look?

I'm sorry but i don't have enough ouput from the log to identify what's wrong.
Not sure if it's related but i'

[2022-07-13 07:49] leonchabbey commented on #296
This issue on Android has been fixed with: https://github.com/react-native-tvos/react-native-tvos/pull/321
If you want to manage the focus yourself (ie: using scrollToIndex), you need to also disable the scroll on the list with `scrollEnabled={false}`.

Then it should work just fine on both platforms :)

(Also, this new library is pretty nice to get more performant lists: https://shopify.github.io

[2022-07-13 08:14] leonchabbey commented on #296
My bad, the new version with the fix hasn't been released yet.

You can use my own release if you don't want to wait (or build your own):
[code]

[2022-07-13 08:17] hlz commented on #296
Yeah that's what I sort of meant with asap ;)

[2022-07-13 10:23] aniketgupta8960 commented on #320
@douglowder  Can you Please help me with this issue

[2022-07-13 17:45] douglowder commented on #320
Sorry for the delay in response. My comments:

- It looks like you are trying to use `isTVPreferredFocus()` in a way it really isn't intended to be used. What you are trying to do looks exactly like the problem that `nextFocusLeft`, `nextFocusRight`, `nextFocusUp`, and `nextFocusDown` solve for you. I would strongly recommend that you change your implementation to use those APIs.
- You will want t

[2022-07-13 17:45] #320 closed

[2022-07-13 17:47] douglowder commented on #322
It looks like there is a bug in your application's Javascript somewhere....

[code]

If you have a working example that reproduces the crash (even intermittently), please provide that and I'll take a look.

[2022-07-13 17:51] douglowder commented on #296
@leonchabbey thanks for the heads up about this issue. Also I agree, FlashList is great and works well on TV, I ported their demo at https://github.com/douglowder/FlashListTV

@hlz since the urgency of this fix has escalated, I'll get a patch release out this week with the fix.

[2022-07-14 08:10] hlz commented on #296
Thanks @douglowder! To be clear, the urgency on our side of things is not a big issue. Currently we have fixed this scrolling issue on AndroidTV with a custom ScrollView component. Would love to revert to the default ScrollView though, but we need to schedule some time for it, hence the asap :)

[2022-07-15 05:28] douglowder commented on #296
Fixed in release 0.68.2-3

[2022-07-15 05:28] #296 closed

[2022-07-19 09:02] aniketgupta8960 commented on #320
Hi @douglowder  I checked the documentation but nextFocusLeft, nextFocusRight, nextFocusUp, and nextFocusDown is only supported on the android and  for Apple TV we have to use isTVPreferredFocus()
<img width="1440" alt="Screenshot 2022-07-19 at 2 19 46 PM" src="https://user-images.githubusercontent.com/74759255/179711344-c083fbf8-5a1e-43ff-bf9e-3138fc4cf923.png">
So how we can use it in appleTv .I

[2022-07-19 18:56] douglowder commented on #320
I actually did build the Apple TV implementation of the nextFocus APIs so I can confirm that they work :) Sorry those documentation comments were not updated, I'll take care of that soon.

You use the nextFocus APIs on Apple TV the same as on Android. See https://github.com/react-native-tvos/react-native-tvos/blob/tvos-v0.68.2/packages/rn-tester/js/examples/DirectionalNextFocus/DirectionalNextFocu

[2022-07-26 12:42] etiennelab opened #324 "nextFocus API on tvOS using UIFocusGuide not constantly working"
### Description

First of all, I want to thank you with the new implementation of nextFocus on tvOS with UIFocusGuide. It is really great and makes it usable in nearly every cases compared to previous implem.

However there is some cases where it is not working as expected:

- When the Touchable (TouchableOpacity in my case) is moving because it is a child of an animated view that is translating.

[2022-07-26 18:32] douglowder commented on #324
Thanks for this very detailed explanation. I thought that the layout constraints on the focus guides would prevent these from happening... I'll look into this 👍

[2022-07-27 09:03] etiennelab commented on #324
Thank you for your quick response! I want to precise, that it becomes a problem when you want to block focus on certain directions on a touchable by assigning nextFocusDirection with the native tag of the touchable itself. It becomes difficult to control focus on those specific cases

[2022-07-27 18:26] aniketgupta8960 commented on #320
Hi @douglowder
We have implemented the nextFocus api and it is working fine when using without the view but when we use it inside the scrollView then the default navigation of the tvOs starts to happen.
This is a level Array which is rendered:
<img width="1440" alt="Screenshot 2022-07-27 at 11 51 35 PM" src="https://user-images.githubusercontent.com/74759255/181344750-b487b90b-4733-456f-99f1-46229

[2022-08-01 23:30] wouterds commented on #237
I made an example project because I was planning to create a separate bug, but turns out it works fine in a barebone project with TMDB API 🫠. For those interested, repository available [[here](https://github.com/wouterds/react-native-tv-example)].

https://user-images.githubusercontent.com/1210628/182261998-a7720dde-797d-4c62-b0b3-a3158573aec2.mp4

[2022-08-03 07:28] aniketgupta8960 opened #325 "Apple Remote Swipe left or right causing button to move left"
### Description

We are using Pressable component as Button but when we use apple remote and try to swipe left or right it causes the button to move from its position and doesn't stay at its original position which also makes navigation left and right quite difficult. We want to fix the button position and do not want the remote swipe left and right causing the button to move from its position.

h

[2022-08-03 08:32] nriccar commented on #325
Checkout the tvParallaxProperties of the `TouchableOpacity` - not sure if its there for the other touchables.

You can disable parallax effects, or customise them.

[2022-08-03 14:07] danychi commented on #22
This workaround seems to partially work, but when the `TouchableOpacity` uses a light background like "white" and the Text uses a "black" color, then the text is not visible as can be seen in this screenshot:

Black background - White text

![Screenshot 2022-08-03 at 16 04 46](https://user-images.githubusercontent.com/45874461/182628528-a0828463-542e-460a-8acd-c18b79982cbf.png)

White background -

[2022-08-04 13:00] TiagoLira opened #326 "Native UITableView/UICollectionView - cells can be focused but not selected"
### Description

I'm wrapping a tvOS native view of our framework in a native module, following the ReactNative guides.

All regular buttons work well, but I found an issue in all the UITableView and UICollectionView elements.
Tapping a cell does not work with the simulator remote control. The native `didSelectCellAt` is never called.

Controlling the simulator with the hardware keyboard, it works

[2022-08-04 18:40] douglowder commented on #326
On `RCTTVView`, if the view is focusable and selectable, a `UITapGestureRecognizer` is added with press type `UIPressTypeSelect`. You might need to do something like that for your cells.

Without seeing your code, it's hard for me to say more about what the issue might be. It is true that RN is setting up gesture recognizers on the root view for many of the remote control events.

[2022-08-04 18:41] douglowder commented on #325
@nriccar is correct. Those properties should be available for the other touchables as well.

[2022-08-04 18:42] douglowder commented on #324
@etiennelab I'm not sure that having focus redirect back to the same view is supported, but that's an interesting idea, and I'll try it out to see what happens.

[2022-08-04 18:42] #322 closed

[2022-08-05 05:48] aniketgupta8960 commented on #325
Thank you for your help

[2022-08-05 05:48] #325 closed

[2022-08-06 19:21] etiennelab commented on #324
@douglowder I have tried with very simple case and it worked actually! Like if you have just 2 elements and the nextFocusRight of the element of the left is assigned to itself, you can't go the the element on the right. So it seems working ! But not in the cases described in the issue

[2022-08-09 09:43] TiagoLira commented on #326
@douglowder Thank you for your suggestion, I appreciate it. Adding a tap gesture recognizer to each cell works well as a workaround.

For others who may have the same issue, here is my code:
(I added the reactCompatMode flag on my library configuration, so that it works both on RN and native projects)

[code]

[2022-08-09 09:43] #326 closed

[2022-08-09 11:25] YazeedAsaad commented on #255
hello @douglowder  just out curiosity is hermes being worked on for tvos or not yet ?

[2022-08-15 15:25] #84 closed

[2022-08-17 16:17] esegebart commented on #15
Wow this is amazing! This gives me hope.  I am trying to figure out how to get the fork using this project set up but your project looks amazing!

[2022-08-17 16:53] douglowder commented on #15
@esegebart you can do

[code]

and that will set up a new project using this repo.

This is from 2020, but the fundamentals discussed in this article are generally still up to date:

https://douglowdercode.medium.com/react-native-on-the-big-screen-part-1-introduction-c2734db18289

[2022-08-17 20:06] esegebart commented on #15
Fantastic!!! I knew I had seen this page before but couldn't find it on here. I got it set up and about to give it a whirl! Thank you so much!

[2022-08-19 09:50] pkaneriendeavor opened #328 "Unable to programmatically focus on TextInput using ref and trigger keyboard"
### Description

Hi, firstly thanks for all the work on the repo, it's been great to use.

I've run into an issue trying to make the focus of the TextInput automatically proceed to the next one, if the user inserts a valid entry.

This is almost exactly like the following: https://stackoverflow.com/questions/49028339/change-the-focus-automatically-to-the-next-textinput-in-react-native

The specifi

[2022-08-22 14:23] avishka-codimite commented on #15
Hi 👋 , I recently started using this repo. This is great 😊 . I am building a TV app using this package. Sometimes when doing development work, problems arise and get stuck if there is no information to read. So I want to know, is there any forum where we can discuss issues and improvements related to this package? Please let me know.

[2022-08-22 17:30] douglowder commented on #328
There are definitely some issues with `TextInput` in RN, and they are also present in the core repo.

I recommend wrapping the `TextInput` in a `Touchable` -- this also provides a workaround for styling issues (`TextInput` often ignores its styling).

Example:

[code]

If you do something like the above in your repo, does the keyboard come up when the input is focused?

[2022-08-22 22:22] douglowder commented on #15
@avishka-codimite we can use Twitter for this, maybe the community https://twitter.com/i/communities/1509407040095068166 would be a good place to start. If there is enough interest, I can set up a discussion repo in the react-native-tvOS workspace.

[2022-08-23 03:55] avishka-codimite commented on #15
@douglowder thank you. yeah, I think it better if have a discussion section 👍

[2022-08-23 06:29] avishka-codimite opened #329 "Custom font link issue"
### Description

I want to add custom fonts for my project. So, like adding fonts to ios, it was added to this too. but nothing changes the font family.

### Version

0.68.2-5

### Output of `npx react-native info`

[code]

### Steps to reproduce

1. add fonts font in an asset folder `PROJECT-DIRECTORY/assets/fonts`
2. Add the configuration to the project (_**react-native.config.js**_)
3. Link the

[2022-08-23 09:01] pkaneriendeavor commented on #328
Hi Doug, thanks for your reply. So while it does work and the keyboard comes up when using an onPress method, what doesn't work is changing the focus programatically when some text has been entered in a previous TextInput. So taking your code block above, something like the below. Is there a different way to achieve the same thing below, without using the call to `.focus()`?

[code]

[2022-08-23 09:27] nriccar commented on #328
You can use the onFocus method for the TouchableOpacity, that way, the TextInput will be automatically focused and the keyboard will be opened

[2022-08-23 11:27] pkaneriendeavor commented on #328
Hi @nriccar unfortunately that approach still doesn't seem to work in changing focus and opening the keyboard on the second TextInput from the first TextInput. It also means when you have manually focused onto the second TextInput using the keys, it is firing the `onFocus` callback and forcing the keyboard to open which causes the focus to be stuck on that second TextInput.

[2022-08-23 13:24] esegebart commented on #15
@douglowder @avishka-codimite I would be interested in a discussion section! I am stuck on a few things.

[2022-08-23 19:20] nriccar commented on #328
You could store in a state if it was first opened, or something similar.
I have this implementation on a project, let me check it

[2022-08-23 19:28] douglowder commented on #328
I will set this up and try a few things. The video shows the problem on Apple TV -- is Android TV also having this issue?

[2022-08-23 19:47] douglowder commented on #329
That `Info.plist` appears to be the one for iOS. Check the `ios/PROJECT_NAME-tvOS/Info.plist` and make sure your fonts are listed there as well.

[2022-08-23 19:49] nriccar commented on #328
I solved it for Apple TV this way:
[code]

[2022-08-23 21:07] douglowder commented on #328
What @nriccar is doing looks like the right way to solve the issue on Apple TV.

The problem I'm seeing is that if you immediately try to call `focus()` on the second input, you have an issue where the view being focused is actually not in the native view hierarchy.  I'm seeing Xcode console messages like this:

[code]

[2022-08-23 21:08] #328 closed

[2022-08-23 21:48] nriccar commented on #328
@douglowder do you suggest setting a timeout for a workaround?

[2022-08-24 01:42] douglowder commented on #328
@nriccar I tried that and it did not work -- however, even if I made the timeout work, I think your solution is actually better and less hacky.

[2022-08-24 04:35] avishka-codimite commented on #329
I checked that. fonts are not listed there.

<img width="759" alt="Screenshot 2022-08-24 at 10 02 49 AM" src="https://user-images.githubusercontent.com/111336101/186329544-36c98cb2-41e4-4dc6-9a76-bde901d52846.png">

[2022-08-24 08:16] douglowder commented on #329
If you add them there, and also make sure they are included in the ApollotvOS-tvOS target, then they should show up on the Apple TV.

[2022-08-24 08:29] pkaneriendeavor commented on #328
Hello, thanks for the suggestions!

@nriccar Does the approach above not require some kind of keyboard confirmation entry by the user like 'next' or 'done'? I tried to play around with that approach by doing something like the following for what I am trying to achieve:

[code]

but that didn't seem to trigger an 'onFocus' event on the second TextInput even though hasTVPreferredFocus={willFocus} is

[2022-08-24 08:45] douglowder commented on #206
This feature is now merged and released, so closing this issue. :)

[2022-08-24 08:45] #206 closed

[2022-08-24 10:58] nriccar commented on #15
Discussions were created by @douglowder on https://github.com/react-native-tvos/react-native-tvos/discussions
@esegebart Feel free to create a discussion and I'll be happy to help!

[2022-08-24 12:59] avishka-codimite commented on #329
Yeah, I was able to fix the issue according to the instruction by @natestone given here.  [https://github.com/facebook/react-native/issues/18025](url)

[2022-08-24 14:55] esegebart commented on #15
@douglowder Thank you so much!!!

[2022-08-31 23:54] crewtaylorfd commented on #136
Is there a solution to this? I am running into a similar problem. I am using the `TVEventHandler` and the `swipeUp` and `swipeDown` events are sometimes not triggered even when the focus engine changes the focused element. The `TVEventHandler` and the focus engine do not have the same threshold for triggering a swipe event on an ATV remote. I think a _velocity_ prop would fix this or get them clos

[2022-09-01 04:22] douglowder commented on #136
The events from TVRemoteHandler and from the focus change handler in RCTTVView are separately generated, so there is no guarantee about their relative timing.

[2022-09-06 13:30] wouterds commented on #324
That's what we're currently doing as well, when you want to "prevent" the cursor from going in a direction just focus the tag itself again. It's not too handy though, lot's of boiler plate.

[2022-09-06 13:37] leonchabbey opened #341 "Apple TV: menu key gesture recognizer not working on Modal or on native stack navigator"
### Description

This issue appeared while using the `createNativeStackNavigator` from react-navigation and react-native-screens.

`createNativeStackNavigator` creates a new `UINavigationController` and `UIViewController` which seems to handle by default the "menu" button to go back to the previous screen on the navigation stack.

The current implementation of `RCTTVRemoteHandler` only applies to

[2022-09-06 13:42] SebastienChauvin commented on #341
For completeness we also tried to add a remote handler only to `RNSScreenView` and that works as well. But this creates an undesirable dependency between `react-native-screens` and `react-native-tvos`

[2022-09-06 13:45] wouterds commented on #224
Hi again, is this still supposed to work decently? How do other people do upgrades? Manually compare the upstream react-native and just change the number in package.json?

[2022-09-06 13:55] wouterds commented on #224
Ah I see, react-native-tvos/rn-diff-purge-tv is only synced until 0.68.2-2.

[2022-09-06 13:58] wouterds opened #342 "react-native-tvos/rn-diff-purge-tv is out of sync, last available version is 0.68.2-2"
### New Version

0.68.2-6

### Old Version

0.68.2-2

### Issue and Reproduction Steps

The react-native-tvos/rn-diff-purge-tv repository seems out of sync, not possible to upgrade to latest version (0.68.2-6).

[code]

[2022-09-06 20:42] douglowder commented on #224
@wouterds sorry about that, the issue is fixed.

[2022-09-06 20:43] douglowder commented on #342
Issue is now fixed, sorry for the delay.

[2022-09-06 20:43] #342 closed

[2022-09-06 20:43] #329 closed

[2022-09-07 12:39] leonchabbey opened #344 "(Since 0.68.2-6) App crashing when a Touchable is mounted with hasTVPreferredFocus in a Stack.Screen (react-navigation)"
### Description

Following the changes made with that commit: https://github.com/react-native-tvos/react-native-tvos/commit/11a974fb0258e67e268655eb1cd4763330ed8c19, our app crashes when we have a Touchable with `hasTVPreferredFocus={true}` that is mounted at the same time as the route/screen it's in.

We are using react-navigation / react-native-screens with `createNativeStackNavigator`.

If you

[2022-09-07 22:27] douglowder commented on #344
I have been working on a project using react-navigation and react-native-screens, and uses preferred focus. I was just able to reproduce a related issue in that project, where there is no crash, but the app gets stuck in a loop. Definitely the native stack navigator has uncovered a race condition! I'll work on this immediately and would appreciate your help testing any fixes I come up with.

[2022-09-07 22:58] douglowder commented on #344
Found the fix: https://github.com/douglowder/TVInputDemo/blob/master/patches/react-native%2B0.68.2-6.patch

I apologize for making an obvious error in the implementation of that method.

Also, I strongly recommend that navigation screens using `hasTVPreferredFocus` should implement navigation focus listeners, and do not allow `hasTVPreferredFocus` to be true unless the screen is showing.  The abov

[2022-09-08 07:14] SebastienChauvin commented on #341
Yes that would work. I was trying to find a solution that would not connect `react-native-screens` to `react-native-tvos` at all.
It's not fully clear to me yet, but I believe, the "good" solution would be to have react-native-screens derive `RNSScreenView` from `RCTRootView` and remove some of the responsibilities from the `RCTRootView`... But that's a big refactor implicating all three libraries

[2022-09-08 07:27] leonchabbey commented on #344
Thanks for the quick patch!

Yeah it wasn't actually a crash (the error in our project is probably not related) but a freeze.

We use `hasTVPreferredFocus` on buttons in our initial routes and they are mounted with `hasTVPreferredFocus` to true and are never updated therefore we don't have issues with buttons stealing the focus. But it was the perfect use case for the bug 😄
And in other places in

[2022-09-08 12:40] aniketgupta8960 opened #345 "onPressIn and onPressOut not working"
### Description

I am trying to build a mouse pointer in tvOs which will move in all direction.Currently I am using the useTVEventHandler and it gives callback for swipeLeft or swipeRight but I wanted continuous callback till the time user doesn't remove his finger from the appletv remove just like touchesBegan and touchesMoved in swift. Is there a way to implement these two function in tvOS.If ye

[2022-09-08 14:12] leonchabbey commented on #341
After more testing and debugging, even with the "fix" I found and patching `react-native-screens` like you recommended @douglowder, the gesture recognizing lifecycle/queue seems just very unstable.

As an example, I did a small project ([ModalExample.zip](https://github.com/react-native-tvos/react-native-tvos/files/9527512/ModalExample.zip)) with a Modal which you can open by pressing on a button.

[2022-09-08 14:18] leonchabbey commented on #345
You can toggle a pan gesture listener with `TVEventControl.enableTVPanGesture();` and `TVEventControl.disableTVPanGesture();`.

You will then receive in your `useTVEventHandler` an event with  `eventType: "pan"` and a body containing:
[code]

[2022-09-09 08:09] douglowder commented on #341
Wow the modal example is interesting indeed. It seems that tvOS has changed the way they do modal presentations -- the menu key goes to the modal view controller's view, bypassing any recognizers set on `RCTModalHostView`.

I'll do some work to fix that, and then take a look at the `react-native-screens` issue.

[2022-09-09 08:59] leonchabbey commented on #341
Thanks for helping us with this issue!

My knowledge of native iOS/tvOS has its limitations and unfortunately I can't afford spending too much time on trying to fix this right now.

It think it might be the same issue happening on the Modal and Navigation. The view controller somehow gets the event before its children even though they have recognizers set.

Maybe a hint about the issue: if i recal

[2022-09-09 21:31] douglowder commented on #341
@leonchabbey please see #348 .

It definitely works for the RNTester example and the menu key behavior is now correct for the example you sent. There is still something else in your example that is taking over the menu key and preventing the RCTTVRemoteHandler in the modal from working. However, this is definitely a big improvement in modal behavior on tvOS.

[2022-09-11 08:15] maximilize opened #349 "On Fire TV, onLongPress is not working"
### Description

On Fire TV, when long pressing the OK button, it only calls the `onPress` callback.
Some android TV devices, like emulators as well, fire a lot of `onPress` events when long pressing the button. With this, we created a workaround to emulate longPress on such devices. However, on Fire TV, this does not work.

I captures the events which we fired by `useTVEventHandler` and found tha

[2022-09-12 19:04] MPIIIMan opened #350 "TouchableOpacity causes SVG elements to disappear"
### Description

I posted this on S/O but I'm beginning to think this is a bug.

I am using react-native-tvos to create an app. I am trying to display SVG elements that respond to the remote. I have tried using `TouchableOpacity` as well as `Pressable` on the elements. Whenever I wrap the elements with those they no longer appear. I've looked through dozens of S/O posts and have tried various thin

[2022-09-13 17:40] #341 closed

[2022-09-13 17:51] douglowder commented on #349
@maximilize can you test the change in #352 and make sure that fixes the issue on your Fire TV?

[2022-09-14 08:06] leonchabbey commented on #341
Thanks for the PR.

I quickly tried the last commit on the Modal example and now it really "overrides" the default menuPressed for the native modal 👍

So in the end setting the gesture handlers on the view of the modal's view container as suggested in my "hint" above was the only way to stop the propagation of the event?

I'm gonna try to implement something similar to react-native-screens.

[2022-09-14 13:37] leonchabbey commented on #341
I found another use case that has an issue linked to the hasTVPreferredFocus fix you did: https://github.com/react-native-tvos/react-native-tvos/commit/11a974fb0258e67e268655eb1cd4763330ed8c19#diff-f0893c7fdea16a37417f46bfb45692a307acc216813d08438af8857917511df4R142-R155

You should be able to reproduce it by adding a button inside your Modal with `hasTVPreferredFocus={true}`. Since the modals are

[2022-09-14 18:28] douglowder commented on #341
Thanks @leonchabbey for reporting the preferred focus issue.  I'll try that out locally and see if there is an easy fix.

Good news is, when we finally move to the new Fabric architecture, that problem will no longer exist because the root view is always non-null :)

[2022-09-14 22:29] stepas-dev opened #353 "focus() doesn't work on buttons"
### Description

I need to be able to focus button using focus method on AndroidTV, but nothing happens, any solution ?

### Version

npm:react-native-tvos@0.68.2-6

### Output of `npx react-native info`

System:
    OS: macOS 12.6
    CPU: (8) arm64 Apple M1
    Memory: 94.81 MB / 16.00 GB
    Shell: 5.8.1 - /bin/zsh
  Binaries:
    Node: 16.13.2 - /usr/local/bin/node
    Yarn: 1.22.17 - /usr/loc

[2022-09-14 22:53] douglowder commented on #353
I don't believe that `focus()` is a valid method for buttons (`Touchable` or `Pressable`). Generally they are focused in response to user interactions and the `onFocus()` and `onBlur()` methods are called. `TextInput` does have the `focus()` method.

[2022-09-14 22:55] douglowder commented on #350
I'll take a look

[2022-09-15 00:06] stepas-dev commented on #353
i need to setup my own manual focus manager in response to user interactions, default focus is unreliable and buggy

[2022-09-15 02:16] douglowder commented on #353
Thanks for the clarification! You have mentioned two different issues...

- Managing focus yourself: apart from hasTVPreferredFocus, we do provide the nextFocusLeft, nextFocusRight, etc., that allows you to direct focus when the user navigates with the D-pad.

- Preserving focus when back navigating: this is something I'm actively working on. The solution requires a state or context to track the s

[2022-09-15 02:17] #353 closed

[2022-09-15 17:10] douglowder commented on #344
@leonchabbey I was not able to reproduce this issue in the modal sample.

[2022-09-15 17:12] #349 closed

[2022-09-15 17:36] douglowder commented on #350
Ah, your markup is incorrect. The SVG should be wrapped inside the TouchableOpacity, e.g.

[code]

[2022-09-15 17:36] #350 closed

[2022-09-15 17:39] douglowder commented on #307
Closing this, as there is no code sample provided to reproduce the issue.

[2022-09-15 17:39] #307 closed

[2022-09-15 17:43] MPIIIMan commented on #350
Thanks for the response. I understand I can put it around the entire SVG.
I had hoped it could be done on individual elements inside the SVG.
Is this a limitation with react-native-tvos or react-native-svg?

[2022-09-15 18:56] douglowder commented on #350
I would not have thought it would work at all, even on phones. If the problem is specifically on Apple TV, it probably means that the SVG wrapper is set to isUserInteractionEnabled=false in the native implementation, which would make it not visible to the TV focus engine.

[2022-09-15 19:25] MPIIIMan commented on #350
That does make sense. I had hoped that things like onPress, Pressable, or TouchableOpacity would translate to remote control inputs on Apple TV

[2022-09-15 19:31] douglowder commented on #350
The remote control's select button does invoke the onPress method in TouchableOpacity and Pressable, provided that they are currently focused by the TV focus engine.

[2022-09-16 15:21] leonchabbey commented on #344
You should be able to see the issue in this example: [ModalFreezeExample.zip](https://github.com/react-native-tvos/react-native-tvos/files/9585285/ModalFreezeExample.zip)

If the button inside `RightPanel` has its `hasTVPreferredFocus` prop set to `true` when the modal becomes visible, you will see the freeze. Set it to `false`, the animations will be smooth again.

[2022-09-16 19:37] douglowder commented on #261
This is something I am now actively working on, and I will post updates here as I make progress.

[2022-09-16 21:10] douglowder commented on #344
Ok I took a look at this example and found some issues:
- The `TouchableOpacity` in `RightPanel` was wrapped in an `Animated.View` that was marked TV selectable, so it prevented the `TouchableOpacity` from getting focus
- The `onPressClose` prop in `RightPanel` didn't seem to be getting passed to its children, so I took the `TouchableOpacity` out of the children and added it to the right panel.

[

[2022-09-16 21:39] douglowder commented on #252
Closing this for now -- @kparma if you are able to reproduce this on 0.68.2-7 or later, please reopen and provide an example of how to repro the bug, and which API versions have the issue.

[2022-09-16 21:39] #252 closed

[2022-09-19 16:09] ketanPRO commented on #17
@douglowder It seems TabBarIOS is working fine with apple tv now. But why is react native deprecating this while there is no alternative of this one.

[2022-09-19 16:15] douglowder commented on #17
RN core does not support TV. Apple TV is the only platform that really needs this API so it is only available here.

I should note that I have not yet implemented this API for the new Fabric architecture.... 😬

[2022-09-20 10:01] josefnorlin opened #358 "AndroidTV: Long press not firing event until after released"
### Description

This project is awesome!

Coming from react-native with mobile devices I've had such a nice time moving over to TV development and I'm so thankful for the work @douglowder and the rest of you guys have been doing.

One bug I've realised is that long press only gets fired **after** the button have been released. This is not the common behaviour since users expects something to happ

[2022-09-20 14:35] Humza-7 commented on #163
when I use useTvEventHandler or even TVEventHandler it is throwing an error
(0, _reactNative.useTVEventHandler) is not a function. (In '(0, _reactNative.useTVEventHandler)(myTVEventHandler)', '(0, _reactNative.useTVEventHandler)' is undefined)

what would I do

[2022-09-21 12:08] etiennelab commented on #324
@douglowder any news on this ? Did you managed to reproduce this issue ?

[2022-09-23 17:45] geroale opened #360 "Hermes not working on Android"
### Description

Premise: we have read that hermes is not yet supported on tvOS, but we expected it to work correctly on Android.

When enabling hermes through the android `build.gradle`
[code]
the app is not compiling because the hermes package is not found, throwing the following error.
[code]

The responsible code for this is the following part of the `build.gradle` of the app to include the he

[2022-09-23 17:45] marf commented on #360
Same issue here.

[2022-09-23 18:02] geroale commented on #360
@douglowder do you have any advice on how to solve this problem?

[2022-09-23 19:18] douglowder commented on #360
I'll look into this @geroale

[2022-09-23 19:19] geroale commented on #360
Thank you so much @douglowder

[2022-09-23 19:34] douglowder commented on #360
I think I have found the problem -- RN 0.69 now requires an extra step before NPM publish. I will push out a new version and that should hopefully fix the issue.

[2022-09-23 19:38] geroale commented on #360
Wonderful news! Looking forward to implement it in our project 😀

[2022-09-24 00:13] douglowder commented on #360
Fixed in 0.69.5-1

[2022-09-24 00:13] #360 closed

[2022-09-24 00:14] douglowder commented on #324
I have not been able to reproduce the issue yet.

[2022-09-24 00:15] douglowder commented on #319
I have added some release preparation scripts for TV in https://github.com/react-native-tvos/react-native-tvos/commit/e2d3f7a24ac070a76bd63f4e109cd7793ebafa00 -- still a work in progress but very much improved.

[2022-09-24 03:59] #265 closed

[2022-09-24 03:59] #236 closed

[2022-09-24 03:59] #229 closed

[2022-09-24 20:03] douglowder commented on #324
@etiennelab it would be helpful if you can provide a simple example (either the ScrollView or animated view) that shows the issue you are trying to solve.

[2022-09-24 20:23] douglowder commented on #358
Confirmed, the Android TV behavior is as described, and is different from Apple TV. I'll take a look.

[2022-09-24 20:26] douglowder commented on #358
This reproduces on 0.69.5-1. Also, we need to make sure that the fix for #349 does not regress

[2022-09-25 20:18] douglowder commented on #274
I'm going to go ahead and close this, and will make release announcements in the new "Discussions" area going forward. At this time the latest release is https://github.com/react-native-tvos/react-native-tvos/releases/tag/v0.69.5-1, see #362

[2022-09-25 20:18] #274 closed

[2022-09-26 13:09] geroale opened #364 "Couldn't determine Hermesc location on Android Release"
### Description

When compiling on Android release mode (debug mode is working) with hermes enabled, the following error is showing, blocking the build

`org.gradle.internal.UncheckedException: java.lang.Exception: Couldn't determine Hermesc location. Please set project.ext.react.hermesCommand to the path of the hermesc binary file. node_modules/react-native/sdks/hermesc/%OS-BIN%/hermesc`

This is

[2022-09-26 14:43] danychi commented on #204
I am having the exact same issue as @ramiro-r. My project is using `react-native-tvos@0.69.5-1`

[2022-09-26 15:44] douglowder commented on #204
@danychi if you have a working example that reproduces the issue, please provide it here and I'll take a look.

[2022-09-26 16:19] douglowder commented on #364
@geroale could you try with 0.69.5-1?

[2022-09-26 16:36] merrywhether commented on #341
@douglowder What do you mean by this comment about finally moving to Fabric? The rn-tvos readme indicates support for Fabric; is that not recommended yet?

[2022-09-26 17:13] douglowder commented on #364
Confirmed, this reproduces on a newly created project with 0.69.5-1. Agreed, the solution is not obvious at all yet, I'll take this up immediately.

[2022-09-26 17:14] geroale commented on #364
@douglowder Thank you so much :)

[2022-09-26 18:32] douglowder commented on #364
I think the root cause is that the `hermesc` path changed from 0.68 to 0.69.

See @cortinico 's comment: https://github.com/facebook/react-native/issues/34043#issuecomment-1163796634

I'll have a look at what is missing from this repo to set up the paths correctly.

[2022-09-26 20:04] douglowder commented on #341
@merrywhether Fabric is indeed supported. However, there are some limitations, and I believe that not all third party libraries have added support for Fabric yet. I think it is certainly worth trying out to see if it works well for your particular app.

[2022-09-26 20:55] douglowder commented on #364
Please patch your app as below, and see if that fixes the issue for you.

[code]

[2022-09-27 08:16] leonchabbey commented on #341
FYI, this patch fixes the back/menu button handling issue inside a Screen (of @react-navigation / react-native-screens):
[code]

[2022-09-27 15:35] geroale commented on #364
@douglowder Yes, it seems to work for us. Thank you

[2022-09-27 18:12] cortinico commented on #364
Hey all,
Happy to bring a bit of clarity here.

Starting from React Native 0.69, we're shipping Hermes together with React Native (we call this 'Bundled Hermes'. See https://reactnative.dev/architecture/bundled-hermes

With Bundled Hermes, we dropped the old `hermes-engine` NPM Package and we distribute `hermesc` (the hermes compiler) as part of react native. It's located inside the `sdks/hermesc/

[2022-09-28 00:03] douglowder commented on #364
Thanks @cortinico ! I'm working on fixing this properly by building `hermesc` the same way that RN core does, but I wanted to make sure that people were unblocked while I'm getting that done :)

[2022-09-29 20:56] abthkr commented on #358
Facing the same issue. I need to implement bi-directional scrollview and bring the current row/column in front focus.  I am trying to implement scroll actions on my custom scrollview (as paging was not supported for vertical scrollview/flatlist) on directional events. But that only works for single event, since cannot detect if user is long pressing the directional control (so that my scrollview s

[2022-10-01 08:45] nunsie commented on #364
My release builds crash due to the bytecode issue mentioned above (after applying patch)

[code]

In order to resolve and get the release build running on my devices again:

1. copied the `hermesc` dir from vanilla `react-native` into my repo.
2. set a `postinstall` npm script to move it to the correct `sdks` location.

This approach has a LOT of drawbacks (those bins add nearly 50mb to source) an

[2022-10-01 11:42] cortinico commented on #364
Thanks for sharing this. You should be fine by adding a dependency on the `react-native` package and use `hermesc` from there though.

For future reference: we're updating the way how we distribute artifacts with an RFC here: https://github.com/react-native-community/discussions-and-proposals/pull/508
Once we land that, you should be able to just fetch `hermesc` for a specific version of React Nat

[2022-10-02 20:18] douglowder commented on #364
Release 0.69.5-2 is published, and includes the correct `hermesc` artifacts from RN core 0.69.5.

[2022-10-02 20:18] #364 closed

[2022-10-04 11:47] danychi commented on #204
Hi @douglowder, sorry for the late response, here it's the [link](https://github.com/danychi/tvfocus-guide-bug) to the repository where you can reproduce the bug.

tvOS
On tvOS the `TVFocusGuideView` works only after you focus on the Carousel once
https://user-images.githubusercontent.com/45874461/193811315-71afa4e2-a743-4275-a481-77556db36281.mov

Android TV
It doesn't seem to work
https://user-i

[2022-10-04 23:27] douglowder commented on #204
Thanks @danychi I'm taking a look at the example app now and testing out some changes.

[2022-10-11 14:07] wouterds commented on #18
Hi,

I see this issue was closed, but want to confirm if this is a bug in the library or bug in my implementation. The weird thing is that the event triggers for AndroidTV but not for tvOS, the API is therefore behaving inconsistently across platforms.

This example repository can be used to reproduce the bug;
- https://github.com/wouterds/react-native-tv-example
- (don't forget to `cp .env.exampl

[2022-10-12 00:54] douglowder commented on #18
I ran your app and looked at the view hierarchy on tvOS when a detail item is being viewed.

Seems that you are using native navigation, and there is a `RNScreensNavigationController` on top of the main view controller for the root view. So what appears to be happening is that the menu key event is handled by `RNScreensNavigationController` and pops the detail view off the navigation stack.  `Back

[2022-10-13 18:31] douglowder commented on #18
That is correct -- the native stack navigator is implemented natively using view controllers in iOS/tvOS and Fragments in Android, and they do have some different behaviors.

Since the menu key is actually working to dismiss the view, is there some additional feature you are trying to implement that requires `BackHandler`? If you just need to know when the view is dismissed, you can put a blur lis

[2022-10-14 08:04] wouterds commented on #18
I would just expect the `BackHandler` to work the same on tvOS & AndroidTV, so when going back to receive the `hardwareBackPress` event on both tvOS and AndroidTV.

[2022-10-16 04:48] douglowder commented on #18
If the stack navigator was implemented in JS (as `@react-navigation/stack` does), then indeed `BackHandler` would be used for back navigation. However, since you are using `@react-navigation/native-stack`, the implementation is in native code provided by `react-native-screens`, and that is using the native navigation view controllers for the stack.

In general, `BackHandler` does not work the same

[2022-10-16 10:21] aniketgupta8960 opened #372 "I18nManager.allowRTL(false) not working in tvOS"
### Description

We are building a tvOS app which support multiple language. When the device language is Arabic then the I18nManager.allowRTL(false) doesn't work when app launches. The Ui gets disturbed.We want that the device language doesn't affect the app style . As we reload the app then the RTL is disabled
Is there a solution to disable RTL

### Version

68.2-2

### Output of `npx react-nativ

[2022-10-16 18:33] douglowder commented on #372
I am confused about this requirement. If the device language is Arabic, RTL must be enabled in order for the app to work correctly, yes?

[2022-10-16 18:35] douglowder commented on #372
Also, if you can provide a simple app that shows this problem, it would be helpful in understanding and debugging the issue.

[2022-10-18 06:59] #372 closed

[2022-10-19 09:06] aniketgupta8960 opened #375 "ERROR Invariant Violation: `new NativeEventEmitter()` requires a non-null argument. Getting this error on upgrade of tvOs version from 0.68.2-2 to 0.69.6 ."
### Description

I updated the react native tvOS version to 0.69.6-0. The previous tvOS version was 0.68.2-2.
I have ran yarn install and pod install and also deleted node_modules and yarn.lock before running the yarn install command.But still this issue is there
Any Solution for this
My package.json is
{
  "name": "KidsApp",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "android": "

[2022-10-19 16:35] leonchabbey commented on #341
Hi @douglowder!

Did you manage to test it / reproduce the issue since?

This issue is quite a blocker for us right now and we can't migrate to Fabric because of reanimated...
We have a button that needs to get the focus on mount but setting `hasTVPreferredFocus={true}` causes the freeze we talked about before (`counter` [here](https://github.com/react-native-tvos/react-native-tvos/blob/efaa116881

[2022-10-19 16:41] douglowder commented on #341
I will wait to see your demo project, but I do know that when using React Navigation with native stack navigator, for example, there can be views that are not descended from the root view. Hopefully once I see the demo I can figure out what is happening.

[2022-10-19 21:36] leonchabbey commented on #341
Here is the demo project: [NullRootViewDemo.zip](https://github.com/react-native-tvos/react-native-tvos/files/9824522/NullRootViewDemo.zip)

It seems like the issue only occurs with `hasTVPreferredFocus` set to `true` on mount on views in nested navigators.
I added comments in the demo code, but basically if you render only the `Drawer.Navigator` you won't have the issue. However, if you render a

[2022-10-19 22:13] douglowder commented on #375
Please provide a complete app that shows the issue, so I can see the stack and determine the source of this error.

[2022-10-22 00:45] #375 closed

[2022-10-22 20:34] iDVB opened #377 "react-native-template-typescript-tv fails with "Could not locate Gemfile""
### Description

When running...
`react-native init TestApp --template=react-native-template-typescript-tv`
it errors out with `Could not locate Gemfile`

### Version

9.2.1

### Output of `npx react-native info`

`npx react-native info`
errors with
error: unknown command 'info'
(Did you mean init?)

### Steps to reproduce

Run the following when you already have the cocoapods gem installed.
`reac

[2022-10-23 03:26] douglowder commented on #377
Thanks for the bug report, I will take a look.

[2022-10-23 20:59] douglowder commented on #341
It looks like the issue can be avoided by using `@react-navigation/stack` instead of `@react-navigation/native-stack`.

However, to really fix the issue, I think you will need to add navigation focus listeners and only set `hasTVPreferredFocus` when the screen has navigation focus. I'll spend some time trying to implement that.

[2022-10-24 14:21] wouterds commented on #18
I see, thanks for clarifying. The thing that bothers me is that it does work for Android with this `@react-navigation/native-stack` & `react-native-screens` implementation. Would be nice if we could align that behaviour between tvOS & Android TV. The native navigation feels a lot more natural to me than the JS one and has some additional features which are handy that do not exist on the JS one.

W

[2022-10-24 15:03] danychi opened #380 "(Android TV) hasTVPreferredFocus not working consistently when navigating between screens"
### Description

Hi there!

First of all, I wanted to thank you for the fantastic job that you are doing with this repository ❤️

I have created a repository [here](https://github.com/danychi/has-tv-preferred-focus-bug) which contains three screens: `A, B,  C`.  On every screen, you can navigate to any of the other two. So for example, if you are on `A`, you can navigate to `B` or `C`.

Apparently

[2022-10-24 15:28] leonchabbey commented on #341
Yep I already tried their `useIsFocused` hook but it usually returns `true` already when the route mounts so it doesn't fix the issue.

Something that works but is not ideal since we will usually see a change in focus, is to set a `mounted` state variable so we will wait at least one react render before setting `hasTVPreferredFocus` to true.

[code]

[2022-10-24 17:37] EGutierrezVargas opened #381 "AndroidTv / React native player not working when start app"
### Description

Hi guys, i have a problem when i run npm i react-native-video and start application no play the video, buy when i run whitout react-native-os is play with the video.

![image](https://user-images.githubusercontent.com/20630878/197589489-8be19e0c-62bc-4ba4-9586-4d1291d8886b.png)

![image](https://user-images.githubusercontent.com/20630878/197589525-781202bb-b8a1-4425-b9ec-72e583e79

[2022-10-25 21:29] freeboub commented on #381
Please don't put useless commented code in ticket description.
You need to provide the exact react native react-native-tvos you use. in 10 month, nobody will be able to understand what is lastest...
Did you try to play the video with another version or with regular react-native.
It looks more an issue with react-native-video. Did you try to test this video with react-native-video sample ?

[2022-10-26 18:55] douglowder commented on #341
I attempted something completely different -- instead of searching for the root view when `hasTVPreferredFocus` is set, just fire a notification and let the root view handle it.

The problem is, at the time the notification is fired, the root view does not yet exist -- I verified that in this weird case, RNSScreen is creating and attaching views first before creating the root view.

Hopefully when

[2022-10-26 21:16] akbari6776 opened #382 "TVEventHandler and many tv build components gone"
### Description

In the first i don't install react-native-tvos and i can't find TVEventHandler, then with google search i know i should install this package and i installed and everything was fine, but today i got this error :

<img width="1434" alt="Screenshot 2022-10-26 at 20 15 51" src="https://user-images.githubusercontent.com/42941890/198140549-654ac2bf-74f1-440a-997d-2ac95156c5ba.png">

![S

[2022-10-27 08:56] akbari6776 commented on #382
I created a new tvos project and copied the TV and TabBarIos folders and the index.js file and then put it in my main project and the errors went away and the project can run, but all is not well, very It's not working properly.

[2022-10-27 12:24] aniketgupta8960 opened #383 "NextFocusApi not working for inside Animated View or AnimatedImageBackground"
### Description

HI Team,
I am working on a react native game project based on tvOs where there are animation of button.The next focus api works fine with normal view but inside the animated view the next focus api doesn't work.
Please help me with this issue as this is a blocker for us

### Version

0.68.2-2

### Output of `npx react-native info`

System:
    OS: macOS 12.6
    CPU: (8) x64 Intel

[2022-10-27 20:40] douglowder commented on #380
Thanks very much for the reproduction of the issue! It looks like you are using `@react-navigation/native-stack`, which is already known to have issues with this. I'll take a look.

[2022-10-27 20:46] douglowder commented on #381
It would be helpful if you provide a working example repo that shows the problem.

Since your app is using functional components, I'd also recommend strongly that you use the `useTVEventHandler()` hook instead of creating your own `TVEventHandler` objects.

[2022-10-27 21:14] douglowder commented on #382
I suspect that you might have installed both react-native and react-native-tvos, which will not work. react-native-tvos is a fork of the main react-native project, so you should never install both.

[2022-10-27 21:15] douglowder commented on #383
Please provide a complete project that shows the issue, and I will be happy to help investigate.

[2022-10-28 09:55] akbari6776 commented on #382
@douglowder yes i first install react-native then run command yarn add react-native@npm:react-native-tvos@latest

it was ok but when i worked on project i got ViewPropType error and installed deprecated-react-native-prop-types, and then TV and TabIosBar folder deleted

[2022-10-28 10:27] aniketgupta8960 commented on #383
HI @douglowder  This is the drive link for the code https://drive.google.com/file/d/1odCAl7FB5dkCu1jGn92flpL_O-7nmtU-/view?usp=sharing

[2022-10-28 17:58] douglowder commented on #382
From the README for this repo:

[code]

[2022-10-28 17:58] #382 closed

[2022-11-03 23:22] douglowder commented on #377
Tracking this in https://github.com/react-native-tvos/react-native-template-typescript-tv/issues/5

[2022-11-03 23:22] #377 closed

[2022-11-04 01:43] douglowder commented on #383
Thanks @aniketgupta8960 -- unfortunately, that archive will not build, due to missing assets.

It would be helpful to make a much simpler app that only has one screen that shows the problem. You can also keep the file size much much smaller by not including the `node_modules` directory or the `ios/Pods` directory in the archive.

[2022-11-04 07:26] aniketgupta8960 commented on #383
Hi @douglowder Sorry to hear that the build didn't run on your side but now I have removed all the missing assets and please if you can download the code from this link https://drive.google.com/file/d/1odCAl7FB5dkCu1jGn92flpL_O-7nmtU-/view?usp=sharing
and test the navigation on Repeat Popup which appears on clicking the rightMost button on the screen .

[2022-11-06 02:03] #381 closed

[2022-11-06 21:23] wouterds commented on #380
I also have a demo project using @react-navigation/native-stack with quite some issues with focus, can be used to verify possible fixes https://github.com/wouterds/react-native-tv-example

[2022-11-06 21:30] wouterds opened #386 "Failed to transform react-native-0.71.0-rc.0-debug.aar"
### Description

Out of nowhere my 2 react-native-tvos projects don't compile anymore for Android.

During compilation the build eventually fails with the following;
[code]

It looks like it's using a wrong future version of react native (`0.71.0-rc`)? I'm using `0.66.3-3` in this specific project.

This was working 3 days ago in both repositories and nothing changed in between, I have nightly bui

[2022-11-06 21:45] wouterds commented on #386
Ah I just saw react-native [released a hotfix](https://github.com/facebook/react-native/releases/tag/v0.70.5) addressing this issue & mentions this as workaround: https://github.com/facebook/react-native/issues/35210.

[2022-11-06 21:51] wouterds commented on #386
The workaround described in above issue works https://github.com/wouterds/react-native-tv-example/commit/266f7d8dc5ec511548cd9755567e3d9da789a449

[2022-11-06 21:51] #386 closed

[2022-11-07 02:08] douglowder commented on #386
Thanks for the heads up @wouterds ... wow.

I'll take a look to see if I can patch TV repo for 0.68 and higher releases.

[2022-11-07 06:02] douglowder commented on #383
@aniketgupta8960 good news -- I was able to run your app and see the issue.

It isn't clear exactly what the problem is. I was able to show that in some cases, focus can move to buttons in the screen underneath the RepeatPopup modal. Unfortunately, I don't think I'm going to have an answer for you very quickly.

I'll have to see if I can simplify the repro. With all the many buttons all having pre

[2022-11-07 06:03] douglowder commented on #383
I also think this might be related to the issues described in #324

[2022-11-07 11:12] danychi commented on #380
@wouterds I have tried to use the approach from your `FocusService` in this small [repo](https://github.com/danychi/has-tv-preferred-focus-bug/compare/main...feature/try-focus-service) but I did not succeed. The focus gets lost when pressing the back button. Btw really cool repo and nice code 🙌

[2022-11-07 22:38] sebasg0 opened #388 "Focus(TVOS)"
### Description

In a catalog of products (multiple horizontal flatlists inside of a vertical flatlist), I will get delayed focus behavior in TVOS while switching in between elements, focus animation comes delayed. This got me thinking if somehow we could create a native component with the focus logic and manage the toggle style logic in within the native component which is running in main thread

[2022-11-07 22:39] sebasg0 commented on #388
@douglowder do you have any suggestions for this behavior?

[2022-11-08 15:09] wouterds commented on #388
This is indeed a pain point, the focus and reflecting it in the UI through state. Especially as apps grow and get bigger, fetch more data (even in background) it becomes very very very hard to maintain a decent user experience.

[2022-11-08 19:23] douglowder commented on #388
Possibly we need to look at using the native focus APIs that are provided for collection views. Also hoping that Fabric will solve some of these issues.

If one of you has an example that shows this problem, I can do some performance testing to see where the bottlenecks are that are slowing things down.

[2022-11-09 09:10] wouterds opened #389 "Text getting focus instead of touchables (Android only)"
### Description

I just upgraded to version `0.69.5-2` very meticulously and everything compiles and runs, but the focus engine seems to be focusing Text nodes now instead of Touchables. I discovered this by turning on a debug setting, then you can see the Text gets the focus instead of the button. With debug mode off it looks like the focus is not working until you click a few times (as we don't

[2022-11-09 09:29] wouterds commented on #389
This resolves the issue but it can't be right that I would have to explicitly opt-out from this everywhere we use Text? There's ways around it by abstracting Text into a custom component but still that seems not ideal?

![Screen Shot 2022-11-09 at 10 28 01](https://user-images.githubusercontent.com/1210628/200792548-e5ea2dcd-e932-40a7-85db-5e363298de52.jpg)

[2022-11-09 09:41] ludovic-noirault opened #390 "Hotfix build 0.xx.5"
### Description

Hello

Android builds (on most recent versions > 0.63) have been impacted by build issues due to dependency repository failure (jcenter) and the way the alternative repository handles dependencies version works (mavenCentral).

Hotfix versions have been made available on the main react-native repo with the tag number 0.xx.5, and an issue explaining the whole situation is [availabl

[2022-11-09 09:50] wouterds commented on #390
You can patch it yourself for now if you don't want to upgrade as described in https://github.com/react-native-tvos/react-native-tvos/issues/386

[2022-11-09 10:19] ludovic-noirault commented on #390
It works, thanks for the link !

If anybody needs it, i changed the following in our android/buiid.gradle file
From
[code]

To
[code]

[2022-11-09 10:19] #390 closed

[2022-11-09 12:18] wouterds commented on #389
So like I said we could go this route, having a custom Text component, this solves it for now but it doesn't really sit right with me, it's just a workaround, not a decent solution imo.

![Screen Shot 2022-11-09 at 13 15 52](https://user-images.githubusercontent.com/1210628/200828403-5ad2439e-299b-40b6-98cf-1848cdf51af8.jpg)

![Screen Shot 2022-11-09 at 13 16 18](https://user-images.githubusercont

[2022-11-10 03:12] sebasg0 commented on #388
Issue is with large data sets, rendering a 20 x 20 nested flatlist/flashlist and then adding some logic to every card for focus style, this way you will be able to reproduce the delayed focus. I can see the parallax effect is already in the card but since the style is happening in the JS thread then it's coming delayed. This is why I was asking if we could somehow create a native component and inj

[2022-11-10 03:19] douglowder commented on #388
Interesting... if you disable the parallax animations, does the problem resolve?

[2022-11-10 03:20] sebasg0 commented on #388
https://user-images.githubusercontent.com/83782787/200992800-6d073ff4-f8a4-4c61-b72b-a58fe930bc0e.mov

[2022-11-10 03:20] sebasg0 commented on #388
Here is visible how the parallax effect is already in the last card but the focus comes delayed, I'm wrapping my set state inside a `requestAnimationFrame` as well

[2022-11-10 07:33] sebasg0 commented on #388
Update: I was able to create a native wrapper, just exploring some props and how far we could take it. Once I got a stable version I will post it with you guys. This will solve our focus issues when having a large set of elements in a flatlist in tvOS/androidtv/firestick.

https://user-images.githubusercontent.com/83782787/201027806-ae0fcaa2-f032-4ddd-9f23-c0b362d465a5.mov

[2022-11-10 07:42] wouterds commented on #388
An optional focusStyle prop would also be a solution. That way we don't need to manage state to adjust styles when a component gets focus.

[2022-11-10 08:19] wouterds commented on #389
I'm gonna close it for now as above workaround works, but look into demo project if I can reproduce this bug

[2022-11-10 09:52] stepas-dev opened #392 "App is not building on Android"
### Description

Can't run app on android anymore, in normal react native the solution was upgrading it to version 0.69.7. Any solution ?

Execution failed for task ':app:mergeDebugNativeLibs'.

      - /Users/stivas/.gradle/caches/transforms-3/a8108ce710a662637a30dedebdb0a106/transformed/jetified-react-native-0.71.0-rc.0-debug/jni/arm64-v8a/libc++_shared.so
      - /Users/stivas/.gradle/caches/tr

[2022-11-10 14:17] altaywtf commented on #237
@TrebuhD thanks a lot for the tip. does your solution work both for Android and Apple TV?
I only made it work on the Apple TV. 🤔

[2022-11-10 14:54] sebasg0 commented on #388
@wouterds I believe this will only be possible by passing an style object but limited one with props as opacity, borderRadius, paddings, margins, we could add also an animation prop as appletv streaming apps have this scale anim, etc. What properties will you suggest? for me right now, passing the animation, border radius and border color it's enough.

[2022-11-10 17:06] TrebuhD commented on #237
It should work - I'm using this mainly with Android TV.

[2022-11-10 19:53] douglowder commented on #392
Please see #386 and #390 . I will be publishing a hotfix soon, but you can use the workarounds described there.

[2022-11-10 19:53] #392 closed

[2022-11-10 19:56] douglowder commented on #388
@sebasg0 @wouterds when a focusStyle object is used, should parallax animations be turned off by default?

[2022-11-11 00:05] sebasg0 commented on #388
No, we can leave it enabled with no issues. We just need to sort of the nextFocus prop in this new wrapper, blocking focus is way easier natively rather than passing a reference.

[2022-11-12 18:17] FezMLG opened #393 "Failed to build project with use_frameworks!"
### Description

Failed to build app after adding `@react-native-firebase/app`.

Error from xcode:
ReactCommon-dynamic -> (project_dir)/node_modules/react-native/ReactCommon/react/nativemodule/core/ReactCommon/TurboModuleUtils.h:16:10 'react/bridging/CallbackWrapper.h' file not found

### Version

0.69.6-0

### Output of `npx react-native info`

[code]

### Steps to reproduce

Steps to reproduce:

[2022-11-12 22:33] FezMLG commented on #393
https://github.com/invertase/react-native-firebase/discussions/5722

[2022-11-12 22:33] #393 closed

[2022-11-14 12:46] wouterds commented on #388
@sebasg0 Why not allow all styles? I would see it as a secondary style object that just enriches the `style` object if it is provided, on focus.

[2022-11-15 14:15] geroale commented on #389
We have the same issue

[2022-11-15 14:17] wouterds commented on #389
I ended up creating a custom `Text` component where we set the default value for `accessible` to `false`.

[code]

[2022-11-16 15:00] sebasg0 commented on #388
@wouterds I was stuck in some mobile tasks at my company. I will re take this today. First stable version is ready with a catalog example project which is running very performant in appleTV HD. I will try to publish package to npm today so u'all can give feedback and contribute accordingly. We are still missing support for AndroidTV. Also I made a concerning discovery in react drawer navigation...

[2022-11-18 02:57] douglowder commented on #389
@wouterds I took at look at the commit history of the Android native textinput views, and found this change that it seems to me might explain this: https://github.com/react-native-tvos/react-native-tvos/commit/d4a78183b6c80d978a90d9dc85705a2ff30fef43

Can you try reverting that change and see if it fixes the issue for you?

[2022-11-18 05:03] samandarkuchkarov opened #395 "Recommendations in Android TV Home screen"
### Description

The Android framework assists with minimum-input interaction by providing a recommendations row on the home screen. Content recommendations appear as the first row of the TV home screen after the first use of the device. Contributing recommendations from your app's content catalog can help bring users back to your app.

### Version

react-native-tvos@0.64.2-4

### Output of `npx r

[2022-11-18 09:01] wouterds commented on #389
@douglowder I'll give it a try

[2022-11-18 12:43] wouterds commented on #389
I'm not able to get my app compiling when I fork the react-native-tvos repo & apply the patch.

[2022-11-18 19:15] freeboub commented on #395
I was able to implement this feature on my project, but unfortunately, I cannot share the code.
There is no generic library to acces to android content provider in react native (or I didn't find it).
So I think you need to implement it from scratch.

[2022-11-20 17:40] douglowder commented on #389
@wouterds after applying the patch, you would need to execute

[code]

inside the react-native-tvos repo, and then copy the `android` directory with that build into your app directory, replacing the existing `node_modules/react-native/android`

[2022-11-20 21:55] iDVB opened #397 "react-native-tvos/rnn-starter-tv gradle error"
### Description

Wasn't sure where to document this.
I'm very new to RN but have a working app for Android TV and was very hopeful to use bits of the https://github.com/react-native-tvos/rnn-starter-tv sample app.

However, when I try to launch the app in the emulator I get...
[code]

 Is there a better more up to date example of an Android TV app that showcases a number of helpful libs?

### Vers

[2022-11-21 01:10] wouterds commented on #380
**Update:** I switched to `@react-navigation/stack` but the problem remains. On tvOS it works perfectly, but on AndroidTV it looks like `hasTVPreferredFocus` only works once, the initial time the screen renders? Afterwards (or when navigating back) it is fully ignored.

[2022-11-21 01:21] wouterds opened #398 "hasTVPreferredFocus not working on AndroidTV after initial render"
### Description

It works perfectly on tvOS, but on AndroidTV it looks like `hasTVPreferredFocus` works only on the initial render, and all subsequent times you would visit the screen or navigate back it is ignored.

I have created a new `react-native-tvos` project using the latest version (`0.69.6-0`) and set up a basic demo with some top-level screens & detail screens to reproduce this issue. I'

[2022-11-21 04:22] douglowder commented on #397
I think you can fix this by just opening `android/build.gradle` and changing `compileSdkVersion` to 31.

Sorry I have not had a chance to update this project in some time.

[2022-11-21 17:24] iDVB commented on #397
Thanks! I'll give that a go.

@douglowder Can you point me in the direction of a few things?
- what in that codebase is enabling the use of Typescript. My codebase is plain JS and I would love to port it over to TS.
- Any idea why I can run `react-native run-android --verbose` on my own codebase and it launches the android TV emulator and pushes the app in to test. But this rnn-starter-tv code bas

[2022-11-21 18:16] douglowder commented on #397
For an idea of what your repo should look like for Typescript, take a look at https://github.com/react-native-tvos/react-native-template-typescript-tv . You can try that out by creating a new app with

[code]

It's very similar to the Typescript template for RN (`react-native-template-typescript`) -- there is an additional file in the TV repo that you need to import (`tvos-types.d.ts`).

There is

[2022-11-22 09:43] wouterds commented on #398
Or if there is anything wrong with this setup and I'm missing something I'd gladly hear as well. We have this problem in our production project and in this example project that illustrates the issue.

[2022-11-22 15:04] wouterds commented on #397
This seems related to https://github.com/react-native-tvos/react-native-tvos/issues/386, applying this patch in the project fixes it https://github.com/wouterds/react-native-tv-example/commit/88f731e. Probably this will get fixed eventually when react-native-tvos is synced with the upstream react-native repository or when the patch is applied in react-native-tvos itself.

[2022-11-22 19:39] wouterds commented on #397
I am going to close this issue for now as there's a workaround available (see above) and the issue has been fixed upstream but is not yet available in a release in react-native-tvos.

[2022-11-22 19:39] #397 closed

[2022-11-23 11:50] wouterds commented on #398
I have found a **\*workaround\*** for AndroidTV (https://github.com/wouterds/react-native-tv-example/pull/1/commits/852b889db67d966670a89104f7873a066d5359f0) that works in my demo project (it's on the [`feature/experimental-focus`](https://github.com/wouterds/react-native-tv-example/tree/feature/experimental-focus) branch if you want to try it out).

https://user-images.githubusercontent.com/12106

[2022-11-23 13:47] Barteque commented on #107
Hi @douglowder
What is the status of that?
Can we use tv.ios. or .tvos. files?

[2022-11-23 15:58] henninghall commented on #107
What we ended up doing was a workaround similar to this

`player.tsx`
`playerTvOS.tsx`
`playerMobile.tsx`

<hr/>

**player.tsx**

[code]

[2022-11-23 18:11] douglowder commented on #398
This is a great find and indicates that the problem is in the Android preferred focus native implementation. Probably the native code is not getting notified when the JS property changes.

[2022-11-25 15:19] geroale commented on #22
We have the same issue

[2022-11-25 19:13] ogzhnaydn38 opened #402 "Apple Tv Submit Store Error"
### Description

Hello,
I am using react-native-tvos@0.69.6-0 version, I have developed my application, but I am getting such an error when submitting to Apple Store.
I created a blank project and archived it, but it has the same problem.

how can i solve this error? I need to solve it urgently.

![WhatsApp Görsel 2022-11-25 saat 21 03 35](https://user-images.githubusercontent.com/41451519/2040429

[2022-11-25 19:23] aekurt41 commented on #402
I'm having the same problem too. I would be glad if you can help with an urgent solution. #emergency #error #bug

[2022-11-27 18:34] douglowder commented on #402
Could you send me the Info.plist from the blank project?

[2022-11-28 06:51] aekurt41 commented on #402
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>tr</string>
	<key>CFBundleDisplayName</key>
	<string>d7ksuper</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(P

[2022-11-28 06:51] aekurt41 commented on #402
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>tr</string>
	<key>CFBundleDisplayName</key>
	<string>d7ksuper</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(P

[2022-11-28 06:53] aekurt41 commented on #402
`<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>tr</string>
	<key>CFBundleDisplayName</key>
	<string>d7ksuper</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(

[2022-11-28 06:55] aekurt41 commented on #402
`<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>tr</string>
	<key>CFBundleDisplayName</key>
	<string>d7ksuper</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(

[2022-11-28 06:58] aekurt41 commented on #402
douglowder@mac.com I sent it to your e-mail address, it does not come as a code when I share it here.

[2022-11-28 19:02] douglowder commented on #402
Ok you can convert it to XML format with

`plutil -convert xml1 Info.plist`

I think your problem is here:

[code]

Remove the `armv7` capability and I think that will fix it.

[2022-11-30 08:47] ogzhnaydn38 commented on #402
Thanks,The problem was solved by typing arm64 instead of armv7.

[2022-11-30 08:47] #402 closed