[2019-08-18 11:45] omrip2 opened #5 "React Native Init doesn't work for TVOS"
When creating new project with the following command the xcode project doesn't being compiled to tvOS:
react-native init TestApp --version=react-native@npm:react-native-tvos@0.60.4-0
The error which being thrown by xcode is library not found for -lPods-projectName-tvOS

React Native version:
System:
    OS: macOS 10.14.5
    CPU: (12) x64 Intel(R) Core(TM) i7-8850H CPU @ 2.60GHz
    Memory: 9.14 G

[2019-08-18 17:46] dlowder-salesforce commented on #5
Confirmed -- issue reproduces on react-native-tvos@0.60.4-1.

It appears that the new cocoapods-based template files don't support tvOS.  (The non-cocoapods templates from 0.59 do work with tvOS).

Investigating.

[2019-08-22 22:12] dlowder-salesforce commented on #5
@omrip2 I just merged the fix for this into the 0.60.4 branch.  You should be able to verify the fix yourself as follows:

[code]

and then build and run the TestAppFix-tvOS target.  Please let me know if this is working for you, then I'll push out a patch release.

[2019-08-23 21:39] dlowder-salesforce commented on #5
This is now fixed and released in https://github.com/react-native-community/react-native-tvos/releases/tag/v0.60.4-2

[2019-08-23 21:39] #5 closed

[2019-08-27 11:24] mtshv commented on #5
@dlowder-salesforce Thank you!
Btw, I've noticed that readme still uses 0.60.4-1

[2019-08-28 02:12] sjpeter opened #7 "react-native-tvos releases do not have "android" directory, breaking Android builds"
I run:
react-native init TeatTv --version=react-native@npm:react-native-tvos@0.60.4-2
then:
react-native run-android

## Task  :app:compileDebugJavaWithJavac

Deprecated Gradle features were used in this build, making it incompatible with Gradle 6.0.
Use '--warning-mode all' to show the individual deprecation warnings.
See https://docs.gradle.org/5.4.1/userguide/command_line_interface.html#sec:com

[2019-08-28 02:16] sjpeter commented on #7
help

[2019-08-28 05:44] sjpeter commented on #7
Thinks,you know about android TV development.
I need development android TV App.

[2019-09-04 10:31] YBDevelopment opened #8 "React Native Library for TV"
I want to create a Native Module in React Native for TV.
The process works fine for iPhone but NOT for TV
for iOS : no tv target was created so I  adjust it in Xcode to tv platform
After Embedding the library in RN project and access native module function  I get errors  "Cannot read property 'functionalists' of undefined"
React Native version:0.59.8 (for tv only this version works)
## Steps To Re

[2019-09-04 15:18] dlowder-salesforce commented on #8
`react-native-create-library` hasn’t been updated in two years, and seems to be from a personal repo, not a Facebook or a RN community repo.  I can have a look to see if there is a newer and better supported solution.

[2019-09-05 06:23] YBDevelopment commented on #8
Thanks. Please update me if you find solution

[2019-09-05 07:28] sureshsu opened #9 "Question: Is this going to be official support of React native for tvos?"
In official react native 0.60.5, I am unable to compile RN code for TVOS. Is this repo official one for AppleTV support?

[2019-09-05 07:40] dlowder-salesforce commented on #7
This is not an Apple TV issue, and should be submitted to the core repo instead.

[2019-09-05 07:42] dlowder-salesforce commented on #9
From README.md: “Going forward, Apple TV support for React Native will be maintained here and in the corresponding react-native-tvos NPM package, and not in the core repo. This is a full fork of the main repository, with only the changes needed to support Apple TV.”

Note that at this time, we have only 0.60.4-based releases.

[2019-09-05 07:42] #9 closed

[2019-09-05 09:44] sureshsu opened #10 "Unable to compile TestApp project for tvOS"
1) As per instruction given, created a react native project :
react-native init TestApp --version=react-native@npm:react-native-tvos@0.60.4-0

2) Did a pod install

3) Open xcode workspace and select TestApp target for ios, build is successful.

4) Whereas if we select TestApp-tvos target. Tried to compile for AppleTV, but build fails.
ld: library not found for -lPods-TestApp-tvOS
clang: error: li

[2019-09-05 10:01] sureshsu commented on #10
Looks init command needs to be updated to 0.60.4-2 ...

[2019-09-05 10:01] #10 closed

[2019-09-06 14:22] stevengiraldo commented on #9
Hey @dlowder-salesforce, how could we have it for React Native 0.59.10?. Thanks

[2019-09-06 18:32] dlowder-salesforce commented on #9
@stevengiraldo you could try https://www.npmjs.com/package/react-native-tvos/v/0.59.8-1

[2019-09-08 11:20] YBDevelopment commented on #8
Hi
I try to create the module by $ create-react-native-module
like is written FB documantaion  : https://facebook.github.io/react-native/docs/native-modules-setup

Nothing changed the library does not work on tv
The project with the library is compiled but on runtime when I call native function that exported by RNBridge I get the error :
**Unhandled JS Exception: Cannot read property 'Func' of und

[2019-09-08 16:24] dlowder-salesforce commented on #8
I think the problem is that the podspec for the module created by `create-react-native-module` does not include tvOS support.

This is the change needed:

[code]

I'll give this a shot, and if this works, I'll file a PR with create-react-native-module repo to get this fixed.  Please feel free to test this yourself.

[2019-09-08 23:45] dlowder-salesforce commented on #8
@YBDevelopment : see PR for `create-react-native-module`above that was merged today. It does indeed fix the issue.

[2019-09-08 23:45] #8 closed

[2019-09-09 01:27] brodybits opened #11 "Why tvOS is a fork and not a module?"
__updated:__

__Summary:__ see title which was updated several times, by multiple people, and is now a question.

__Resolution:__ see below - agreed on my part

__Original rationale:__

I did not realize until after I merged brodybits/create-react-native-module#91 that tvOS was actually moved into its own package separate from the core react-native package. I then raised facebook/react-native-webs

[2019-09-09 10:56] dlowder-salesforce commented on #11
For some more context on this, see https://github.com/react-native-community/discussions-and-proposals/issues/111

[2019-09-09 13:58] stevengiraldo commented on #9
Works fine. But I'd like to contribute with a release for 0.59.10
is there a particular process to do that?
Thanks!

[2019-09-10 23:19] dlowder-salesforce commented on #11
The key difference between tvOS support in React Native, versus other out of tree platforms like Windows and web, is that tvOS shares almost all its native code with iOS.  The tvOS-specific native code can be generally divided into these types:

- Preprocessor directives in common Objective-C files to stub out code that won't compile on tvOS
- Xcode project changes (or podspec additions) to exclud

[2019-09-10 23:54] dlowder-salesforce commented on #9
@stevengiraldo there isn't a well defined process yet.  Currently the process is manually selecting the exact commit for a particular core version, then cherry-picking just the commits needed to get tvOS working.  There are always merge issues since RN changes pretty quickly.

In having a look at core, it seems that 0.59.8 and 0.59.10 differ by just 14 commits, so having a release should be possib

[2019-09-11 16:39] dlowder-salesforce commented on #9
@stevengiraldo please try 0.59.10-2 -- that should give you everything in core 0.59.10 plus all tvOS fixes.

[2019-09-12 02:29] stevengiraldo commented on #9
Hey, @dlowder-salesforce it works perfectly, thanks for the support.

[2019-09-13 08:14] hufkens commented on #7
@NickAVolpe We currently have an app running on tvOS and Android TV and face the same challenges of supporting both platforms. Until now we were on react-native 0.59.8, but we are upgrading to this version. I'm hoping to start contributing back.

@dlowder-salesforce Is it ok for you that we also add Android TV related features and patches in this repo so it becomes the TV version?

[2019-09-13 14:18] mikehardy commented on #5
The readme still references 0.60.4-0 I think?

I'm the react-native-device-info maintainer and I'm trying to test a PR that fixes tvOS support there - https://github.com/react-native-community/react-native-device-info/pull/781

But when I run `react-native init exampletvOS --version=react-native@npm:react-native-tvos@0.60.4-2` I get:

[code]

help? :-)

[2019-09-13 14:30] dlowder-salesforce commented on #5
Please try 0.60.4-5

[2019-09-13 14:36] mikehardy commented on #5
I still get this
[code]

It appears to not even be downloading the template, so I don't think -0 or -4 or -5 is the problem, it's something more fundamental. Likely something trivial I'm missing?

What commands would you run in exact order to start from nothing and have a test app called 'exampletvOS' ?

I'd assumed it was just that `react-native init exampletvOS --version=react-native@npm:react-n

[2019-09-13 17:55] dlowder-salesforce commented on #5
Maybe there is an issue because you are executing `react-native init TestApp --version=react-native@npm:react-native-tvos@0.60.4-5` inside an existing RN directory.  The command works for me.....

[2019-09-13 17:58] dlowder-salesforce commented on #7
@hufkens YES YES I welcome some Android TV help 👍

@NickAVolpe the compile error may be a version mismatch between version numbers in the Android files and the version number in package.json.  I'll have a look to see.

[2019-09-13 18:40] dlowder-salesforce commented on #7
Ok I found the root cause for this issue -- the `android` directory is missing from `node_modules/react-native` if this repo is used instead of core 0.60.4.  Bizarre.  Investigating to see why.

[2019-09-13 19:01] dlowder-salesforce commented on #7
Android directory is missing because there is a script I have to run before publishing to NPM.  Will fix this in an upcoming release.

Workaround:
- Generate a new project using core `react-native@0.60.4`
- Copy `node_modules/react-native/android` from that project into `node_modules/react-native` in a project generated with this repo

Then `react-native run-android` should work as expected.

[2019-09-13 21:00] brodybits commented on #7
Looking forward to the bug fix. Here is a possibly quicker workaround that worked for me:

* create a new blank project with `react-native` as a dependency:
  - `mkdir temp-project && cd temp-project`
  - `yarn init -y`
  - `cat package.json` # (optional but recommended)
  - `yarn add react-native@latest`
* do the second workaround step above:
  - copy `node_modules/react-native/android` from that

[2019-09-13 22:06] dlowder-salesforce commented on #7
@brodybits is correct, this issue is because we are a fork of the core repo.

Correct solution:  in the top level directory, run `./gradlew ReactAndroid:installArchives` before publishing to NPM.

That currently fails for me in the Javadoc generation, because of an issue with javax.annotation having been removed from OpenJDK 11.  Working on a solution for this.

[2019-09-14 01:11] dlowder-salesforce commented on #7
The installArchives error I'm seeing is being tracked at https://github.com/facebook/react-native/issues/25625

[2019-09-14 01:54] dlowder-salesforce commented on #7
@hufkens @NickAVolpe : to unblock this issue temporarily while we wait for a proper solution, I can comment out line 102 of `ReactAndroid/release.gradle`, so that the sources jar is generated, but the Javadoc jar is not.  Would you be ok with that for now?

[2019-09-15 14:41] mikehardy commented on #5
@dlowder-salesforce you nailed it. The CLI won't tolerate being in a directory with node_modules already I suppose. Similar to monorepos etc I guess you need an intermediate directory. Thanks

[2019-09-15 14:46] mikehardy commented on #5
<img width="1484" alt="Window 2019-09-15 at 09 45 05" src="https://user-images.githubusercontent.com/782704/64923245-a9cafa80-d79d-11e9-85a2-fe3e8d855b08.png">

🚀

[2019-09-15 15:05] brodybits commented on #7
I would sure favor that kind of a solution. I think the purpose of this package should be to get tvOS working with the other supported platforms (iOS and Android), not to generate any Javadoc. (It sound like the Javadoc JAR would not be needed to run on Android.) Thanks!

[2019-09-15 15:30] brodybits commented on #11
Understood and agreed.

I still think it should be possible to have a separate `tvos` platform with a generated project that builds with *most* of the modules and libraries from `node_modules/react-native/React/Base`, `node_modules/react-native/React/Views`, `node_modules/react-native/React/Modules`, and `node_modules/react-native/Libraries`. The generated project would then use a limited number o

[2019-09-15 17:28] dlowder-salesforce opened #14 "Generation of `android` directory does not include Javadoc archive"
In order to have a release that works for Android, it is required that

[code]

be run before publishing to NPM.

Generation of the binary and source archives work, but Javadoc archive generation fails due to missing dependencies.  (See #7 and https://github.com/facebook/react-native/issues/25625)

Javadoc generation is temporarily disabled for this repo until this issue is resolved.

[2019-09-15 18:03] dlowder-salesforce commented on #7
Fixed in https://github.com/react-native-community/react-native-tvos/releases/tag/v0.60.4-6 .

[2019-09-15 18:03] #7 closed

[2019-09-16 07:37] YBDevelopment commented on #11
When I use this fork the app builds and compiles but when I try npm install in changes I get this error :
No matching version found for react-native@0.60.4-6
 In most cases you or one of your dependencies are requesting
a package version that doesn't exist.

Why?

[2019-09-16 16:51] brodybits commented on #11
I recommend you raise a new issue with a minimal reproduction: https://stackoverflow.com/help/minimal-reproducible-example

I am not a maintainer of this module and it is not such a high priority for me to contribute any active support right now.

[2019-09-16 17:22] brodybits opened #15 "How many active users?"
Survey from an outsider: I was wondering who is using this project and not in secret?

[2019-09-17 01:53] brodybits commented on #14
I would classify this as an enhancement since I think generating Javadoc for Android is not a goal of this fork project.

[2019-09-17 05:19] dlowder-salesforce commented on #14
@brodybits : if we are focused only on Apple TV, you are correct.

However, there is a possibility that Android TV fixes and enhancements may go into this repo.  (See comments in #7 )  If this happens, then a complete Android archive generation (including Javadocs) would become more important......

[2019-09-17 05:56] brodybits commented on #14
Wow another TV OS, open source this time:)

So this would be a bigger fork, in a similar fashion to the way Expo has its own fork (except that Expo seems to fall behind, argh!)

I still don't really understand the motivation behind generating Javadoc from a custom fork. I would assume the React Native Java API should not be any different for Android TV, or am I missing something here?

[2019-09-17 12:09] brodybits commented on #11
From discussion in #14, I would now conclude that this project is really a fork to support one or more TV operating systems, as opposed to a truly separate "out-of-tree" module.

This would be very similar to the way that Expo has its own [`expo/react-native`](https://github.com/expo/react-native) fork, which it uses to release the various Expo SDK versions.

Now downvoting and hiding my idea in <

[2019-09-17 19:22] NickAVolpe commented on #15
I have not contributed code to this project but I am actively using it. We are building a tvOS and Amazon FireStick app. I am a part of a small lean team inside a larger company. After a couple days of R&D we decided to go with this project as opposed to You.I TV.

I appreciate all the hard work to keep this project going. If I can find ways to help contribute in the future I will.

[2019-09-18 13:38] respectTheCode commented on #15
At Playlister our Apple TV app uses this project. We have 3 - 5 engineers working on the project and have been in production for about a year and a half. The rest of the platform is React and React Native so React Native was the natural choice for our Apple TV app. We recently moved from the core repo to this project.

[2019-09-18 13:44] hufkens commented on #15
We build a TV App with React Native (TADAAM: https://tadaam.be). After they announced that the tvOS support could be dropped in the next releases we switched to this repo.

The good news is that @douglowder did a great job setting all this up. One of our own custom components (the FocusGuide) was also added and merged. That would never have happened in the Core repo. So please contribute and help

[2019-09-21 17:33] douglowder opened #16 "tvOS feature: additional Siri remote gestures (especially the pan gesture)"
It would be good to support some of the additional gestures available on the Apple TV remote trackpad, particuarly the pan gesture.  This is already supported in a separate module (https://github.com/respectTheCode/react-native-tvos-controller).  This issue is to track work for merging some or all of that module's features into this repo.

Discussed earlier in https://github.com/respectTheCode/rea

[2019-09-24 18:44] zero298 commented on #15
Also building OTT application with React Native.

[2019-09-30 08:47] hufkens opened #17 "Support the new tvOS13 TabBar"
The following behaviour seems to be broken in the new UITabBar on tvOS13. Selecting the

In tvOS, swiping down from the tab bar moves focus into the content view; specifically, to the first focusable view that is visually below the selected tab. Swiping down behaves like a normal focus-changing gesture—that is, focus moves in the direction the user swiped. If nothing is focusable immediately below

[2019-09-30 09:58] Tagir-A opened #18 "BackHandler doesn't work for tvos"
When using the BackHandler as described in [RNTester](https://github.com/react-native-community/react-native-tvos/blob/849b24184b8a65d555fc55d54332b7dce0b309c4/RNTester/js/RNTesterApp.ios.js), the handler doesn't work and menu button press causes to exit the app.

React Native version:

System:
    OS: macOS 10.14.6
    CPU: (12) x64 Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz
    Memory: 21.04 MB /

[2019-09-30 11:21] dnicolson opened #19 "react-native init command fails to find a correct version"
The init command in the README fails due to not finding a matching version.

React Native version:
System:
    OS: macOS Mojave 10.14.6
    CPU: (4) x64 Intel(R) Core(TM) i7-7567U CPU @ 3.50GHz
    Memory: 431.88 MB / 16.00 GB
    Shell: 3.0.2 - /usr/local/bin/fish
  Binaries:
    Node: 10.15.1 - ~/.asdf/installs/nodejs/10.15.1/bin/node
    Yarn: 1.17.3 - /usr/local/bin/yarn
    npm: 6.4.1 - ~/.as

[2019-09-30 18:18] dlowder-salesforce commented on #19
Step 1 in your repro steps is incorrect.  You should remove `react-native` and `react-native-tvos` from your global installs.  Then do `npm i -g react-native-cli`.

Also, when executing `react-native init`, do not do it inside a directory that is an existing npm project with react-native installed.

[2019-09-30 18:25] dlowder-salesforce commented on #18
It will work if you use the new `TVMenuControl` module correctly.  Look in `RNTester/js/RNTesterApp.ios.js` in the 0.60.4-6 branch to see the usage; the menu button should be enabled when pushing on the nav stack, and disabled when you get back to the bottom.

This module was added to satisfy Apple's requirement that repeated menu button presses should bring the user to the home screen.  Previousl

[2019-09-30 18:25] #18 closed

[2019-09-30 18:25] #19 closed

[2019-09-30 18:27] dlowder-salesforce commented on #17
Thanks @hufkens .... I am definitely seeing issues with UITabBar in iOS 13.  Investigating.

[2019-09-30 18:50] dlowder-salesforce commented on #17
Seems that what you have to do is press the button on the Siri remote after focusing a tab bar item, then the appearance of the item changes, and focus can move to the content.  Maybe this is the new expected behavior on tvOS 13.

The other big issue I'm seeing is slow rendering of new content when navigating between tab bar items.... having a look at that next.

[2019-09-30 19:04] hufkens commented on #17
It works indeed when you press. But it should work when you swipe down too. I checked Apple’s TV app and that works.

No idea why this stopped working.

[2019-10-01 16:28] dlowder-salesforce commented on #17
The behavior and the API of UITabBar has changed so much in iOS/tvOS 13, that it may as well be regarded as a completely new UI.  Besides the focus problem we're seeing, the appearance is now controlled by a new API, and the appearance properties used in RN TabBarIOS are now marked "legacy".

Since RN core has dropped TabBarIOS for the phone anyway, I think the best path forward is to create a new

[2019-10-02 07:47] octopicorn opened #20 "No way to use npm package if it uses Native lib supported in iOS but not tvOS"
Version: `"react-native": "npm:react-native-tvos@0.60.4-6",`

When I want to use some library that is supported by iOS but not tvOS, for example `react-native-webview`, I am unable to build tvOS anymore.

## Steps To Reproduce

1. `yarn add react-native-webview`
2. `cd ios && pod install`

Expected:
pod installs for iOS but not for tvOS

Actual
pod install attempts to install for tvOS and throws f

[2019-10-02 08:05] hufkens commented on #20
On tvOS there is no WebView so you will need to only add that library to the iOS Target and not the tvOS Target.

This can be specified in the Podfile. More information can be found here: https://guides.cocoapods.org/syntax/podfile.html

But I don't see it in your Podfile so I guess React-Native magically finds/installs the react-native-webview library?

You could try commenting this line:
`requir

[2019-10-02 18:25] dlowder-salesforce commented on #20
I think the problem is the `use_native_modules!` line.  That is going to try to automatically pick up any NPM dependencies that have native modules.

If you take that out, and put in a `pod` line for the iOS target that explicitly pulls in `react-native-webview` pod, that should solve the issue.

[2019-10-02 18:54] octopicorn commented on #20
Thanks guys. I understand the workaround, and it makes sense.

However, it seems like a steep price to pay to remove the very helpful (and now industry standard) use_native_modules script.  If I get rid of this, I then no longer have the benefit of auto-linking RN libraries through cocoapods, which was a key benefit of upgrading to RN 0.60.

Would it not be a better long term solution to emulate/f

[2019-10-02 19:05] octopicorn commented on #20
I have a proof of concept already, I'm just stuck on getting Ruby to access the `platforms` key out of the `.podspec` in the loop.  I'm just not familiar enough with ruby/cocoapods to understand what i'm missing.

Here's what I mean:

Assuming I have some library in `node_modules` with this `.podspec`
[code]

And my application's `Podfile` looks like:
[code]

Then, in my modified version of `@reac

[2019-10-02 19:26] dlowder-salesforce commented on #20
I'll have a look

[2019-10-02 20:04] dlowder-salesforce commented on #20
Try this:
[code]

[2019-10-02 20:12] octopicorn commented on #20
Thank you! That is the magic key I needed.
I guess the field `platforms` get transmuted under the hood somehow into `available_platforms` under the hood.

Do you know of any shorter ruby syntax to deduce whether an item is present in a given collection?

Like in javascript something like:
[code]

Just a nice to have. Also don't mind looping through and just using a sentinel boolean var...

[code]

[2019-10-03 19:13] hufkens commented on #17
I looked into the appearance API and the depricated can still be used for the old version. And we can add the new properties without breaking the old behaviour. I need it anyway for our app, so I'll contribute it back to this repo. Why the swipe down isn't working I'll also try to investigate.

[2019-10-04 22:43] dlowder-salesforce commented on #17
Found a very simple pure native example project for UITabBarController, and modified it for tvOS at https://github.com/dlowder-salesforce/TabBarFromCode .

I do see that this project doesn't have the problem of swiping down from the tab bar to the content.  However, even this very simple project has severe performance issues -- takes almost a second to switch tabs, and I'm seeing glitches where it

[2019-10-05 06:04] hufkens commented on #17
Apple is pushing this TabBar very hard and doesn’t really like apps using different forms like a sidebar. Maybe the SwipeDown is an issue because of our setup. So I’ll have to dig into that.

For performance, did you try on a real device because that seems reasonable here.

[2019-10-07 11:12] vdmtrv commented on #16
I was also contemplating a similar side project as the current react-native `TVEventHandler` doesn't really support remote gesture events that don't pass the threshold. I guess we can extend and build upon the current `TVEventHandler` in this project now that there's an official fork.

[2019-10-11 11:22] keshavkaul commented on #11
Since this is a fork of react-native, then the release schedule for this repo will practically not be the same as the parent repo, so in a scenario where I will need to upgrade ios/android mobile apps to latest react-native versions, I will have to wait for tvOS to make a release. Right?

[2019-10-11 22:12] dlowder-salesforce commented on #11
@keshavkaul you are correct, you will have to wait until this repo supports the latest RN core version. That would likely be a problem even if this were an add-on module instead of a fork. There have been quite a few changes in recent versions of RN core that broke tvOS....

[2019-10-12 04:48] keshavkaul commented on #11
Thanks! I'm now leaning towards having a monorepo project setup either with lerna or yarn workspaces. We plan on supporting mobile, tv, web, firetv, Xbox, so having each platform be a separate package with their own dependencies but re using common code seems ideally feasible. Any thoughts you'd like to share about advantages or disadvantages of monorepos will greatly help me out. Thanks again for

[2019-10-17 07:25] projetsdiy opened #21 "JSON value 'none' of type NSString cannot be converted to NSNumber message"
Hello. I created a new project with the latest version (react-native init testApp --version=react-native@npm:react-native-tvos@latest).

After installation, i ran pod install inside the ios folder

The App is correctly build but i have 2 error messages
JSON value 'dark-content' of type NSString cannot be converted to NSNumber
JSON value 'none' of type NSString cannot be converted to NSNumber messa

[2019-10-18 09:41] keshavkaul opened #22 "tvOS: TextInput backgroundColor style prop has inconsistent UI when highlighted."
<img width="543" alt="Screenshot 2019-10-18 at 2 59 37 PM" src="https://user-images.githubusercontent.com/3319809/67083148-4414c880-f1b8-11e9-8cdb-c1569aea90ba.png">

React Native version: react-native-tvos@0.60.4-6

## Code

[code]
[code]

Describe what you expected to happen:

TextInput has default tvOS UI experience that I need to customize. Providing styling to TextInput should disable that de

[2019-10-18 09:43] keshavkaul commented on #22
unfocused and focused UI
<img width="533" alt="Screenshot 2019-10-18 at 3 11 58 PM" src="https://user-images.githubusercontent.com/3319809/67083916-a4f0d080-f1b9-11e9-9553-dde8fff99af8.png">

[2019-10-18 22:13] dlowder-salesforce commented on #21
I don't reproduce this issue locally.  I would recommend that you move to Xcode 11.1 and iOS 13.1.x, and see if you still get an error.

[2019-10-18 22:58] dlowder-salesforce commented on #22
This seems to be a long-standing issue with RN, where styles supported in `<Text/>` are not necessarily supported in `<TextInput/>`.  https://github.com/facebook/react-native/issues/7070

[2019-10-19 02:50] keshavkaul commented on #22
Any recommendations on how to customise text input? Or if i have to fix this, where to look for this issue?

[2019-10-19 12:26] projetsdiy commented on #21
You're right ! No problem with XCode 11.1. Thank you very much and have a nice week end !

[2019-10-19 12:26] #21 closed

[2019-10-19 16:46] dlowder-salesforce commented on #22
The one suggestion I saw that made sense was to try to wrap a Text inside the TextInput, e.g.

[code]

It seems to work, but has some odd behaviors on tvOS.  Could you try in your environment and see what happens?

[2019-10-19 16:47] dlowder-salesforce commented on #21
Excellent -- thanks for letting me know!! :)

[2019-10-22 12:47] aakashsigdel commented on #20
@octopicorn any update on this?

[2019-10-24 07:35] keshavkaul commented on #22
Thanks, i tried your suggestion but notice that in tvOS's native text input screen, the text is applied a vertical offset and appears cut off.

[2019-10-24 11:58] projetsdiy opened #27 "Attempted to set a non-object key in a WeakMap with redux in a tvOS 13 project"
Hello, i've this error when i include redux in my tvOS project
Attempted to set a non-object key in a WeakMap
I've a blank screen after

## React Native version:
System:
    OS: macOS Mojave 10.14.6
    CPU: (4) x64 Intel(R) Core(TM) i5-4260U CPU @ 1.40GHz
    Memory: 20.27 MB / 8.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 10.16.0 - /usr/local/bin/node
    Yarn: 1.19.0 - /usr/local/

[2019-10-24 15:37] dlowder-salesforce commented on #27
@projetsdiy thanks for the report! Can you provide all of the JS code for your test project?  Also, does the same error occur on RN core version 0.60.4?

[2019-10-24 16:29] dlowder-salesforce commented on #27
Also, please provide your `package.json` so I can see all of the project dependencies.

[2019-10-24 21:43] projetsdiy commented on #27
I think I found the origin of the problem. Part of the reducer code is shared with my android project. I save the user settings using the react-native-shared-preferences package ... and of course it was not installed on the tvOS project 🙃 really sorry for the loss of time.
The debugging is a little longer on tvOS because when I run JS Debugger, the tvOS app crashes. Do you have the same problem?

[2019-10-24 22:50] dlowder-salesforce commented on #27
I am not having any problem with the JS Debugger.

[2019-11-14 15:13] ArturasMi commented on #21
I'm actually having the same issue with react-native-tvos@0.60.4-6 on iPhone 8 simulator when trying to change status bar style _StatusBar.setBarStyle("light-content")_ . xCode version: 11.1

[2019-11-15 04:24] #27 closed

[2019-11-15 05:27] dlowder-salesforce commented on #21
This seems to be fixed in react-native-tvos@0.61.2-0.

See https://github.com/facebook/react-native/issues/26619 for details.

[2019-11-22 11:11] ArturasMi opened #30 "inverted FlatList focus issue"
When you focus FlatList item that has inverted set to true it flips item 180 deg. It's a known issue for react-native https://github.com/facebook/react-native/issues/21919 but it looks like "This issue seems to have a really low activity on it" it so I decided to write it here since react-native-tvos is focusing on Apple TV.

React Native version:
  IDEs:
    Xcode: 11.1/11A1027 - /usr/bin/xcodebu

[2019-11-24 23:01] dlowder-salesforce commented on #30
@ArturasMi thanks for the reminder about this issue.  I just took a look.  It appears that you can work around this immediately by commenting out line 217 of RCTTVView.m as shown below.  Looks like the FlatList inversion is doing its own affine transform that conflicts with the one in RCTTVView.  I'll start working on a fix.

[code]

[2019-11-26 19:58] dlowder-salesforce commented on #30
@ArturasMi could you test with the changes in the above commit and verify that the issue is resolved?

[2019-11-26 22:07] ArturasMi commented on #30
@dlowder-salesforce Hi, thanks for your quick reply. Yes I tested and I can confirm that your suggestion above worked!

[2019-12-02 10:49] ArturasMi opened #31 "TextInput on focus ignores placeholderTextColor"
Hi, first of all thanks for maintaining react-native-tvos I really love it! However I came across a strange issue with TextInputs. I made some primitive styling and once I tried to move around the screen I noticed that after focusing on TextInput it sets placeholder color back to black. I'm not sure if that's a bug or I just don't know how to use it.

IDEs:
Xcode: 11.1/11A1027 - /usr/bin/xcodebuil

[2019-12-13 19:21] miblanchard opened #32 "Fork update and release process"
@dlowder-salesforce I'm interested in knowing more about how you keep this project in sync with the upstream RN and maintain the tvOS/CTV related changes on top of that.  We may end up using this in the future for work, and I'd love the ability to help keep this fork up to date with latest!

I really appreciate that this repo exists and keeps pushing forward improvements for the CTV experience!

[2019-12-13 19:34] dlowder-salesforce commented on #30
Fixed in release 0.61.5-0.

[2019-12-13 19:34] #30 closed

[2019-12-13 19:46] dlowder-salesforce commented on #32
Glad to answer this!!! When upstream RN does a major release, I do the following:

- Fetch the upstream repo with all its tags
- Take the latest release tag (e.g. v0.61.2), and create a base branch with those exact commits (e.g. branch-v0.61.2).  Then I make a new branch (e.g. tvos-v0.61.2) to start applying the tvOS-specific changes.
- Start cherry-picking all the tvOS changes from the previous r

[2019-12-16 21:15] miblanchard commented on #32
That is very helpful!  Thanks for explaining. Keep up the awesome work and I hope to be able to put that knowledge to good use in the new year!

[2019-12-18 00:22] keshavkaul opened #33 "tvOS: TouchableOpacity elements cannot change focus if rendered below an overlay view"
The TouchableOpacity elements cannot change focus if they are rendered below an overlay view in tvOS. This issue is not present in Android TV.

I have created a issue reproducible repo here https://github.com/keshavkaul/react-native-tvos-focus-issue-example

We need to run animations on top of TouchableOpacity buttons and be able to change focus of the buttons. Any quick fix anyone might suggest w

[2019-12-18 00:30] dlowder-salesforce commented on #33
Thanks for the detailed bug report and repro! I’ll start by having a look at RCTTVView.m and see if I  can figure out what’s going on.

[2019-12-18 20:23] dlowder-salesforce commented on #33
I built your test project and do indeed see the issue.  I don't think it is tvOS specific.  When I build the iOS target for your project, I see the same issue -- those buttons are not touchable if they are behind the overlay.

[2019-12-18 21:07] dlowder-salesforce commented on #33
Hmm.... I can solve the problem for iOS by adding `pointerEvents='none'` to the overlay view, but focus is still blocked for tvOS.  This may just be the way tvOS works -- I reviewed https://developer.apple.com/library/archive/documentation/General/Conceptual/AppleTV_PG/WorkingwiththeAppleTVRemote.html , and it seems that either the overlay view must have alpha = 0, or there is some other property

[2019-12-20 06:06] tonycoco opened #34 "Clean `react-native init TestApp` produces errors for RCTView"
There's an error in console, if dismissed it seems to work fine:

[code]

Seems like just a few `validAttributes` need to be added.

React Native version:

[code]

## Steps To Reproduce

1. `react-native init TestApp --version=react-native@npm:react-native-tvos@latest`
2. Build
3. Run in Simulator

[2019-12-20 22:06] tonycoco commented on #34
Odd that it is fixed with me init'ing a new project with yarn now installed.

[2019-12-20 22:06] #34 closed

[2019-12-21 12:47] iiagodias commented on #33
I have the same problem, I can't change the focus of TouchableOpacity using a Drawer and Stack navigation.

[2019-12-23 19:10] brodybits commented on #15
Thanks to all for the comments, nice to see that the tvOS support is alive and in active use. Any objections to keeping this issue open?

A quick disclaimer is that I am just an interested outsider in this project.

[2019-12-27 20:13] dlowder-salesforce commented on #15
Yes I’ll keep this open!

[2019-12-29 18:58] brodybits commented on #14
I think it would be ideal if we can get this fixed.

Alternative solution may be to just document that there is no custom Javadoc that is needed to be made on this fork.

[2020-01-01 19:03] oscadev opened #37 "Noob setup problem"
The instructions dont make sense to me. It says "do not install react native globally", which I didnt (I use npx react-native), byut then says to run:
"react-native init TestApp --version=react-native@npm:react-native-tvos@latest"
which would only work if react native is installed globally.

Using npx, how do I create a tvos react native project?

[2020-01-02 18:38] dlowder-salesforce commented on #37
Install `react-native-cli` globally. :)

I will clarify those in the docs.

[2020-01-02 20:18] oscadev commented on #37
Thanks for the reply. Installing the cli solved all my issues. I thought npx was just a newer way to achieve the same, but it wasn’t working using npx.

[2020-01-02 20:18] #37 closed

[2020-01-02 20:27] dlowder-salesforce commented on #37
@oscadev I will also document how to use npx with the newer `@react-native-community/cli` package.

[2020-01-02 21:19] oscadev commented on #37
Thanks, that’d be great!

[2020-01-03 20:45] vgrafe opened #38 "impossible to build/run after moving code to another folder"
React Native version:
System:
    OS: macOS 10.15.2
    CPU: (16) x64 Intel(R) Core(TM) i9-9980HK CPU @ 2.40GHz
    Memory: 24.83 GB / 64.00 GB
    Shell: 5.7.1 - /bin/zsh
  Binaries:
    Node: 13.4.0 - /usr/local/bin/node
    Yarn: 1.19.2 - /usr/local/bin/yarn
    npm: 6.13.4 - /usr/local/bin/npm
  SDKs:
    iOS SDK:
      Platforms: iOS 13.2, DriverKit 19.0, macOS 10.15, tvOS 13.2, watchOS 6.1

[2020-01-03 20:52] vgrafe commented on #38
BTW - when trying to run a freshly init RN-TV project in the workspaces folder, the error is the same than the one above. Also, further down is something that seems like the relevant error:
[code]

[2020-01-04 03:43] dlowder-salesforce commented on #38
I was able to reproduce this.... this is probably going to happen with projects using react-native core repo as well.

I fixed it by removing the `ios/build` folder after changing the name of the top level folder, then re-running `react-native run-ios`.  Does that help you?

[2020-01-05 02:13] vgrafe commented on #38
Yes, good call. Following directions fix the problem. Now I have to investigate why this error happens when using yarn workspaces, but I am pretty sure this has to d with bad hoisting configuration.

[2020-01-05 02:13] #38 closed

[2020-01-05 02:13] vgrafe commented on #38
Thank you! 😀

[2020-01-05 07:36] dlowder-salesforce commented on #38
Glad that works!!! That folder is where Xcode caches compiled objects during `run-iOS`, and maybe the folder name change prevents the next build from finding cached objects and headers.

[2020-01-05 12:34] brodybits commented on #16
?
--
Sent from my mobile

[2020-01-06 02:25] vgrafe opened #39 "a project set up with yarn workspaces won't resolve local imports"
Hi! Sorry if this is not the right place to ask this.
I am trying to set up a POC with yarn workspaces in order to reuse components and logic across webapps, RN, and TV. The webapp (created with CRA) resolves the test component (from a package within the monorepo) and renders it without a cough. On the other hand, the RN-TV app crashes: the tv apps renders the following error message in the simula

[2020-01-06 03:29] dlowder-salesforce commented on #39
I’m afraid I can’t help you.... I agree that this is probably a Metro config issue.

[2020-01-06 03:29] #39 closed

[2020-01-08 18:20] TheoGit opened #40 "click remote "menu" btn doesn't go back prev screen in navigation - exits app"
I've developed a RN ATV app that uses react navigation; from my main menu if

React Native version:
System:
    OS: macOS Mojave 10.14.4
    CPU: (12) x64 Intel(R) Core(TM) i7-8850H CPU @ 2.60GHz
    Memory: 3.64 GB / 16.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 12.3.0 - ~/.nvm/versions/node/v12.3.0/bin/node
    Yarn: 1.21.1 - ~/.yarn/bin/yarn
    npm: 6.9.0 - ~/.nvm/versions/node/

[2020-01-11 17:58] dlowder-salesforce commented on #40
You need to use the new `TVMenuControl` API.  It has methods to enable and disable the menu key. Enable it when a screen is pushed onto the stack, and then disable whenever you return to the home screen.

[2020-01-13 17:38] TheoGit commented on #40
By "new" TVMenuControl - is this is a new/separate library or something; I've been using TVMenuControl since we created this app.
    this._tvEventHandler = new TVEventHandler();

Also, we wrap our app inside of a component (SiriRemote) which monitors menu actions for each page; so are you suggesting we now have to enable TVEventHandler page by page?
      <Provider store={store}>
        <**SiriR

[2020-01-14 07:09] keshavkaul commented on #40
@TheoGit
`TVMenuControl` is imported from `react-native`

It has two methods ->
`disableTVMenuKey()`
`enableTVMenuKey()`

Like @dlowder-salesforce says, enable MenuKey to enable `BackHandler`, imported from `react-native`, to receive back events and disable MenuKey to disable `BackHandler` to receive back events.

FYI, `react-navigation` makes use of `BackHandler` to listen for back navigation eve

[2020-01-14 07:45] keshavkaul opened #41 "Typescript support"
I'm using Typescript in my project and was wondering if Typescript support is planned in the near future? I would like to help in this aspect.

A good first step would be to document all the different TV-related API definitions and then work on adding Typescript support for each API. Thoughts?

[2020-01-14 17:45] TheoGit commented on #40
@keshavkaul thanks I'm actually aware of those methods; however as I posted our app is wrapped inside a component that has set enableTVMenuKey() - we track menu actions throughout the app, many pages - it sounds like I will have to now unwrap that component and do this page by page, duplicating a lot code --- this will be a massive undertaking - I appreciate your input

[2020-01-14 18:38] keshavkaul commented on #40
@TheoGit You mentioned using TVEventHandler, that's why I reiterated using TVMenuControl instead.

As for keeping this logic in one place,
In react-navigation, the App container component has a prop something like onNavigationChange callback.. I've used the router states in this callback to enable or disable menu key based on whether current state has a view stacked on top or not.

Goodluck!

[2020-01-14 18:52] TheoGit commented on #40
@keshavkaul I will look into that - thank you
I'm using AppStack.router.getStateForAction = (action, state) => {}
The menu/esc button is bypassing all attempts to trap the event, I'll keep plugging

[2020-01-14 21:14] TheoGit commented on #40
Figured it out - it works now - thanks!

[2020-01-16 20:39] Mahigoli opened #42 "iOS Dictation TextInput ends abruptly between words (0.59 and npm:react-native-tvos@0.61.5-0)"
Using dictation mode on a TextInput in iOS works partially. It only writes 1 word down then the dictation ends. (on react-native apple tv)

I am using react-native for apple tv and I tried with 0.59.9
xcode 11.3

it only grabs one word. I tried the debounce from
#18890 and it didn't help. However, when I am **in debug mode it works fine** so I think something is wrong with the timeline issue.

Try

[2020-01-17 21:07] pavjacko commented on #11
@dlowder-salesforce great effort trying to keep react-native tvos alive 🥇

I wondered same when I tried to integrate this into
https://github.com/pavjacko/renative

I managed to get some of initial issues out of the way however there are some outstanding issues to tackle (which forced me to stick with RN + some overrides at least for now):

- ios-only dependencies
biggest problem I faced was with

[2020-01-20 14:50] brodybits commented on #20
?

[2020-01-20 17:13] #40 closed

[2020-01-20 17:25] octopicorn commented on #20
I was able to fix the issue locally, but I didn't think it was an appropriate PR for the library in general. It was a specific use case that will likely not apply to the general user.

[2020-01-20 17:26] #20 closed

[2020-01-20 17:28] miblanchard commented on #20
@octopicorn did you essentially patch the podspec so it says it's compatible with tvOS and iOS?  I see an example project linked in this project that does something similar.

[2020-01-20 17:49] octopicorn commented on #20
I had to patch my own `native_modeules.rb` file.
To use it, I included `require_relative './native_modules'` at top of my `ios/Podfile`

In my `Podfile`, I have two blocks, one for ios and one for tvos. Both blocks call `use_native_modules!`

Here is the entire code I used for my local file `ios/native_modules.rb`. I inserted my notes above the original code comments (`# This is a function which i

[2020-01-20 21:28] dlowder-salesforce commented on #41
I just had a look at https://facebook.github.io/react-native/docs/typescript for their recommendations on how to add Typescript support.

It looks like the right place to add definitions for TV-related React Native APIs would be here: https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/react-native

This is the source for the @types/react-native NPM package, which is what FB recom

[2020-01-20 21:40] dlowder-salesforce commented on #11
@pavjacko thanks for the excellent commentary -- sorry I didn't respond sooner, I was offline due to medical issues for a couple of weeks.

In a monorepo, I would either use this package, or the RN core package, but not both.  This repo is intended to work for iOS, tvOS, and Android, and just add tvOS fixes to what is already in core.

This is discussed in detail in #32

Third party support for RN

[2020-01-20 21:42] dlowder-salesforce commented on #31
Is this the same issue as #22 ?

[2020-01-20 21:44] dlowder-salesforce commented on #42
Is this happening on both iOS and tvOS?  Does this happen with 0.61.5-0?

[2020-01-21 18:13] Mahigoli commented on #42
It happens only on tvOS and on both 0.61.5-0 and react-native 0.59.9.

[2020-01-21 18:44] dlowder-salesforce commented on #42
@Mahigoli thanks for the info.  Can you put up a repo with a simple RN app that demonstrates the problem, and also includes the debounce that you tried?  Once I have that I will start actively working on this.

[2020-01-22 00:05] Mahigoli commented on #42
import _ from 'lodash'

class SomeComponent extends React.Component {

  constructor(props){
    super(props);
    this.state = {
      text: ''
    }
    this.onChangeTextDelayed = _.debounce(this.onChangeText.bind(this), 1500)
  }

  onChangeText(text) {
    this.setState({text})
  }

  render() {
    return (
      <TextInput
        onBlur={()=>{
          this.onChangeTextDelayed.flush()

[2020-01-23 22:06] Mahigoli commented on #42
Hi @dlowder-salesforce  is this enough information?

[2020-01-23 22:09] dlowder-salesforce commented on #42
Yes this should do it.... I’ll try on different simulators and devices and see what happens

[2020-01-24 17:50] Mahigoli commented on #42
Thanks, I did try it with connecting actual apple tv device in debug mode it worked and when I built and installed ipa it didn't work.

[2020-01-27 02:08] dlowder-salesforce commented on #31
Closing as a dupe of #22

[2020-01-27 02:08] #31 closed

[2020-01-28 03:16] dlowder-salesforce commented on #42
@Mahigoli I looked through https://github.com/facebook/react-native/issues/18890 and compared it to latest 0.61.5 code.  The real problem is the way attributed text is set during dictation.  There are fixes in place for iOS, but they don't work for tvOS.

I have a quick fix that works for now, eliminating the need for the debounce or the onBlur method: https://github.com/react-native-community/rea

[2020-01-28 21:19] oscadev opened #43 "TouchableOpacity elements in previous screens in navigation stack are still accessible in next screen"
I have a simple navigation stack with 3 screens. To simplify, lets say screen 1 has 3 buttons named button1, button2, etc. Screen 2 has 3 buttons as well. Now, when I go to the second screen, if I am highlighting the first button and I go left, it will go and highlight button3 from screen1 off-screen. I have confirmed this by adding a console.log to each button on every page to identify itself ("b

[2020-01-29 01:25] dlowder-salesforce commented on #43
Could you post your JS code so I can try it out and see the issue?

[2020-01-29 02:07] NickAVolpe commented on #43
We had this same problem with react-navigation. Our solution was similar to the one you suggested  @oscadev. When we navigate to a new screen, we render an empty View component for the screen underneath in the stack.

[2020-01-29 20:06] oscadev commented on #43
@dlowder-salesforce Thanks for the reply. I was about to make my project public so that you can see, but then I saw Nick's answer. I went ahead and added navigation listeners for "didFocus" on each screen so that I can re-render the content when going back, and render nothing when leaving the screen. This worked. Thanks @NickAVolpe  . @dlowder-salesforce If you are still interested in looking for

[2020-01-29 20:09] dlowder-salesforce commented on #43
Yes thanks @oscadev please add me -- it would be good to have additional testing for react-navigation on tvOS, and maybe add pointers to the README here.  I will also take a look and see if there is an underlying issue in the native code.

[2020-01-29 20:23] oscadev commented on #43
@dlowder-salesforce I sent you the invite! There is nothing in the readme as I am the only one working on this project, but I can add details here! Basically, I have the app.js which includes the very simple stack navigator with the 3 screens. Each screen is located in the "screens" folder.

I have a list of toucahableopacity items in screen one in a horizontal row. Once selecting one of these ite

[2020-01-29 20:26] oscadev commented on #43
@dlowder-salesforce I havent pushed the fixed version, so the current version on master actually has the issues discussed!

[2020-01-29 20:40] dlowder-salesforce commented on #43
Yep I see the issue.... weird that the left nav goes back to the home screen and always to the second from the left tile, not the left most tile.  Something strange is definitely going on.

[2020-01-29 21:12] oscadev commented on #43
@dlowder-salesforce sorry, now that mentioned that behavior, I had added a “navigate to homepage” function when either the first or second element in the first page became focused. To avoid that, choose an element further in on both pages (for example the 10th element on page 1 and then the 5th on page 2) and then press left when already on the furthest left element. In this case, it will not load

[2020-01-29 21:21] oscadev commented on #43
@dlowder-salesforce to simplify your troubleshooting, I made a branch called "broken" where I removed all the fixes, and also removed that function that reloaded home screen when pressing left on the first item in screen 2 (that was another workaround I was trying out before).

[2020-01-29 23:25] Mahigoli commented on #42
Thanks @dlowder-salesforce. It did work with 0.61.5.

[2020-01-30 00:34] dlowder-salesforce commented on #42
I would add the fix as a patch in the npm postinstall step in your prod repo.... I’ll go ahead and get this fix into the next react-native-tvos release.

[2020-01-30 00:39] Mahigoli commented on #42
This is a great idea! Thanks @dlowder-salesforce I will do that.

[2020-01-31 14:11] Tagir-A opened #44 "Question: Can you call a focus event programmatically?"
It's a semi-question, semi-suggestion.

I struggle to find any example with calling focus on an element programmatically.
For example, `onPress` event on one element to trigger `onFocus` event on the other element.

Is it possible to achieve such behavior? And if so, let's add an example of such functionality.

[2020-02-05 00:42] dlowder-salesforce commented on #44
The one API we have for setting focus on a View would be the View boolean prop `hasTVPreferredFocus`.

[2020-02-05 01:17] dlowder-salesforce commented on #44
I tried this and it seems to do what you had in mind: Selecting Button 1 focuses Button 2, and vice versa.

[code]

[2020-02-05 20:04] #44 closed

[2020-02-13 11:03] khat33b commented on #15
At JunctionTV, we have built the CONtv and Dove Channel apps using React Native for the last two years after switching from native. Now we are starting to build TV apps also. We will be using this repo for our TV apps.

Thanks @dlowder-salesforce and the contributors for all the hard work in maintaining this repo.

[2020-02-27 16:45] keshavkaul opened #47 "Question: tvOS: When using tvos remote, UISearchController keyboard events are not propagated to UISearchBar's Text Input Field"
I am trying to Add Search capability in my tvOS App and am facing an issue where when using the tvos remote, the keyboard events are not propagated to the SearchBar's Text Input Field.

Typing on the laptop works though.

I have created a reproducible test repo for your review. (Branch-`poc/search-controller`)
https://github.com/keshavkaul/react-native-tvos-poc/tree/poc/search-controller

In the r

[2020-03-01 22:01] brodybits opened #49 "improve documentation of how to install this or other fork of React Native"
I think I finally understand it *today*, while working on something else, how installing from this fork works.

@dlowder-salesforce already described it in <https://github.com/brodybits/create-react-native-module/issues/95#issuecomment-530096981> for a custom native module but I think something similar is needed for an existing or new React Native app for tvOS. I think it should be this in case of

[2020-03-02 17:22] iiagodias opened #50 "Question:"
I can't publish my osTv application, I have the following error:

Can solve

[2020-03-02 17:43] iiagodias commented on #50
Solution: change the UIRequiredDeviceCapabilities key in info.plist to arm64

[2020-03-02 17:43] #50 closed

[2020-03-07 00:06] colin-oos commented on #43
We are having the same issue. We have it with stack navigators like you @oscadev and found it is also an issue with material tab navigators as well. If the next tab has touchable elements, it will let me continue to focus onto the next tab from my active tab.

I did the same workaround you mentioned but run into a significant performance issue when switching tabs or going back in a stack as the ap

[2020-03-07 00:36] oscadev commented on #43
@colin-oos Yes, I was going to recommend either caching/hiding without re-rendering. Just add a conditional to render the items or render null depending on a boolean like "showElements" that turns to "off" when you click to leave the page.

[2020-03-07 00:56] colin-oos commented on #43
Yeah, thats essentially what I'm doing now only without caching the images. The issue is, conditionally rendering either `null` or the touchable element will affectively re-render the touchable element and all of its children

[2020-03-07 01:48] oscadev commented on #43
@colin-oos if it is only re-rendering (without having to refetch data or do other tasks that take a long time) it should re-render instantaneously, I think.

[2020-03-07 02:19] colin-oos commented on #43
@oscadev In my case I do need to refetch data. My app is loading the uri's of the imagery on child components. There is also potential that my app may require other API related tasks in the children of my touchable components. I believe I found a fix to the problem though, and this might be a more elegant solution for yourself too.

I opened up the property `isTVSelectable` on `TouchableHighlight`

[2020-03-09 16:51] keshavkaul opened #51 "tvOS: Already focused Touchable Components keeps increasing in size when TVFocusGuide destinations points to it"
Reference View Layout ->
https://developer.apple.com/documentation/uikit/focus-based_navigation/creating_custom_navigation_interactions

Please see the above reference to understand the view layout and will help in reproducing the issue:

If focus is on button 4, and we move right where the focus guide is present, the focus loops through the already focused button 4 and the size of button 4 keeps

[2020-03-12 16:44] dlowder-salesforce commented on #47
React does intercept remote events, in `RCTTVRemoteHandler.m`.  You might need to modify that file in order to allow your search controller to get the events.

[2020-03-12 16:46] dlowder-salesforce commented on #51
This is very interesting... I will try to reproduce this and see if there is a way to fix it.

[2020-03-12 16:47] dlowder-salesforce commented on #43
@colin-oos thank you VERY much, I will take a look at your branch.

[2020-03-12 17:08] keshavkaul commented on #51
@dlowder-salesforce
The issue can be fixed in the `didUpdateFocus` method ->

https://github.com/react-native-community/react-native-tvos/blob/master/React/Views/RCTTVView.m#L200

we just need to check if the previously focused view is the same as the next focused view and not proceed further with sending focus events / adding animation effects.

I modified the code and saw that it is working as e

[2020-03-12 18:07] dlowder-salesforce commented on #51
If you have a fix already, I'd really appreciate it if you submit a PR against the tvos-v0.61.5 branch :)

[2020-03-16 19:19] ishaqashraf opened #55 "tvOS: onFocus issue"
is there any way that onFocus and onBlur works on `View` component on tvOS?
i have a list inside my View component and i want to catch the onfocus and onblur when user focus on that View.
i added `hasTVPreferredFocus` prop on View but no luck
here is my code sample :
`<View hasTVPreferredFocus={true} onFocus={() => console.log('focus')} style={homeScreenStyles.sliderRowContainer}>
          {

[2020-03-16 20:33] ryanvanderpol opened #56 "ld: library not found for -lPods-TestApp-tvOS"
I understand this error is mentioned under the [Pitfall](https://github.com/react-native-community/react-native-tvos#pitfall) section of the README, but no where there or in any of the issues I've found does it say how to actually *resolve* the problem.

The README does mention this might happen if you have `react-native` or `react-native-tvos` installed globally, but I do not.  See below:

[code]

[2020-03-16 21:12] ryanvanderpol commented on #56
Alright, I was able to figure this out.  It seems you're required to initialize the project with the following command:

`$ react-native init TestApp --version=react-native@npm:react-native-tvos@latest`

This was really unclear to me and although this command does exist in the README it is buried in a section that I glossed over because it didn't seem important.

On another, probably more importan

[2020-03-16 21:12] #56 closed

[2020-03-17 00:35] dlowder-salesforce commented on #55
- I would recommend moving to the current supported version of react-native-tvos (0.61.5-0)
- `View` is not focusable, but `Touchable` and friends are, plus a few other components (e.g. `TextInput`)

[2020-03-17 07:58] ishaqashraf commented on #55
yes i used `Touchables`but in the above situation i need to onFocus and onBlur func on View. do you have any suggestion?

[2020-03-17 08:00] ishaqashraf commented on #55
like i have a swiper component and i want to disable auto scrolling when user focus on that View and then when unFocus the auto scrolling will enable

[2020-03-17 14:49] ryanvanderpol commented on #34
hey, @tonycoco, sounds like you resolved this by starting a brand new project.  I'm running into this same error now and not in a position to start over... any idea how to fix it?

[2020-03-17 15:51] tonycoco commented on #34
No idea, I nuked my project and started using TVML instead of ReactNative honestly.

[2020-03-17 15:52] ryanvanderpol commented on #34
haha, ok, thanks.  yeah, can't blame you, this has been a nightmare so far.

[2020-03-17 16:19] dlowder-salesforce commented on #34
@ryanvanderpol could you provide more details on your project and what react-native-tvos version you are using?

[2020-03-17 16:25] ryanvanderpol commented on #34
@dlowder-salesforce happy to give you whatever you need cause this is driving me crazy.  If I hit the ESC key the error message goes away and the app seems to function fine but the error pops up every single time I make any change to the app.

here is a screenshot of the message I see:

![Screen Shot 2020-03-17 at 12 22 22 PM](https://user-images.githubusercontent.com/1936460/76877563-ff19be80-684

[2020-03-17 17:14] dlowder-salesforce commented on #34
Hmm the issue definitely does not repro with a new project.

Here's what I'd like you to do:

- Copy your project folder to a new directory
- Remove your RN application code (if it's proprietary and you don't want me to see it)
- Zip it up and put it in a dropbox where I can get it

I'm particularly interested in making sure that there are not multiple versions of react-native in node_modules, and

[2020-03-17 17:16] brodybits commented on #34
In general I would suggest generating a new project and adding one thing at a time from an existing application to help determine what is and is not working.

[2020-03-17 17:20] ryanvanderpol commented on #34
@brodybits I understand your point, but with a large project, that's easier said than done.  If that's what I have to do, I'd honestly just not use this repo at all because I just don't have the time to debug this stuff.  Switching to TVML is an option I would consider to avoid spending all this time debugging here.

@dlowder-salesforce happy to send you the code. I'll share a Dropbox link with th

[2020-03-18 01:27] dlowder-salesforce commented on #34
Hmm I just ran your project in the simulator, made a change or two and fast refresh worked without issue.  Does this issue only happen on real devices? Maybe you have some stale objects in the metro cache?

[2020-03-18 01:33] ryanvanderpol commented on #34
Thanks for taking a look. I haven't tried on a real device yet, just the simulator. I've tried deleting the entire `node_modules` folder and cleaning the iOS build in xcode. How do I clear the metro cache?

[2020-03-18 05:44] dlowder-salesforce commented on #34
I was not able to see any error before or after changing JS code.

Try `yarn start —reset-cache` when starting the packager.

[2020-03-18 13:33] ryanvanderpol commented on #34
Thanks, but that didn't work.  If you're not seeing an error message, that is at least a bit encouraging because it seems like it's probably something in my environment.  Unfortunately, I'm just not sure how to proceed. For now I guess I'll just ignore it, since it doesn't seem to impact the app once I dismiss the message, but there's definitely something strange going on here.

[2020-03-18 20:37] ryanvanderpol opened #57 "Scaling issues between tvOS and Android TV"
I understand that this repository seems to be for tvOS and may not be the right place to report issues about Android TV, although if that's the case, then I have no clue where to actually go for those issues.  I'm actually a little frustrated by the TV support for RN because I thought React Native was supposed to automatically support all iOS/Android platforms without creating separate projects, b

[2020-03-19 00:13] dlowder-salesforce commented on #57
The issue is that because of the pixel density difference, you will need to pivot your font sizes and heights/widths between the two platforms.

Probably the easiest way to fix this is to define a `scale` constant in a component that all parts of your app can refer to.  This is also needed when writing an app that has to work on both iOS and tvOS, where you need much bigger fonts for TV.

Try some

[2020-03-19 14:49] #55 closed

[2020-03-19 15:24] ishaqashraf opened #58 "menu button not working on Alert"
when the Alert.alert() show then the menu button is not working.
i want if user wants to dismiss the alert with menu button so what is the workaround ?

[2020-03-19 16:58] #57 closed

[2020-03-19 16:59] dlowder-salesforce commented on #47
@keshavkaul were you able to resolve this issue?

[2020-03-20 04:15] keshavkaul commented on #47
@dlowder-salesforce No, I didn't find time to resolve this, but I implemented a quick fix to natively present a search controller as a modal instead of embedding the controller in react native view

[2020-03-22 19:03] ryanvanderpol opened #59 "Custom Fonts are not added to the Info.plist in the tvOS target"
This issue was previously reported in the core React Native repository here: [Custom fonts won't load on tvOS apps - Unrecognized font family #18025](https://github.com/facebook/react-native/issues/18025).

Took me hours and hours to figure out what was going on, but a comment in that issue thread led me to figure out that the `Info.plist` for my `-tvos` target did not get the fonts added to it af

[2020-03-24 08:25] ishaqashraf commented on #58
it is working when you add a prop `style:cancel`
for example :
Alert.alert(
    alertTitle,
    alertText,
    [{
      text: button,
      onPress: () => handle(),
      style: 'cancel'
    }],
  );

[2020-03-24 08:25] #58 closed

[2020-03-24 19:57] keshavkaul commented on #51
@dlowder-salesforce I've created the PR #60
Let me know your thoughts

[2020-03-25 00:12] dlowder-salesforce commented on #59
This is actually an issue in the CLI, not in the react-native-tvos repo.  So it would have to be fixed in https://github.com/react-native-community/react-native-cli.  Right now, the code there seems to be just getting the first target in the project (the iOS one), and ignoring the tvOS one.

[2020-03-25 00:48] dlowder-salesforce commented on #43
@colin-oos I have some cycles to work on this now... would you be able to share your test project where you are using the new `isTVSelectable` property on Touchables to fix the issue?

[2020-03-27 11:50] asgvard commented on #49
Hi!
Subscribed to this thread. Would be interesting to see about how it is possible to use this repo for tvOS, but still have RN core repo for other targets.
I.e. if we develop an app that needs to support multiple platforms like web, AndroidTV and tvOS, then changing package.json is not a good options since all the other platforms will refer to "react-native-tvos" which might bring some implicati

[2020-03-29 10:49] keshavkaul commented on #32
@dlowder-salesforce I wanted to try my hand at pulling in react native 0.62.0, but I'm not sure how to go about it. Could you maybe record a screen session detailing your process so the community can help you in this aspect?  Personally I am eager to make use of the latest react devtools that support hooks which is available in 0.62.0

[2020-03-29 13:37] brodybits commented on #14
Can this be pinned to avoid closure from the stale bot?

[2020-03-29 13:39] brodybits commented on #17
??

[2020-03-30 20:06] #47 closed

[2020-03-30 20:09] dlowder-salesforce commented on #32
@keshavkaul I'll be picking up this work some time in April.  I will try to make a recording detailing the process.  It will be the process for major releases that I described (at a very high level) in my comment above from December.

[2020-03-31 09:34] Teamgamer44 commented on #17
Hey there, is there any progress for this issue?
I think many of us would like have this feature to use the
UITabBar in React Native. I spent also many times
to implement this in my project but my Apple TV does not render it.
Are there some alternatives, or using it by platform channels (using swift code directly)?

[2020-04-04 00:06] dlowder-salesforce commented on #43
@colin-oos @oscadev I was able to put together a new project using the latest `react-navigation` that reproduces the issue.  See https://github.com/dlowder-salesforce/ReactNavigationTVDemo.  It uses a forked `react-native-screens` that fixes its tvOS compilation issues.  Now I will be able to try different approaches to fix the issue.

[2020-04-05 02:08] brodybits commented on #16
Can we pin this issue?

[2020-04-05 06:35] dlowder-salesforce commented on #43
I do see that using `isTVSelectable` does fix the issue and doesn't require rerender.  However, in the simulator, I am seeing a weird behavior where when navigating back, it takes a long time (about 1 second) for the left most button in a screen to pick up the change to `isTVSelectable` and get the default focus that it should have.  Investigating.

[2020-04-05 13:29] hscheidl commented on #47
I'm facing the same issue, but I can't figure out how to avoid `RCTTVRemoteHandler.m` from intercepting remote events just for the search controller. Has anybody integrated successfully the search bar? Is there a work-around besides showing it as a modal?

[2020-04-05 22:17] #59 closed

[2020-04-06 08:30] keshavkaul commented on #43
Solution for me was initially to replace TouchableOpacity with normal View when screen is blurred and switch back when screen is focused. But due to this there were performance issues and focus issues. Then I sought to subclass RCTTVView to create a custom Selectable Button Element, exposing the isTVSelectable property and handles focus, onPress events

[2020-04-06 18:11] dlowder-salesforce commented on #43
@keshavkaul @colin-oos I have invited you to the repo; once you accept, please review PR #62 .

[2020-04-06 18:18] dlowder-salesforce commented on #17
@Teamgamer44 there has been no recent progress on this.  Once I get a new 0.61.5 release out with some bug fixes, and then a 0.62 release, I will come back to this.  I think this could certainly be implemented natively in Swift, where Swift shows the RN view controller for the tab contents.

[2020-04-08 00:28] brodybits commented on #49
I read today in <https://github.com/react-native-community/react-native-tvos/issues/11#issuecomment-531893319> that this would only work with Yarn, not with npm (Yarn seem to work much better with React Native projects anyway).

That version pattern does not seem to work, perhaps because there was always 0.60.4-* tags. I tried a couple more:

- `react-native init testing --version react-native@npm

[2020-04-09 00:23] dlowder-salesforce commented on #49
@brodybits is correct that you should have only a single react-native dependency in your project.  This repo supports tvOS AND all the other platforms already supported by RN core.

All releases of this repo have versions of the form 0.xx.x-z, where the x digits come from the base RN core version, and we add a tvOS version number at the end after the dash.  This helps make it clear which RN core v

[2020-04-09 01:54] dlowder-salesforce commented on #51
#60 is merged, and appears in release https://github.com/react-native-community/react-native-tvos/releases/tag/v0.61.5-1 . Closing.

[2020-04-09 01:54] #51 closed

[2020-04-09 01:57] dlowder-salesforce commented on #49
#63 is merged, and appears in https://github.com/react-native-community/react-native-tvos/releases/tag/v0.61.5-1 and in the README for the public npm package. Closing.

[2020-04-09 01:57] #49 closed

[2020-04-09 01:58] dlowder-salesforce commented on #43
#62 is merged, and appears in https://github.com/react-native-community/react-native-tvos/releases/tag/v0.61.5-1 .  Closing.

[2020-04-09 01:58] #43 closed

[2020-04-09 01:58] dlowder-salesforce commented on #42
This is merged, and appears in https://github.com/react-native-community/react-native-tvos/releases/tag/v0.61.5-1 .  Closing.

[2020-04-09 01:58] #42 closed

[2020-04-10 23:38] dlowder-salesforce commented on #32
@keshavkaul I've started a branch for the 0.62 release.  Here is the process I followed to create the branch (you can create your own fork of `react-native-tvos` and try this yourself):

[code]

Next I'll start cherry-picking changes in order from the existing tvos-v0.61.5 branch and see how it goes.

[2020-04-11 01:10] dlowder-salesforce commented on #32
[This comparison](https://github.com/react-native-community/react-native-tvos/compare/branch-v0.61.5...tvos-v0.61.5) shows the commits we need to cherry-pick in order, to add the tvOS changes correctly on top of the commits that form RN core 0.62.2.

I've already added the first three.  The only tricky part of the conflict resolution so far was that `Libraries/react-native/react-native-implementat

[2020-04-12 01:04] dlowder-salesforce commented on #32
I've now merged all the remaining commits from the tvos-v0.61.5 branch, except for the README.md changes, which can just be copied from master.  Now to work on testing and integrating the new Flipper stuff.

[2020-04-14 17:16] dlowder-salesforce commented on #32
Made progress on getting Flipper to work with react-native-tvos.  Most of the Flipper podspecs don't include tvOS platform support, but the code compiles fine on tvOS regardless.  So I've created a repo to hold modified podspecs, temporarily housed at https://github.com/dlowder-salesforce/RNTVOS-Podspecs .  Adding this as a source in the Podfile for a RN tvOS project solves most of the issues.  I'

[2020-04-15 01:29] dlowder-salesforce commented on #32
I got the RNTester Podfile to work with the new Flipper podspecs, but there are some header files that still won't allow AppDelegate.mm to compile in RNTester.  So I have temporarily removed the RNTester project define that pulls in Flipper, and now it compiles and runs at least.  Fixed import issues in the react-native JS code.  Now RNTester comes up, but TouchableHighlight rows are not highlight

[2020-04-15 23:02] dlowder-salesforce commented on #32
Fixed some remaining issues with getting the Cocoapods dependencies correct, and fixed the new project template Podfile.  Remaining issue is the dependency on the OpenSSL-Universal pod, which pulls in prebuilt OpenSSL binaries that only work for iOS, not tvOS.  All commits are now in the tvos-v0.62.2 branch.

[2020-04-16 11:27] ishaqashraf commented on #15
i am using this package and it's awesome. and i am building tvOS for my company

[2020-04-21 18:07] dlowder-salesforce commented on #32
Remaining issues with Flipper are now fixed.  Was able to bring up RNTester on the tvOS simulator, and connected it to Flipper desktop.  Now working on import issues in a few JS files, and then will investigate the issue mentioned above where Touchables are not highlighted when focused as they were in 0.61.

[2020-04-22 01:36] dlowder-salesforce commented on #32
All issues seem to be resolved now.  The touchable highlighting issue is fixed.  RNTester works as expected from the previous releases, and also works with Flipper.  New projects generated from the template also work as expected, and work with Flipper.  Automated tests (`./scripts/tvos-test.sh test`) now pass (after locally changing `package.json` to have the name `react-native` instead of `react-

[2020-04-28 21:11] dlowder-salesforce commented on #32
Ok I was a bit optimistic... Thanks to @vdmtrv for making me aware of some issues with `TVFocusGuideView` that needed to be addressed, and providing a reproducible test case.  PR #65 should fix these.  Once that is merged, I will cut the 0.62 release.

[2020-04-29 23:18] dlowder-salesforce commented on #32
PR #65 is now merged, and I've added a few minor changes to fix flow and eslint errors.  README is now updated.

[2020-04-30 00:39] dlowder-salesforce commented on #32
Last step before release is to set the version number correctly in a few files, and generate the Android jars and manifest.  Release is now published: https://github.com/react-native-community/react-native-tvos/releases/tag/v0.62.2-0

[2020-04-30 13:47] keshavkaul commented on #32
@dlowder-salesforce Thank you so much! Much appreciated in this time of uncertainty :)

[2020-05-03 14:42] miblanchard commented on #32
@dlowder-salesforce  thank you for all your hard work on this repo, and expanding on this issue in such great detail!

I greatly appreciate your efforts to maintain this and hope to build something great with this!

[2020-05-03 17:53] brodybits commented on #49
There is still something not clear to me: how to use previous react-native-tvos 0.x version such as 0.60.x-x or 0.61.x-x by _inexact_ version number. Of course I could just look it up on npmjs.com to find 0.60.4-6 or 0.61.5-1 for example, but I would rather be able to specify a more general pattern. This is analogous to using react-native@0.60 or react-native@0.61.

While I do think it is generall

[2020-05-04 17:50] dlowder-salesforce commented on #49
@brodybits:

I'll have a look at how RN core does this -- I think this might be something done in `npm publish`.

Did you take out the Flipper pods?

I appreciate the kind words :)

[2020-05-05 03:37] brodybits commented on #49
I suspect that it just works with npm semver because RN core generally publishes with no dashed suffix. The following commands seem to approximate what I was trying to do:

- `react-native init testapp --version react-native@npm:react-native-tvos@^0.60.4-0`
- `react-native init testapp --version react-native@npm:react-native-tvos@^0.61.5-0`

I am now starting to wonder how much effort it is really

[2020-05-14 00:12] ishaqashraf opened #68 "any support for asyncStorage?"
when i installed react native asyncStorage and stored some data and then on debugger it shows me warning that tvOS not supporting storage it will be removed any point.
any other way to persist state ? i tried redux-persist same error

[2020-05-14 01:12] dlowder-salesforce commented on #68
asyncStorage does work, but the stored data will go away if the app exits.  Fortunately on a real TV device, this is a lot more rare than on a phone, but will still be an issue.  If the amount of data is small, it can still be stored in NSUserDefaults preferences.  Otherwise, you would have to use cloud storage.

From https://developer.apple.com/library/archive/documentation/General/Conceptual/App

[2020-05-14 19:42] ishaqashraf commented on #68
thanks for the detailed explanation. NSUserDefaults is available in react native with the name of `Settings` . Settings serves as a wrapper for NSUserDefaults
https://reactnative.dev/docs/settings

[2020-05-14 19:42] #68 closed

[2020-05-24 20:15] cnblackxp opened #69 "TVMenuControl module isn't working with React Native Navigation."
So I have been working on a project using React Native Navigation and been seeing some problems with `TVMenuControl `Module for disabling and enabling (it's not working) I believe it's related to how React Native Navigation basically on every screen navigation sets that screen as the RootView.

I also noticed that the bridge is working fine but the issue might be with `NSNotificationCenter `it's n

[2020-05-26 10:00] ali-sao commented on #69
+1 to this

[2020-05-26 10:49] mahdi-hamdan commented on #69
**I have the same problem**  @dlowder-salesforce

[2020-05-26 16:56] dlowder-salesforce commented on #69
I'll have a look...  my first guess is that RNN is putting in its own gesture handler for the root view that is replacing the one used by react-native-tvos.

[2020-05-31 02:36] dlowder-salesforce commented on #69
Ok this is not a bug.  I built a tvOS version of Wix's react-native-crash-course project (which uses React Native Navigation).... you can find it at https://github.com/dlowder-salesforce/react-native-crash-course-tvos/tree/tvos-0.62.2 .

Several dependencies (react-native-navigation, react-native-blur, react-native-ui-lib) required fixes for tvOS compilation errors.  I forked the repos and made th

[2020-05-31 07:33] cnblackxp commented on #69
thanks @dlowder-salesforce, but I just want to mention that my issue isn't related to the navigation not working. the enableTVMenuKey and disableTVMenuKey aren't working properly. I have use cases in the project where I don't want the default menuKey behaviour and others where I do and the postNotification calls aren't working on the same screen when called from react native side.
postNotification

[2020-05-31 08:49] dlowder-salesforce commented on #69
Thanks for explaining the actual issue that you're having.  I can reproduce this in the example project I created, and I'll reopen this and have a look.

[2020-05-31 23:04] ali-sao commented on #69
على راسي يا ختيار. لسه فيك نفس تشوف

[2020-06-11 11:30] olafurnsig opened #70 "CocoaLibEvent does not contain bitcode"
After fresh setup according to docs, tvOS build encounters error:

`ios/Pods/CocoaLibEvent/lib_tvos/libevent.a(event.o)' does not contain bitcode. You must rebuild it with bitcode enabled (Xcode setting ENABLE_BITCODE), obtain an updated library from the vendor, or disable bitcode for this target. for architecture arm64`

CocoaLibEvent is something that Flipper seems to require, and I can't find a

[2020-06-18 19:02] dlowder-salesforce commented on #70
I'll look into this.... I didn't hit this issue on a non-4k Apple TV or in the simulator

[2020-06-18 21:12] dlowder-salesforce commented on #70
Ok I can now reproduce the issue -- investigating.

Just so you know, Flipper does not currently support connections to physical devices, so even when I fix the compilation issue, Flipper may not actually work on a real Apple TV.

https://fbflipper.com/docs/getting-started/ios-native

[2020-06-18 21:15] olafurnsig commented on #70
Thanks for looking into this!

Yeah I actually have no intensions of using Flipper, just bugged me to not be able to build from the get-go.

I just disabled everything regarding Flipper to get up and running.

[2020-06-26 15:30] ndillon1 opened #71 "Not able to focus any component with absolute positioning - tvOS"
When component has absolute positioning it is unable to be selected

React Native version: 0.62

Steps To Reproduce
* Add a focusable component with absolute positioning
* Attempt to select it

[2020-06-29 23:15] dlowder-salesforce commented on #71
@ndillon1 agreed, this is reproducible.  Kind of bizarre, as adding or removing "position: absolute" does not change the view's place in the hierarchy.  Somehow, adding that attribute breaks whatever the focus engine is using to figure out the next view.

[2020-06-30 02:14] dlowder-salesforce commented on #70
@olafurnsig  A quicker way to get up and running on a device is to add a user defined setting to your project build settings:

ENABLE_BITCODE=NO

However, not doing the device build with Bitcode enabled might cause problems with submission to the App Store, so I'm going to have to think carefully about whether I should put this into the new project template.

[2020-06-30 19:19] dlowder-salesforce commented on #70
@olafurnsig this is fixed in the 0.62.2 maintenance branch, and will be in the next release. I disabled Bitcode for debug device builds (Flipper is only supported for debug builds anyway).

If you are using the community CLI (`@react-native-community/cli`), you can try this by doing

[code]

[2020-06-30 19:19] #70 closed

[2020-07-01 00:32] ericlifs commented on #38
@vgrafe were you able to configure it properly for yarn workspaces? I'm having a lot of issues. Thanks!!

[2020-07-01 08:54] olafurnsig commented on #70
Thanks for the hard work Doug!

But yeah, Bitcode is a requisite for a AppleTV release in the appstore, so it should only be disabled for debug builds.

[2020-07-01 11:31] vgrafe commented on #38
I gave up on workspaces, and at first configured metro to look into other folders, but still had issues. Now I use git submodules, which works perfectly, and allows all the things: click to definition, no bugs, etc etc.

[2020-07-19 17:53] dlowder-salesforce opened #77 "RN core is removing tvOS support"
The PR for this has just been submitted: https://github.com/facebook/react-native/pull/29407 .

Once this is merged, you will not be able to use the core `react-native` repo for building tvOS applications.

[2020-07-20 17:14] NickAVolpe commented on #77
As always, Thanks for the update and your vigilant attention to this. It will be a careful dance for me to maintain my _beautiful_ tvos and android tv codebase haha.

[2020-07-21 02:17] korziee commented on #77
Thanks @dlowder-salesforce.

I wonder what the future of AndroidTV support in the core repository looks like. Can we expect it to make it into it's own `react-native-androidtv` repository, or is there a possibility that this fork becomes the home of all react-native tv platforms?

[2020-07-26 19:08] andy-io commented on #77
react-native-tvos cannot be used to build an android tv application ?

[2020-07-27 04:17] dlowder-salesforce commented on #77
Yes, this repo works for Android TV (it even has one bug fix that isn’t in core).

[2020-08-04 14:27] zth commented on #17
Reviving this issue again - has anyone gotten further on this, either trying to fix it centrally here, or by themselves outside of this project?

Thanks! 😃

[2020-08-05 19:35] Krisztiaan commented on #41
If you're using `patch-package`, you can grab [my patch for `@types/react-native-tvos`](https://gist.github.com/Krisztiaan/11856c0faffc70f00766b7f791375a75). I'll look into how it'd be best to add this to `DefinitelyTyped`

[2020-08-11 18:14] jerrolb opened #79 "integration with react-native-video, missing React headers"
Hi, I'd like to implement video playback in my TVOS app. I used react-native-tvos to init a project then runs in the apple TV simulator. I npm installed react-native-video which requires manually linking RCTVideo.a in Xcode. However, after adding it, the build fails with missing React headers. For example `React/RCTViewManager.h file not found in RCTVideoManager.m`.

I don't think it's necessarily

[2020-08-11 20:48] dlowder-salesforce commented on #79
I would not try to manually link the binary.... apps using current and recent versions of React Native should use Cocoapods to bring in dependencies like react-native-video.

See this example project: https://github.com/dlowder-salesforce/RNAppleTVTalk

In particular, look at `package.json` and `iOS/Podfile`.

[2020-08-11 23:14] jerrolb commented on #79
Thanks for the quick reply. You have a tvOS project using react-native-video... awesome!!

I think I was just missing the line that adds react-native-video as a pod in the Podfile? I've added and reinstalled pods.

I'm getting black screen for the <Video> component, but idk if it's a build issue, my environment, my code or a bug at this point. I'll keep digging. If nothing else I should be able to

[2020-08-11 23:55] dlowder-salesforce commented on #79
Great to hear -- good luck with the app :)

[2020-08-11 23:55] #79 closed

[2020-08-17 07:09] Dhaval240420 commented on #20
***** use_native_modules => platform: tvos  ******

[!] Invalid `Podfile` file: No such file or directory - ../../node_modules/.bin/react-native.

 #  from /Users/imac2/Desktop/Dhaval/TvApp/ios/Podfile:72
 #  -------------------------------------------
 #

 #
 #  -------------------------------------------

still it is not working. when I run pod install it gives this error and when I add react-na

[2020-08-17 17:02] nriccar opened #80 "Question: Is there a way of working on localhost on Apple TV?"
Hello, I have searched for this and found no luck. Is there a way of react-native run ios on the real apple tv?

Thanks

[2020-08-17 17:31] dlowder-salesforce commented on #80
For simulator you would do

[code]

For device,

[code]

This will only work if you have customized your Xcode project to add your developer credentials, profiles, etc.

[2020-08-17 18:01] nriccar commented on #80
Thank you @dlowder-salesforce.

`This will only work if you have customized your Xcode project to add your developer credentials, profiles, etc.

`

What do you mean by this?

[2020-08-17 18:16] pedro-pedrosa opened #81 "Focus system ignores disabled prop in touchables"
Setting the `disabled` prop on touchables has no effect on the ability to focus the touchable. `onPress` is not triggered when the select button is pressed, as expected.

I wanted to try with RN's `Pressable` component but it doesn't look like we have merged `0.63` yet.

I am testing on android by the way, not sure if it happens on tvos. Decided to report here because it doesn't look like RN core

[2020-08-17 22:40] dlowder-salesforce commented on #81
I will have a look at Touchables to see if I can find a common fix for both tvOS and Android TV.  I have not done any specific work yet to make Pressables work on TV.  I'm currently finishing up the first 0.63 release for this repo, and will then have a look at Pressables.

[2020-08-17 22:48] dlowder-salesforce commented on #80
In order to run an iOS or tvOS app on a real device, you need to sign the app using your Apple developer credentials.  The process for React Native apps is documented at https://reactnative.dev/docs/running-on-device

[2020-08-18 07:00] jasmeet447 opened #82 "TVOS text doesn't scroll down in a ScrollView"
Hii, I've been trying to make a scrollable text component for tvos like the one we see in terms and conditions box in a lot of applications. The code works fine for android tv but the text doesn't scroll down in tvos.
REACT NATIVE VERSION: 0.61.2
STEPS TO REPRODUCE
The code snippet is as follows:
<ScrollView style={
{
flex: 1,
paddingTop: getScaledValue(50)
}}
contentContainerStyle={{
alignItems:

[2020-08-18 16:51] nriccar commented on #80
Don't know how I didn't saw that one. Expected to be more difficult, but yes, you can just plug it as a Device to your computer and run on localhost.

Thank you @dlowder-salesforce

[2020-08-18 17:13] #80 closed

[2020-08-18 17:54] dlowder-salesforce commented on #82
I'll take this up and see if I can get it to work.  This seems to be a general issue with tvOS, not just a React Native issue.  Some suggested fixes are in https://developer.apple.com/forums/thread/19309 , I'll play around with it and see what works.

[2020-08-18 22:28] dlowder-salesforce commented on #82
@jasmeet447 here's something that will hopefully get you unblocked, and at least make the scrolling work.  I think it definitely needs some more tweaks, but it is a step in the right direction.

1. Make the following patch in the native iOS/tvOS React Native source code:

[code]

2. For the ScrollView that wraps the text block, add the property `isTVSelectable={true}`.

[2020-08-18 22:45] dlowder-salesforce commented on #81
Could you try this, and see if it solves the issue on Android TV? It definitely works on Apple TV.

[code]

[2020-08-18 23:40] pedro-pedrosa commented on #81
that sure does work, thanks for this.

did you find this in code? I can't find any documentation about this. typescript says this prop doesn't exist, so if I want to use it I have to resort to module augmentation but I guess that at least I don't have to conditionally render a touchable around my views depending on whether they are disabled which is good news...

[2020-08-18 23:46] dlowder-salesforce commented on #71
@ndillon1 I did some more testing on this, and it appears that components with absolute positioning can be focused, provided they are located outside other things (e.g. ScrollView, SafeAreaView).  For example, this is the default `App.js` for a new RN project, with a touchable added that is fixed at the bottom of the screen, and is focusable.

[code]

[2020-08-19 00:11] dlowder-salesforce commented on #81
I think you need to add a separate module to get the Typescript types for TV-specific props.

I'm going to make this automatic by modifying `Libraries/Components/Touchable/TouchableOpacity.js` (and TouchableHighlight) to turn off `isTVSelectable` when `disabled` is true.  I'll add you to the PR.

[2020-08-19 00:48] dlowder-salesforce commented on #81
@pedro-pedrosa please take a look at https://github.com/react-native-community/react-native-tvos/commit/3df532a491f1034c053240068c1d0f8566cd7cab and see if that works ok for you.  I've modified one of the examples in RNTester to test that it works.

[2020-08-19 09:00] pedro-pedrosa commented on #81
yes this looks great, thank you.

[2020-08-19 09:34] pedro-pedrosa commented on #81
sorry I had another look at this and apparently it doesn't work on android. the touchables are still focusable. I even tried to do `focusable={false}` because I saw that in the code from your commit but it didn't work either. so I guess that prop is not implemented in android native code

[2020-08-19 12:45] jasmeet447 commented on #82
@dlowder-salesforce I tried the steps that you've mentioned above, I get an error "Exception thrown while executing UI block".
<img width="1294" alt="Screenshot 2020-08-19 at 6 10 28 PM" src="https://user-images.githubusercontent.com/44059494/90636120-c7270500-e247-11ea-9f07-e4eb963a3581.png">
I think it doesn't recognize the RCTTVView class. Can you tell me a possible explanation for the issue?
H

[2020-08-19 13:56] dlowder-salesforce commented on #82
The error screen you showed is what happens if you don’t recompile the app before running it.

[2020-08-19 16:49] dlowder-salesforce commented on #81
@pedro-pedrosa I'll take a look.... scanning through the touchable and view source files, it looks like `focusable` is the prop that Android TV uses.  I'll try to set up an Android TV test case and verify that.

[2020-08-19 20:34] dlowder-salesforce commented on #81
I did some testing, and reviewed the native Android source code. It looks like you want to set the `accessible` prop to false if you want a view to not be focusable on Android.  There are comments in the code that setting the RN prop `focusable` to false does not turn off the native property.

[code]

[2020-08-19 20:46] dlowder-salesforce commented on #81
In the process of investigating this issue, I came across a very interesting post on the UX stackexchange, about why and when disabled controls still need to be accessible to the focus engine: https://ux.stackexchange.com/questions/103239/should-disabled-elements-be-focusable-for-accessibility-purposes

So I'm considering re-doing this so that focusability is fully controlled by the `accessible` p

[2020-08-20 00:08] dlowder-salesforce commented on #81
With commit https://github.com/react-native-community/react-native-tvos/commit/02b89c68f8fd7b7db1e845bec4c08e0746e9f43b , setting `accessible={false}` will remove the touchable from the focus engine on both Android and Apple TV.

[2020-08-20 09:20] pedro-pedrosa commented on #81
I can confirm that this works :heavy_check_mark:

[2020-08-20 16:40] olafurnsig commented on #41
Upvotes for typescript support!

[2020-08-20 16:55] dlowder-salesforce commented on #81
It will also work on Android if you set `disabled` to true, `accessible` to false.... are you ok with that?

[2020-08-20 19:52] dlowder-salesforce commented on #32
0.63 release is now published: https://github.com/react-native-community/react-native-tvos/releases/tag/v0.63.1-0

[2020-08-21 00:15] dlowder-salesforce commented on #33
I worked on this issue some more.  I was able to get the overlay view to have background color (0,0,0,0), tint (0,0,0,0), and opaque=false, and the tvOS debugger still says that the underlying buttons are not focusable because the overlay obscures them.  I'm not sure this is fixable.

[2020-08-24 17:04] dlowder-salesforce commented on #82
Thanks @jasmeet447 -- I'm going to keep working on a fully native solution for this so that fewer events have to cross the bridge.  [This project](https://github.com/douglashill/KeyboardKit) aims to provide full keyboard support for iOS apps -- I'm looking at what was done for the scroll view to see if it can be applied here.

[2020-08-27 02:23] NickAVolpe opened #83 "use_frameworks! build error on .63.1-0"
I am struggling to build my project after upgrading to .63.1-0 from 60.4-6.

Is it not recommended to add `use_frameworks!` to the podfile now?

If I add that in the RNTester project's podfile and build I will get this build error:

[code]
[code]

## Steps To Reproduce

1. Add use_frameworks! to RNTester/Podfile
2. pod install
3. Open RNTesterPods.xcworkspace
4. Build
5. Error occurs during build

[2020-08-27 16:17] dlowder-salesforce commented on #83
Thanks for letting me know about this, and I appreciate you working on a fix!  I'm looking into a couple of other issues now, but when I'm done with those I will look at this (if you haven't solved it by then).

[2020-08-28 19:25] dlowder-salesforce commented on #81
This is merged to the `tvos-v0.63.1` release branch, and will be in the next 0.63 npm release.

[2020-08-29 02:13] dlowder-salesforce commented on #83
@NickAVolpe I have a fix that seems to work -- not entirely happy with it, but it will at least unblock you.  See https://github.com/react-native-community/react-native-tvos/commit/8c725a7764d2e99abbd6d91e46ac56fb356e300d for the changes.

[2020-08-30 06:27] mehthabux opened #84 "Pointer events "none" not working in android"
Pointer event "none" is not working in android, but working fine in tvOS. Well my issue is i have a react navigation modal which is a transparent modal. So when this navigation modal comes to focus all the touchable in the previous screen get focused when i try to make some action in current modal. I have also tried the enableScreens() from react-native-screens. So what i'm doing is i'm adding  a

[2020-08-30 08:34] dlowder-salesforce commented on #84
I'm surprised this works in tvOS.  Maybe this is a different scenario than #33 , which is a related issue. Can you post an example of what you are doing, that works in tvOS but not Android?

[2020-08-30 09:05] mehthabux commented on #84
Sure will do! btw i'm running the tv in emulator.
It’s s easy to reproduce, just have a bunch of touchableS in Flatlist , then give the Flatlist or its parent pointer events none. still you will be able to get the focus on the touchable item.
But i also tried a solution you mentioned previously ie giving both accessible false and disabled true, in that case touchable aren’t  getting focused. but s

[2020-08-30 20:51] dlowder-salesforce commented on #84
I do see that a view can be made unfocusable by setting accessible false, from the code in `ReactViewManager.java`:

[code]

But it might not be changing focusability in the child views.  Weird that you would hear the tap sounds even if the rows are not getting focused.  I'll try to set up a test case for this.

[2020-08-30 21:30] NickAVolpe commented on #84
I've seen something similar but eventually gave up trying to figure it out. Oddly enough I noticed differences between horizontal and vertical flat lists. If you post an example @mehthabux I would also take a second crack at this.

[2020-08-30 21:41] NickAVolpe commented on #83
Right on. I was going down a similar path but got a little lost haha, thanks for showing me this.

I ended up 'solving' the first problem I had by reverting this 1 line podspec [change for yoga](https://github.com/facebook/react-native/pull/26416). It is likely that my remote build machine has a different version of mac os and xcode.

[2020-08-31 17:59] dlowder-salesforce commented on #84
@mehthabux I'm finding that setting pointerEvents="none" doesn't have any effect in tvOS.  It would be great if you could post a working example showing what you did, so I can test it on both Android and tvOS and see what is different.

[2020-08-31 18:01] dlowder-salesforce commented on #71
@ndillon1 are you ok to close this?

[2020-09-01 06:03] mehthabux commented on #84
sure let me create a demo project for this one and il share with you soon. I noticed these issues while working on an actual project.

[2020-09-03 10:46] jasmeet447 opened #87 "How to programmatically select and focus a touchable opacity component in tvOS ?"
Hi, I've been trying to implement a screen on tvOS that has a lot of touchable opacity elements(say movie cards, list elements, etc) and I want to programmatically focus a particular element when some action is performed, say to programmatically select a particular touchable opacity element on back navigation.
I tried to implement hasTVPreferredFocus = {true}, but this property only focuses on the

[2020-09-03 10:51] hufkens commented on #87
The property hasTVPreferredFocus is indeed the way to go. By default it will set the top left item focused, but you should be able to set it yourself in the list by only setting that property to true for the card you need focused. We do it like that.

[2020-09-03 11:11] jasmeet447 commented on #87
@hufkens, I do it like this way:
touchableRef.setNativeProps.({ hasTVPreferredFocus: true })
Still, the top-left view is selected irrespective of the touchableRef item I apply this code to.
I couldn't get what you're trying to say in your comment.

[2020-09-03 11:20] hufkens commented on #87
We do it like this but that will only work on tvOS, and we have a wrapper class to handle the Android TV stuff:
[code]

[2020-09-05 20:04] dlowder-salesforce opened #88 "Investigate Cavy for automated UI testing with tvOS"
Took a look at https://github.com/pixielabs/cavy and the sample actually worked out of the box on tvOS.  Since Detox does not support tvOS, this is worth some cycles to investigate as a way of doing proper UI test automation in `react-native-tvos`.

[2020-09-06 19:46] dlowder-salesforce commented on #41
@Krisztiaan thanks VERY much for your patch.  Sorry for the delay in responding here.  If there is anything I can do to help, please let me know.

[2020-09-08 11:17] Sarvarr opened #97 "app crashed on apple tv (ios version is 12)"
Thread 1: Exception: "-[UITraitCollection hasDifferentColorAppearanceComparedToTraitCollection:]: unrecognized selector sent to instance 0x283d44900"

[2020-09-08 23:51] Kazetsukai commented on #15
Yes many thanks to @dlowder-salesforce et al., we are using this repo to support AppleTV on our video-on-demand platform here at Shift72

[2020-09-09 05:53] dlowder-salesforce commented on #97
@Sarvarr please provide an example project that reproduces this issue, and specify which tvOS version you saw this on (12.0, 12.1, 12.2, 12.3, 12.4).

[2020-09-09 06:53] Sarvarr commented on #97
@dlowder-salesforce
 tvOS:12.1,
"react-native": "npm:react-native-tvos@0.63.1-0"

[2020-09-09 08:33] ApWin opened #99 "InputText broken in Android TV?"
InputText doesn't work for React Native 0.62.2

[2020-09-09 16:48] dlowder-salesforce commented on #97
I just tested the latest 0.63.1 release branch and this crash is not happening for me on 12.1.

I believe it is fixed by commit https://github.com/react-native-community/react-native-tvos/commit/8fc3c2f635b1458fc6ee7531904e29fcb97b7eb5

It will be in the 0.63.1-1 release that is coming this week.

[2020-09-09 16:59] dlowder-salesforce commented on #97
Confirmed: I backed out the above commit and tested on a 12.1 simulator, and do indeed see your crash:

[code]

I'll close this once the 0.63.1-1 release is out.

[2020-09-09 20:15] Krisztiaan commented on #41
No, thanks, I'm getting my feet wet with `DefinitelyTyped` and seeing how this'd be best implemented. Probably similar as this repo.

[2020-09-09 20:15] Krisztiaan commented on #41
Will update for 63 once we ourselves have done the upgrade too :)

[2020-09-09 20:28] Krisztiaan commented on #41
@dlowder-salesforce I'm wondering if an `index.d.ts` file like [this one](https://gist.github.com/Krisztiaan/3d24c7a3c3d4dd8d206c12903adc61d7) would make sense in this repo, so we'd have a lot more flexibility, and a ready to use solution.

[2020-09-09 21:24] dlowder-salesforce commented on #97
Fixed in 0.63.1-1

[2020-09-09 21:24] #97 closed

[2020-09-09 21:25] dlowder-salesforce commented on #83
Fixed in 0.63.1-1

[2020-09-09 21:25] #83 closed

[2020-09-09 21:25] dlowder-salesforce commented on #82
Fixed in 0.63.1-1

[2020-09-09 21:25] #82 closed

[2020-09-09 21:26] dlowder-salesforce commented on #81
Fixed in 0.63.1-1

[2020-09-09 21:26] #81 closed

[2020-09-09 22:59] dlowder-salesforce commented on #99
Please provide a more detailed description.

- What specifically is not working in InputText?
- What tvOS version did you test against?
- Please provide sample code that shows the issue

[2020-09-09 23:33] dlowder-salesforce commented on #41
@Krisztiaan thanks for the PR, looks great!  I'll try making an example TS project that includes most of the TV types.

[2020-09-10 07:43] ApWin commented on #99
Hi @dlowder-salesforce  First of all Thanks for your Supporting react-native-tvos. I'm using react-native-tvos for create android TV. On the react native documentation for tv app building ( https://reactnative.dev/docs/building-for-tv ), noted that :  "InputText components do not work for now (i.e. they cannot receive focus)." So what other option is there to use TextInput ?

react-native-tvOS: 0.

[2020-09-10 08:05] dlowder-salesforce commented on #99
It is working in 0.63.1-1 (latest release). There were focus fixes done in https://github.com/react-native-community/react-native-tvos/pull/89

[2020-09-10 09:48] ApWin commented on #99
@dlowder-salesforce  Is it possible to fix it in version 0.62.2. Because of 0.63.1-1 version of react native tvOS doesn't support for IOS 12.2 version apple TV  ???

[2020-09-10 11:03] mehthabux commented on #99
@ApWinn please follow the file changes in #89 .

[2020-09-10 11:03] Krisztiaan commented on #99
@ApWin it should support tvOS 12, and as far as I can tell, there's not enough capacity to maintain multiple different versions of this library.

[2020-09-10 11:17] ApWin commented on #99
Okay, Thanks for All ))

[2020-09-10 11:49] olafurnsig opened #103 "TvFocusGuideView implementations/limitations? (discussion/question)"
Not a bug, just a discussion.

I'm trying to work a TvFocusGuideView into a permanent Side-drawer from react-navigation (not native-navigation).

I'm running into an error:

`Exception thrown while executing UI block: NSLayoutConstraint for <NSLayoutYAxisAnchor:0x282150040 "UIFocusGuide:0x28077cd20''.top">: A constraint cannot be made from <NSLayoutYAxisAnchor:0x282150040 "UIFocusGuide:0x28077cd20

[2020-09-10 12:00] olafurnsig commented on #103
Oh, actually I got it working.

The error is hard to make sense of though.

[2020-09-10 14:49] dlowder-salesforce commented on #99
See also #97 , where there is a discussion of the fixes done to support tvOS 12.x.  Those fixes are not in 0.62.2-x, so you should definitely move to the latest release :)

[2020-09-10 14:49] #99 closed

[2020-09-11 01:00] dlowder-salesforce commented on #103
@olafurnsig also take a look at #101 .... hopefully this will lead to better alignment between the focus APIs for tvOS and Android TV

[2020-09-11 01:02] dlowder-salesforce commented on #103
Also yes, there have been issues reported where a view with absolute position can't get focus ( see#71 ).  However, constraint errors shouldn't prevent the view from showing and from getting focus. @ndillon1 did you see this error?

[2020-09-11 02:02] #41 closed

[2020-09-13 07:02] mehthabux opened #105 "How can i upgrade react-native-tvos version"
## Description
How can i upgrade the react-native-tvos version. Im currently having npm:react-native-tvos@0.62.2-1, i need to update to latest version. Should i follow the react native upgrade helper?

[2020-09-13 07:11] mehthabux commented on #15
🤚We are using this repo to develop an androidTv and tvOS app ,  we are developing an app similar to netflix, which includes many flatlists, video component and navigations. Till now i have suffered any issues.
Thanks to @dlowder-salesforce

[2020-09-13 15:10] olafurnsig commented on #103
It seems that I run into that error above when trying to use the TVFocusGuideView on a react-navigation screen that isn't initially mounted.

App starts on Screen A (which has TvFocusGuideView - works fine)
Navigate to Screen B (which has TvFocusGuideVIew - error above appears).

[2020-09-14 08:13] dlowder-salesforce commented on #105
I have not tried it, but I think it should work. If you hit any problems please add a comment here.

[2020-09-14 14:33] henninghall opened #106 "Question: Project intentions"
Hi!

Is the intention of this project to always work with Android and iOS as well as tvOS?

[2020-09-14 15:32] dlowder-salesforce commented on #106
Yes 😊

[2020-09-14 15:36] henninghall commented on #106
Alright thanks, that's great!

[2020-09-14 15:36] #106 closed

[2020-09-15 08:52] henninghall opened #107 "Question: Is it possible to use other file extensions for tv?"
Is it possible to use specific file extensions for tv components, for instance `file.tv.js`, similar to what android and iOS uses with `.ios.js` and `.android.js`? I couldn't find any discussions about this. Thanks!

[2020-09-15 20:27] dlowder-salesforce commented on #107
That hasn't been implemented yet. Interesting idea. We would also need to support `*.tv.ios.js`, etc.

[2020-09-16 14:03] olafurnsig commented on #103
Haven't tried this out on a production build - however I run into this error 10 times more often if I'm running remote debugging with the RN Debugger, If I'm not using the remote debugging, this happens way less.

[2020-09-16 14:51] dlowder-salesforce commented on #103
Seems like refs are changing, or not yet valid, when the focus guide is mounting.  Do you have JS code (or better yet, a test project), that shows this error?

[2020-09-16 15:11] olafurnsig commented on #103
I can try to create some sort of mini-project to reproduce this in a few days.

There could be multiple reasons for this in my code somehow - I've got a typescript version of the TVFGV example as a navigation screen, and I don't get this issue when I navigate to it.

This is a part of one of my files that gets the error .. sometimes, and most often when running the remote debugger. It's wrapped a

[2020-09-17 07:23] mehthabux commented on #105
Hey @dlowder-salesforce , the react native helper worked !!!!

but i encountered an issue with Flipper ,

`The platform of the target `SharekLiveTV-tvOS` (tvOS 12.0) is not compatible with `FlipperKit/FlipperKitReactPlugin (0.41.5)`, which does not support `tvOS`.`

When i disabled flipper and commented out flipper in AppDelegate.m, the build ran successfully.
Do you have any fix for this ?

Thank

[2020-09-17 07:26] dlowder-salesforce commented on #105
See https://github.com/react-native-community/react-native-tvos/blob/tvos-v0.63.1/template/ios/Podfile for the correct way to get Flipper support in tvOS.

[2020-09-21 13:23] olafurnsig opened #108 "Images not showing in tvOS 14?"
## Description
Just updated my test apple tv device to tvOS 14.0 and it seems that all <Image> are not rendering at all?

## React Native version:
System:
    OS: macOS 10.15.6
    CPU: (16) x64 Intel(R) Core(TM) i9-9980HK CPU @ 2.40GHz
    Memory: 138.16 MB / 32.00 GB
    Shell: 5.7.1 - /bin/zsh
  Binaries:
    Node: 10.17.0 - /usr/local/opt/node@10/bin/node
    Yarn: 1.13.0 - ~/.nvm/versions/nod

[2020-09-21 13:26] olafurnsig commented on #108
Related to this react-native issue?

[Image cannot show image in iOS 14 #29279](https://github.com/facebook/react-native/issues/29279)

[2020-09-21 19:03] dlowder-salesforce commented on #108
@olafurnsig thanks for the heads up.  I'll merge the core commit (https://github.com/facebook/react-native/commit/123423c2a9258c9af25ca9bffe1f10c42a176bf3) to the current release branch.

[2020-09-21 21:48] dlowder-salesforce commented on #108
Fix is merged to the tvos-v0.63.1 branch, and will go out with the next release.  I've tested it with the RNTester project and verified that it works.

[2020-09-22 06:27] mehthabux opened #109 "multiline TextInput in tvOS is not getting focused"
## Description
I tried adding a multiline TextInput in my app. its not getting focused in tvOS but working fine in android.

## React Native version:
System:
    OS: macOS 10.15.6
    CPU: (8) x64 Intel(R) Core(TM) i5-8279U CPU @ 2.40GHz
    Memory: 26.21 MB / 8.00 GB
    Shell: 5.7.1 - /bin/zsh
  Binaries:
    Node: 10.17.0 - ~/.nvm/versions/node/v10.17.0/bin/node
    Yarn: 1.22.4 - /usr/local/bi

[2020-09-22 06:51] dlowder-salesforce commented on #109
Please provide an example that reproduces the issue 😊

[2020-09-22 08:52] mehthabux commented on #109
Here is a small example which include TextInput with prop multiline

https://github.com/mehthabux/TestTvOS

[2020-09-23 01:11] dlowder-salesforce commented on #109
@mehthabux I looked into this.  The `TextInput` component renders into a `UITextField` on iOS if it is single line, but `UITextView` if multiline.  Unfortunately, `UITextView` cannot be editable on tvOS (https://developer.apple.com/forums/thread/26540).  So tvOS can't support multiline input.

[2020-09-23 01:25] dlowder-salesforce commented on #109
So the next question is, how should we render a multiline `TextInput`?
Possibilities:
- `<UnsupportedView />`
- Throw an error
- Force multiline to be false, so that the tvOS supported single line input shows
- Force multiline to be false and also show a `LogBox` warning

[2020-09-23 09:37] Sarvarr opened #110 "onPress TouchableOpacity triggers more than once on AndroidTv"
"react": "16.11.0",
"react-native": "npm:react-native-tvos@0.63.1-1",
my code:
<TouchableOpacity style={[styles.container, props.style]} onPress={()=>{
        console.log("clicked")
    }}>
        <Text>
            CLICK
        </Text>
    </TouchableOpacity>

[2020-09-23 09:53] Sarvarr commented on #110
[](https://github.com/facebook/react-native/issues/25979#issuecomment-575564756)

[2020-09-23 10:06] olafurnsig opened #111 "Discussion: Dimensions get reported as 1920x1080 on 4K ATV"
Just a discussion since I can't find anything reliable about this online.

I'm developing on a 4K AppleTV, but I'm only getting 1920 x 1080 from `Dimensions.get('window')` or` Dimensions.get('screen')`.

Is there some project setting that I need to add in Xcode, or are people just using `scale: 2` to tackle this?

[2020-09-24 06:01] mehthabux commented on #110
@Sarvarr Add `Platform.OS !== 'android'` in TvTouchable.js file

replace the contructor inside TvTouchable.js with

`constructor(component: any, config: TVTouchableConfig) {
    invariant(Platform.isTV, 'TVTouchable: Requires `Platform.isTV`.');
    this._tvEventHandler = new TVEventHandler();
    this._tvEventHandler.enable(component, (_, tvData) => {
      tvData.dispatchConfig = {};
      if (R

[2020-09-24 06:04] mehthabux commented on #109
Hope, you will find an amazing solution for this one 🤗

[2020-09-24 06:14] mehthabux commented on #109
@dlowder-salesforce  Another issue i faced in the TextInput in tvOS is that, fontSize and color is not getting reflected in TextInput. You can try adding fontSize and color to textinput in the same example repo .

Its only getting reflected in the view which comes when keyboard shows up.

[2020-09-24 16:38] dlowder-salesforce commented on #109
See #22 ...

[2020-09-25 11:52] olafurnsig commented on #103
It seems that having some logic in componentDidMount that takes more than a few milliseconds, and possibly delay the initial render of a component, can cause the TvFocusGuideView to get an error, since it possibly delays the ref being created.

If I delay any logic in componentDidMount by a second, I don't run into an error, If I don't delay it I get an error.

[2020-09-25 12:34] dies-iris opened #112 "Build failed : Flipper-Glog-tvOS"
## Description
I have followed the steps described in the repository to start a new project.
Builds of new tvOS app or RNtester app fail every time due to a Flipper-glog issue.
Tried downgrading Xcode from 12 to 11.7, reinstalling pods and node modules.

## React Native version:
System:
    OS: macOS 10.15.6
  Binaries:
    Node: 12.18.4 - /usr/local/bin/node
    Yarn: 1.22.5 - /usr/local/bin/yarn

[2020-09-25 16:46] dlowder-salesforce commented on #111
This is related to #22 ..... yes there are some issues with scaling between different Apple TVs, and also Android TV.  The `scale` factor is probably the right approach for now, until there is some way to abstract out these differences.

[2020-09-25 16:57] dlowder-salesforce commented on #112
I don't reproduce this issue with Xcode 12.  I followed your exact steps, and the app builds and runs as expected.

[2020-09-25 17:03] dlowder-salesforce commented on #110
Looks like this is ok to close.... feel free to reopen if there are other issues :)

[2020-09-25 17:03] #110 closed

[2020-09-26 02:23] raytiley opened #113 "Discussion: Example Apps"
Sorry if this is inappropriate thing to post an issue for. I noted a few other general discussion type issues so thought it might be worth a shot.

Are there any example apps using `react-native-tvos` since the fork? Everything I find reference to is pretty old. It would be nice if there was a simple video player app written in react-native-tvos that shows some common usage. Some of the nuance aro

[2020-09-26 06:32] dlowder-salesforce commented on #113
Well my favorite (since I wrote it) is still https://github.com/dlowder-salesforce/RNAppleTVTalk .... it's a little dated, but still works with the latest release of this repo.  There is a video example there.

I have a page up where I tried to consolidate this kind of info: https://dlowder-salesforce.github.io/react-native-apple-tv/ .

Hope this helps :)

[2020-09-26 23:56] raytiley commented on #103
@olafurnsig - how did you get the permant side drawer items to be focusable if you don't mind me asking?

[2020-09-27 14:11] mehthabux opened #114 "Discussion: previous screen still focusable when using react navigation modal"
## Description
I added a react navigation modal in my app. once i navigate to modal screen, the previous screen touchable's is getting focused.

* This happens both in tvOS  and android tv

## React Native version:
System:
    OS: macOS 10.15.6
    CPU: (8) x64 Intel(R) Core(TM) i5-8279U CPU @ 2.40GHz
    Memory: 59.27 MB / 8.00 GB
    Shell: 5.7.1 - /bin/zsh
  Binaries:
    Node: 10.17.0 - ~/.nvm

[2020-09-27 22:37] dlowder-salesforce commented on #114
@mehthabux I believe this is the same issue as #43 ..... can you verify that the solutions discussed there will work for you?

[2020-09-27 22:39] dlowder-salesforce commented on #112
@dies-iris I wasn't able to repro this with the latest Xcode 12, so I'm closing it for now.  If you still see it in a new project, please feel free to reopen this and attach a link to the project so I can investigate.

[2020-09-27 22:39] #112 closed

[2020-09-28 06:21] mehthabux commented on #114
@dlowder-salesforce #43 This solution works in case of tvOS but not in android.
After this i tried adding accessible = false and scrollEnabled = false to flatlist in previous screen, once i added accessible false touchable isnt getting focused in android but the flatlist still scrolls.

https://github.com/mehthabux/TestTvOS

but #43 is this a right solution? Because  if i have many buttons in the

[2020-09-28 06:26] dlowder-salesforce commented on #114
I think so. The way this is done in React Navigation, it seems that the buttons are still present but off screen, so the focus engine can still find them. The only other approach I can think of would be to place focus guides on the left and right sides to prevent navigation to off-screen elements.

[2020-09-28 06:34] mehthabux commented on #114
oh okay, Please let us know if you find any other solution for this 👍

What about the scrolling in android, it still scrolls even after passing scrollEnabled false in flatlist .

[2020-09-28 09:37] olafurnsig commented on #103
@raytiley I'm using a custom component passed to `drawerContent`.

I still have the slight issue of not being able to navigate to the side drawer unless theres a corresponding touchable on the screen that the user can hop left from, hence my attempt at using TvFocusGuideView there, but it seems something about how it's created causes TVFGV to have issues.

[2020-09-28 15:41] nvolpe commented on #114
I just wanted to add my 2 cents for @mehthabux's android question. I have seen differences with focus on flatlists depending on if it is a horizontal or vertical list. Which I think can be explained by these 2 differences:

Vertical list has a setFocusable [method](https://github.com/react-native-community/react-native-tvos/blob/tvos-v0.63.1/ReactAndroid/src/main/java/com/facebook/react/views/scro

[2020-09-28 15:49] nvolpe commented on #114
Also, enableScreens() in react-navigation helped a lot with this problem.

[2020-09-29 07:02] mehthabux commented on #84
@dlowder-salesforce

@dlowder-salesforce Yes you are right, it doesn’t have effect in tvos in version 0.63.1 , but it has effect in version 0.62.2-1

[2020-09-29 07:05] dlowder-salesforce commented on #84
Wow interesting.... will have to have a look at the diffs to see if I can spot what changed

[2020-09-30 10:18] algokano opened #115 "Android TV: touchables do not change appearance when focused inside a modal"
"react-native": "npm:react-native-tvos@0.63.1-1"
Code Example using React Native modal code from docs:

[code]

[2020-09-30 10:37] mehthabux opened #116 "onMomentumScrollEnd not triggered in Android"
## Description
I have a Flatlist with onMomentumScrollEnd props, when scrolling this function is not getting triggered in android, but working fine in tvOS

## React Native version:
System:
    OS: macOS 10.15.6
    CPU: (8) x64 Intel(R) Core(TM) i5-8279U CPU @ 2.40GHz
    Memory: 56.10 MB / 8.00 GB
    Shell: 5.7.1 - /bin/zsh
  Binaries:
    Node: 10.17.0 - ~/.nvm/versions/node/v10.17.0/bin/node

[2020-09-30 16:28] dlowder-salesforce commented on #116
@mehthabux is this the same as https://github.com/facebook/react-native/issues/26661 ?

[2020-09-30 17:24] dlowder-salesforce commented on #115
Thanks for the submission @Sarvarr .... I did reproduce this on Android TV emulator.

The specific issue is that buttons don't change their appearance when focused inside a modal.  The buttons still work though -- you can use the arrow keys to select button 1 or button 2 in the example below, and pressing return will fire the button.

I'll take a look to see what the issue is.

[code]

[2020-10-01 01:10] dlowder-salesforce commented on #114
For now, I'm going to mark this as a "discussion" issue, not a bug.  If it turns out that there is some safe change we can make inside the RN repo that would help, we can revisit this.

[2020-10-01 01:47] dlowder-salesforce commented on #109
@mehthabux if you have time, can you review #117 and make sure you're ok with that fix?

[2020-10-01 06:29] mehthabux commented on #109
@dlowder-salesforce disabling it ? if we don’t have any other option, this is fine. 👍

[2020-10-01 06:31] dlowder-salesforce commented on #109
Yep, sadly it is the only option I can see

[2020-10-01 06:33] mehthabux commented on #116
yeah , its almost same, i guess the focus engine is calling scrollTo function

[2020-10-01 07:02] dlowder-salesforce commented on #109
Just to be clear, after this change, the input still functions, but is only single line instead of multiline.

[2020-10-04 11:06] mehthabux opened #118 "AndroidTV scrolling behavior is not consistent"
## Description
Following issue is raised by a developer 11 months ago , even I’m  facing the same  issue in android tv ( in tvOS its perfect!!)
https://stackoverflow.com/questions/58597512/androidtv-scrolling-behavior-is-not-consistent

I've spotted a difference between horizontal FlatList and vertical FlatList when using the Dpad on Android TV:
Considering the following code:

`const data = [0, 1

[2020-10-05 03:13] dlowder-salesforce commented on #118
@mehthabux this might be similar to https://github.com/facebook/react-native/issues/28509

[2020-10-05 07:50] mehthabux commented on #118
yeah its a similar one

[2020-10-07 11:04] Sarvarr commented on #20
same issue here
"react-native": "npm:react-native-tvos@0.63.1-1",

[2020-10-07 17:20] dlowder-salesforce commented on #20
`react-native-webview` should not be added manually to the tvOS target.  tvOS does not support webviews, so it will never be compatible with tvOS.

[2020-10-09 08:44] adbl opened #120 "Focus/blur on ScrollView?"
This is not a bug report. More of advice/feature request. I can't figure out a way to detect when focus enters/exits a regular scroll view (flatlist) which contains other touchable elements.

- Say there is a vertical scrolling content view, with swimlanes of various content, I would like to be able to add tracking for when/how long the user is interacting with different swimlanes. Or maybe apply

[2020-10-12 18:45] iamcam commented on #108
@dlowder-salesforce When can we expect a release to NPM? I was mistakenly pointing to the NPM 0.63.1-1 source and wondering why it wasn't working - I had to switch to https to resolve the image loading issue.

[2020-10-14 13:21] jasmeet447 commented on #103
Hi @olafurnsig, I've been using the focus guide in my react-native-tvos project and I'm using similar errors while implementing the focus guide. I dont know why this happens as the date comes from back-end api and re rendering causes it to crash several times. Any help will be appreciated

[2020-10-14 14:22] olafurnsig commented on #103
@jasmeet447 - What I've found to work, for reasons unknown - is to delay any data fetching your doing just for 250-300ms by using setTimeout, since doing that I've stopped running into that issue.

[2020-10-14 15:46] dlowder-salesforce commented on #103
Since refs aren't available until render, I use the technique shown in `RNTester/js/examples/TVFocusGuide/TVFocusGuideExample.js`, where there is a state `ref`, and the focus guide is written something like this:

[code]

That way the focus guide destinations are always valid.

[2020-10-16 10:04] olafurnsig commented on #103
@dlowder-salesforce -  Am I misunderstanding the concept of the TVFG, doesn't it need to wrap the Touchables as a container to be able to redirect to it?

I have implemented a few TVFGV in my app, but each one has been a really slow process of trial and error.

But I've still run into issues by creating the TVFG with a similar way as you describe there.

For example, I have a component where the T

[2020-10-16 10:05] olafurnsig commented on #103
BTW - with all the discussions happening in issues here, I wonder if a Slack space for this project would be a good idea, since react native tvOS development is a bit of a wild west thing and many questions surround it :)

[2020-10-16 10:43] jasmeet447 commented on #103
@olafurnsig, I've been running into some similar kind of issues that I get unexplained crashes for the constraints of focus guide here and there. What I've made sure of two things while implementing the TVFGV:
1. Refs for the destinations exist
2. TVFGV renders after all the components have been rendered, by maintaining a state variable for the focus guide.
It saves a lot of effort. Still getting

[2020-10-17 00:04] iamcam commented on #103
Is there anything consistent between these that cause the error? We're seeing the same thing when attempting to encompass a carousel component (which I believe is more or less a horizontal FlatList) inside a FlatList item. We have other FlatList items rendering properly when they don't have the more complex subviews.

[2020-10-17 06:18] dlowder-salesforce commented on #103
On Apple TV, the focus guide attempts to size itself to its containing view.  See the `addFocusGuide()` method in

https://github.com/react-native-community/react-native-tvos/blob/tvos-v0.63.1/React/Views/RCTTVFocusGuideView.m

I suspect the problem seen by @olafurnsig is related to that.  That code was added to solve some other issues where the focus guide would render with zero size.  It may be

[2020-10-20 14:38] mehthabux opened #122 "Does react-native-tvos app supported in Roku, PS4, Xbox and Amazon firestick ?"
I know its a discussion.
I'm developing an android and tvos tv app. I would like to know i can run this apps on Roku, PS4, Xbox and Amazon firestick

[2020-10-20 17:52] dlowder-salesforce commented on #122
This repo does not support that.  It looks like https://renative.org/ is attempting to do this. There is an issue there with a discussion on how to integrate this repo with that system: https://github.com/pavjacko/renative/issues/583

[2020-10-20 17:57] dlowder-salesforce commented on #120
`ScrollView` should normally not be focusable, except for the specific case of `TVTextScrollView`.  One thing I would try is to add a thin focusable in the header and footer, and only look for `onFocus/onBlur` in those.  That way you won't be pushing events unnecessarily from all the other touchables in the `ScrollView`.

[2020-10-22 15:32] Erbsenfresser commented on #43
Hi, can you provide an example? I have the same problem and can't figure it out.

[2020-10-26 21:26] dlowder-salesforce commented on #109
Fixed in https://github.com/react-native-tvos/react-native-tvos/releases/tag/v0.63.1-2

[2020-10-26 21:26] #109 closed

[2020-10-26 21:27] dlowder-salesforce commented on #108
Fixed in https://github.com/react-native-tvos/react-native-tvos/releases/tag/v0.63.1-2

[2020-10-26 21:27] #108 closed

[2020-10-29 13:38] CodyDunlap commented on #122
You can actually run this on FireTV as well, as that's just Android. There are some features that are missing, namely anything that depends on Google Play services. I'm not familiar with Xbox and PS4, but good luck getting anything to work with Roku. I've been looking for something like that as well, and even [https://renative.org/](https://renative.org/) doesn't seem to support that. The only lib

[2020-10-29 14:14] CodyDunlap opened #124 "Unable to resolve peer dependencies"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
To be quite honest, I'm not sure if this is a bug or if I'm just misunderstanding something. I'm fairly new to react/react-native and I am trying to build an app for AndroidTV and AppleTV. I've gone through all of the setup steps and the app runs on both platforms just fine. I s

[2020-10-29 17:46] dlowder-salesforce commented on #124
I would strongly recommend using `yarn` and not `npm install` to add dependencies.  I took a project created with `react-native init TestApp --template=react-native-tvos`, and then used yarn to add `@react-navigation/native`.  Got some warnings but no error.  (Note that other changes might be needed to actually get the add-ons to compile for tvOS, but that's a separate issue....)

[code]

[2020-10-29 17:46] #124 closed

[2020-11-01 18:54] #120 closed

[2020-11-01 19:01] dlowder-salesforce opened #125 "Support the new Pressable API for RN 0.63"
React Native 0.63 introduced a new component `Pressable` which is intended as a replacement for `Touchable*`:

https://reactnative.dev/blog/2020/07/06/version-0.63#pressable

I'm starting work on this for TV platforms in the [pressable-for-tv](https://github.com/react-native-tvos/react-native-tvos/tree/pressable-for-tv) branch.  Needs the `isTVSelectable` prop, and needs focus, blur, select handle

[2020-11-06 00:26] dlowder-salesforce commented on #125
Reopening until the changes for this are actually in a public release.

[2020-11-06 08:36] fabdrol opened #127 "Unable to locate react-native/tvos-types.d"
## Description
I have followed the instructions in the Readme to get this up and running with typescript. Launching the simulator, it complains about not being able to locate `react-native/tvos-types.d`

## React Native version:
System:
    OS: macOS 10.15.7
    CPU: (16) x64 Intel(R) Core(TM) i9-9880H CPU @ 2.30GHz
    Memory: 479.98 MB / 16.00 GB
    Shell: 5.7.1 - /bin/zsh
  Binaries:
    Node:

[2020-11-06 19:31] dlowder-salesforce commented on #127
@fabdrol actually never mind, I found the issue.  It's a typo in the react-native-tvos `package.json`.  You can work around this by taking the `tvos-types.d.ts` from the top level of this repo and putting in in `node_modules/react-native` in your project.  Please confirm that this fixes your issue and that there are no other problems. I'll have the typo fixed for the next release.

[2020-11-07 09:08] fabdrol commented on #127
thanks @dlowder-salesforce :)

[2020-11-09 18:52] safaiyeh commented on #122
react-native-windows works on Xbox, not sure which port is trying to do PS

[2020-11-11 10:56] pavjacko commented on #122
For those who are interested, I'm planning to add support for dedicated engine which will use `react-native-tvos` instead of `react-native`

some initial prep work started already: https://github.com/pavjacko/renative/tree/develop/packages/rnv-engine-rn-tvos

this will allow devs to switch to this by simply setting `"engine": "engine-rn-tvos"` via `renative.json` to ensure easy migration

expected

[2020-11-12 11:27] prakash-altair opened #128 "[androidTV] Scrollview still scrollable with dpad when scrollEnabled={false} #29774"
Description
A scrollview with the scrollEnabled prop set to false still scrolls on tv remote dpad input on androidTV.
Also onScroll events are fired when the list is scrolled this way.

React Native version:
  ##0.63.1-2

Expected Results
The scrollview should not scroll when scrollEnabled is set to false, regardless of touch, mouse or dpad input.
facebook/react-native#29774

[2020-11-12 11:27] prakash-altair commented on #128
[https://github.com/facebook/react-native/issues/29774](url)

[2020-11-13 11:58] henninghall opened #129 "Android: Soft keyboard does not open when focusing TextInput"
I am experiencing the same issue as this PR is trying to adress: https://github.com/react-native-tvos/react-native-tvos/pull/89 even when using version 0.63.1-1.

Android specific.

## Description
Soft keyboard is not showing when focusing text input.

Right now you need to press OK on the d-pad to show the soft keyboard. In other words, it works as if the `showSoftInputOnFocus` prop were set to f

[2020-11-13 18:17] dlowder-salesforce commented on #127
Fix is in 0.63.1-3

[2020-11-13 18:17] #127 closed

[2020-11-13 18:17] dlowder-salesforce commented on #125
Pressable support is in 0.63.1-3

[2020-11-13 18:17] #125 closed

[2020-11-15 10:16] prakash-altair commented on #128
`  @ReactProp(name = "scrollEnabled", defaultBoolean = true)
  public void setScrollEnabled(ReactHorizontalScrollView view, boolean value) {
    view.setScrollEnabled(value);

    // Set focusable to match whether scroll is enabled. This improves keyboarding
    // experience by not making scrollview to scroll when scroll enabled is to false.
    view.setFocusable(value);
  }`

Adding `view.setFoc

[2020-11-15 22:56] dlowder-salesforce commented on #128
Yes please send a PR for this!!! 😊

[2020-11-16 06:59] prakashjais99 commented on #128
#130

[2020-11-18 08:56] henninghall opened #131 "Android: Missing TVEventKeyAction.down"
## Description
After upgrading from 0.63.1-1 to 0.63.1-3, the TVEventKeyAction.down events are missing in on Android. Only the up events are being sent.

## React Native version:
0.63.1-3

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1.  useTVEventHandler(console.log);
2. Use arrow buttons and note how the down event is missing

## Expected Results
A down event

[2020-11-18 21:11] TrebuhD opened #132 "Regression in `v0.63.1-2`: `Invariant Violation: No callback found`"
## Description
First of all, thank you all for the amazing work on this library. I was very happy to see `nextFocusUp` implemented recently, so I updated to the latest version, but unfortunately it broke my app.

Since the upgrade, the app either refuses to launch or crashes. Here's the logcat with the error in question:

[code]

This message also shows up as an Exception in the app. There's one m

[2020-11-18 22:44] dlowder-salesforce commented on #132
`Podfile.lock` is an iOS file and should have no effect on Android functionality.

Do you have a repo that reproduces the issue that you can share?

Also thanks for the kind words 😊

[2020-11-18 22:48] dlowder-salesforce commented on #131
I made that change to avoid having multiple events sent unnecessarily for every press. Is this causing a regression for you?

[2020-11-19 08:35] henninghall commented on #131
Alright, yes this removes the possibility to listen for the down event, which seems to be used in many android tv apps to make the clicks feel more responsive. With the down event we could for instance start the action directly when pressing down a button, not waiting for user the release the button.

I believe it would be better to keep both events so the developers can choose when to listen to w

[2020-11-19 08:54] TrebuhD commented on #132
You're right about `Podfile.lock` not being the culprit - I edited my post ;). I don't have a reproducible example repository now, but since I don't know what's exactly causing this, maybe it'd be faster to debug it more to narrow the problem down a bit. I'll try it and get back to you soon!

[2020-11-19 17:57] TrebuhD commented on #132
I've managed to narrow the problem down to [this commit](https://github.com/react-native-tvos/react-native-tvos/commit/18707efc3b0b2e5acb0b794d9831b797fc9553a9), which is kind of strange, because [it only contains type changes](https://github.com/react-native-tvos/react-native-tvos/compare/9156525531395a7eb7af5eacfc440d5377c94083...18707efc3b0b2e5acb0b794d9831b797fc9553a9).

Everything works fine

[2020-11-20 01:57] dlowder-salesforce commented on #131
Thanks for the explanation!  I guess we need both types of events for sure, so I'll revert that change.

[2020-11-20 07:58] henninghall commented on #131
Awesome, thanks!

[2020-11-20 08:35] #131 closed

[2020-11-20 08:44] prakashjais99 commented on #128
@dlowder-salesforce
Thanks for merging PR

[2020-11-20 08:51] dlowder-salesforce commented on #132
I don't see how the type changes could do this.  I suspect that the packager's cache has become invalid, and you need to clear `watchman` and restart the packager by doing `react-native start --reset-cache` (the issue seems similar to https://github.com/facebook/react-native/issues/26687).

[2020-11-20 13:17] TrebuhD commented on #132
Thank you for your comment. Unfortunately this didn't help :/. To recap, here's what I did:

- `watchman watch-del-all`
- `react-native start --reset-cache`
- `./gradlew clean`
- `rm -rf node_modules` followed by `yarn`

It might be important that I'm using a yarn monorepo. Could it be that the `types` property inside this package's `package.json` is somehow interfering with this? Since I have no

[2020-11-20 19:06] dlowder-salesforce commented on #129
@henninghall I added a comment in PR #89 where I believe the issue is coming from, and have asked @vdmtrv to comment.

[2020-11-20 19:09] dlowder-salesforce commented on #128
@prakashjais99 no problem, thanks for the PR!  Once #129 is resolved, I'll do a new release.

[2020-11-20 19:21] dlowder-salesforce commented on #132
Ok thanks for the update.... yes if you are in a monorepo you may want to make sure that `react-native-tvos` is used in place of `react-native` everywhere.   I'll close this for now, but please reopen if you still have problems and can supply a reproducible test case 👍

[2020-11-20 19:21] #132 closed

[2020-11-23 10:25] olafurnsig opened #136 "Touchable focus velocity - (discussion)"
Could not find this documented anywhere, is there a way to make Touchable* have more "gravity/stickyness"?

What I mean is that once the Touchable is highlighted, more motion than normal is required to exit it?

My use case is that I have a constant Sidemenu visible, but it's too easy to accidentally jump from it when scrolling down.

What I'd like to be able to do is having a higher requirement o

[2020-11-23 12:36] henninghall commented on #129
@dlowder-salesforce I tried 0.63.1-4 and this works as expected now, thanks 👍

[2020-11-23 12:36] #129 closed

[2020-11-23 17:55] dlowder-salesforce commented on #136
@olafurnsig which platform is having the issue?  Apple TV or Android TV?

[2020-11-23 17:55] dlowder-salesforce commented on #128
Fixed in 0.63.1-4 release

[2020-11-23 17:55] #128 closed

[2020-11-23 17:58] dlowder-salesforce commented on #116
@mehthabux it looks like there is now a PR on RN core to fix this: https://github.com/facebook/react-native/pull/30367

Can you try that and see if it fixes the issue for you?  It hasn't been merged to core yet, but if it's solid, we can merge it here.

[2020-11-23 18:00] dlowder-salesforce commented on #118
@mehthabux it looks like there may be a core PR to address this: https://github.com/facebook/react-native/pull/28627

It has merge conflicts, but if you can check and see if it fixes the issue, that would be great.

[2020-11-24 06:06] mehthabux commented on #118
@dlowder-salesforce Actually i tried that before, unfortunately it doesn’t work

[2020-11-24 09:21] olafurnsig commented on #136
@dlowder-salesforce - its not actually an issue, perhaps my text was confusing :)

I'm looking to ADD some sort of gravity to a Touchable, so it requires more effort to exit it than normally.

So say I have some layout like this:

|  SideNav |   MainView |
| Nav1.       |.   FlatList.   |
| Nav2.       |.   FlatList.   |
| Nav3.       |.   FlatList.   |
| Nav4.       |.   FlatList.   |

When the f

[2020-11-24 11:24] darji89 opened #137 "hasTVPreferredFocus props breaks remote events on tvOS 14.2"
## Description
With the update to tvOS 14.2 we noticed that remote events stop emitting. For example the press of the play/pause button or simply pressing the remote to select something. After further investigation we realised that the use of the prop `hasTVPreferredFocus` is the culprit.

I have created a sample project that illustrate this
https://github.com/darji89/react-native-tvos-remote-bug

[2020-11-24 16:46] dlowder-salesforce commented on #137
Thanks for providing the example and detailed explanation!  Does the problem appear on simulator as well?

[2020-11-24 17:39] darji89 commented on #137
I ran the app on the simulator. For some reason I couldn't manage to toggle the virtual remote.
But when controlling the app with my keyboard, this bug also happened.

[2020-11-24 17:44] NickAVolpe commented on #136
My guess is that you are using the Apple TV remote which is very sensitive and you need a nimble thumb to navigate well. I personally tend to tap on the remote rather than swipe now. It likely would not be an issue on Android TV without swipe gestures.

I'm have not done anything like this, but the work done to add Pressable support looks exciting and might be a good place to start: https://github

[2020-11-24 19:13] NickAVolpe commented on #137
I ran the sample repo he provided and can confirm I see the issue he describes on my 14.2 simulator.

I ran into this issue last night. I made a quick fix in our project to make sure that a TouchableOpacity with `hasTVPreferredFocus=true` is always mounted to the screen, even if it requires hiding it.

[2020-11-24 20:25] dlowder-salesforce commented on #137
I also reproduce the issue in the 14.2 simulator.  I think the issue is that the underlying Apple API `preferredFocusEnvironments` will not work if the view isn't actually rendered as a native view.  For a use case like this, a `TVFocusGuideView` might be better than using `hasTVPreferredFocus`.  I'll see if I can get that to work.

[2020-11-24 20:28] dlowder-salesforce commented on #137
Also if you are just looking for tap gestures and not pans, you can just use `useTVEventHandler()` API (see the README for a sample)

[2020-11-24 22:40] darji89 commented on #137
@dlowder-salesforce, yess in finding a workaround/fix for this bug I tested the same sample app but with using `useTVEventHandler`. I can confirm that the bug does not happen then.

But changing our whole production app with daily hundreds of user will be a big undertaking. 😅

[2020-11-24 22:47] darji89 commented on #137
@NickAVolpe, thinking out loud here, but does always having an hidden `touchableOpacity` with `hasTVPreferredFocus=true` causes issues with navigation?
For example If I would to keep a hidden `touchableOpacity` in my App component at all times and my Home view also need to have a  `touchableOpacity` there, with also `hasTVPreferredFocus`. I would assume the focus will go to the newly rendered `tou

[2020-11-24 23:42] NickAVolpe commented on #137
Yup, that is how it behaves for me. I admit this is not an elegant solution but the navigation works for me. However, I say that with caution because I know how hard focus management can be. I have written several other focus management tricks and hacks in the past.

This issue only became a problem for me on tvOS 14.2 in a screen with no rendered touchables. Everywhere else in the app was fine, s

[2020-11-25 01:05] dlowder-salesforce commented on #137
I'm glad that you can do this with `useTVEventHandler()` and not see the bug.  I suspect there may be some unfortunate interaction between the third-party package `react-native-tvos-controller` and the focus management code.  I'll have a look to see if I can figure out where that might be happening.

[2020-11-25 01:38] dlowder-salesforce commented on #137
Since the `react-native-tvos-controller` does take over the gesture handlers normally present in `RCTRootView`, I'm going to "officially" recommend that for this use case, you not use that package and instead use `useTVEventHandler()` in your code.  It will actually simplify this code.

Here's your code modified to show the button on 'select' and hide it on 'playPause'.  If you really want to use

[2020-11-25 01:38] #137 closed

[2020-11-25 01:54] NickAVolpe commented on #137
@darji89 Just to follow up I like the solution dlowder just posted and I will likely change my code to that once I have time :)

[2020-11-25 09:55] darji89 commented on #137
I will need try this approach out. I did a quick experiment but I didn't get the result I was hoping for.
Wil give it another try but indeed the approach with `useTVEventHandler` is more stable. :)

[2020-11-25 13:40] darji89 commented on #137
@dlowder-salesforce , quick question. I'm noticing that when using `useTVEventHandler` pressing the menu button always closes the app. This was not the case with `reactNativeTvosController`.

What am I forgetting here, any idea how I can stop this from happening?

[2020-11-25 19:39] dlowder-salesforce commented on #137
@darji89 you want `TVMenuControl`.  Apple requires that back navigation with the menu key go to the home screen when you are at the bottom of your navigation stack.  To support this, the RN tvOS code does not automatically add a gesture handler for menu key presses.  To get the menu key behavior you want, call `TVMenuControl.enableTVMenuKey()` when you want to handle menu key presses, and `TVMenuC

[2020-11-26 11:07] olafurnsig commented on #136
What I was apparently trying to get into words, is somehow being able to manipulate how much touch velocity is needed to exit a Focusable item, this is somewhat covered in Apple's tvOS guidelines but I need to dig a bit more into it.

[2020-11-26 11:39] darji89 commented on #137
@dlowder-salesforce , awesome thnx! :D

[2020-11-26 18:57] dlowder-salesforce commented on #136
@olafurnsig thanks for the clarification.... that does sound like a very useful enhancement for Apple TV RN users 👍

[2020-11-28 15:52] aakashsigdel opened #138 "multiple fire of onPress on single press of the remote on Android"
First of all I would like to say thank you for great work on this repo

## Description
When you attach a onPress handler on a TouchableOpacity it is fired multiple time on single press of remote in android. In tvOS it works fine.

This is happening because we attach a new listener for TV platform on componentDidMount of TouchableOpacity.js
In android, there is already a listener through the pressa

[2020-11-28 16:06] aakashsigdel commented on #138
it is interesting that a new commit on September 29 removes all of the tvOS related code from react-native repo. This also removes the `componentDidMount` function from the `TouchableOpacity.js` file.
I am wondering if we are going to add it back here in this repo. If indeed that is the case this problem will still be there.

Let me know if I can help out in somehow

[2020-11-28 23:38] anastely commented on #116
Hey,
Maybe it's a dumb Q
But how can I use his PR in my current App to test if it works or not😅?

[2020-11-29 01:34] dlowder-salesforce commented on #138
We will not be merging that commit here.  The removal of tvOS code from RN core was done so that it would be clear that all Apple TV (and Android TV) support will be in this repo.

[2020-11-29 06:15] mehthabux commented on #138
@aakashsigdel i think you need to `Platform.OS !== 'android'` in TVTouchable.js. even i had the same issue adding `Platform.OS !== 'android'` fixed my issue

`'use strict';

import invariant from 'invariant';
import ReactNative from '../../Renderer/shims/ReactNative.js';
import type {
  BlurEvent,
  FocusEvent,
  PressEvent,
} from '../../Types/CoreEventTypes';
import Platform from '../../Utilitie

[2020-11-30 08:21] aakashsigdel commented on #138
@mehthabux  Thanks, this is what I did as well. I will create a PR here

[2020-11-30 18:26] dlowder-salesforce commented on #116
@anastely to test that PR, you would need to do these steps:

- clone this repo
- apply the patch from that PR to your cloned copy
- in the cloned copy, run `./gradlew :ReactAndroid:installArchives` to generate the android directory that is in releases
- copy that android directory into `node_modules/react-native` in your app project
- rebuild your app and install on Android device/simulator

[2020-12-06 21:24] #138 closed

[2020-12-09 12:53] olafurnsig opened #140 "React Native Perf Monitor displays incorrectly when tvOS is set to dark mode"
Tested on a AppleTV non-4K.

UI settings set to Dark in Settings -> General, when the Dark mode is enabled, RAM, JSC, Views part of the perf monitor are not visible.

tvOS 14.2 (18K57)
react-native-tvos@6.3.1-4

[2020-12-11 01:42] dlowder-salesforce commented on #140
@olafurnsig I'll take a look -- I will also check to see if this is also an issue on iOS.  If so, an issue should be raised in the core repo.

[2020-12-13 08:28] viktorbk opened #143 "Unable to get UIRequiredDeviceCapabilities correct"
## Description
I'm trying to publish the app to TestFlight but i am unable to get by this error:
![image](https://user-images.githubusercontent.com/358725/102006970-53909280-3d25-11eb-8262-8c5bcf542c29.png)
I tried all possible values for UIRequiredDeviceCapabilities
[code]
## React Native version:
System:
    OS: macOS 11.0.1
    CPU: (20) x64 Intel(R) Xeon(R) W-2150B CPU @ 3.00GHz
    Memory: 52

[2020-12-13 19:16] dlowder-salesforce commented on #143
Sorry you are having this issue... I do see that there are others (possibly not React Native developers) who have hit this problem. https://stackoverflow.com/questions/64688364/tvos-uirequireddevicecapabilities-issue

[2020-12-13 19:21] dlowder-salesforce commented on #143
I did notice that for newly created projects, the required device capabilities is actually set to `armv7` on the tvOS target, which is wrong.  It should be `arm64`.  Could you check to see if that is true in your project?

[2020-12-13 19:28] dlowder-salesforce commented on #140
Interesting... this problem does not happen on iOS.  I'll find the perf monitor code and add the required checks for tvOS.

[2020-12-13 19:40] dlowder-salesforce commented on #140
OK I have a fix

[2020-12-13 19:47] dlowder-salesforce commented on #140
I'll get this into the next patch release @olafurnsig

[2020-12-14 05:07] viktorbk commented on #143
Thanks for your input. UIRequiredDeviceCapabilities was not included in info.plist but i added it and tried all possible combinations of arm64 and armv7. Also i tried adding others like telphony, sms etc. without success.

[2020-12-14 10:02] olafurnsig commented on #140
Thanks for being so incredibly responsive @dlowder-salesforce , I'll have to have my colleagues buy you a beer the next time Dreamforce held! :)

[2020-12-19 10:23] prakashjais99 opened #145 "tvOS: Performance issues and delays in parallax effects with list of focusables"
## Description
In tvOS focus navigation is based on scale change on focus/blur. Due to touchpad navigation in tvOS scaling after on focus callback is creating a visible delay in scale and its clearly visible when we do fast swipes in touch pad

## React Native version:
0.63.1-4

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Flatlist with list of touchables wh

[2020-12-21 19:35] dlowder-salesforce commented on #145
The scale change actually happens as part of the native tvOS view code, specifically in `React/Views/RCTTVView.m`:

[code]

One thing you could try is to move the calls to `[self sendFocusNotification:context]` and `[self sendBlurNotification:context]` to their respective completion handlers, and see if that improves the behavior.

[2020-12-21 19:55] dlowder-salesforce commented on #140
This fix is in https://github.com/react-native-tvos/react-native-tvos/releases/tag/v0.63.3-0

[2020-12-21 19:55] #140 closed

[2020-12-23 12:11] prakashjais99 commented on #145
@dlowder-salesforce thanks for the answer. But for android parallax effect will not work.
We should have a common solution for scale as this is what mostly used in TV's
I can create a PR for the same if it is ok?

[2020-12-23 18:51] dlowder-salesforce commented on #145
Yes it would be great if you can create a separate issue or PR for adding parallax effects to Android.  Let's keep this issue for fixing the performance issues with tvOS.

[2020-12-31 10:50] prakashjais99 commented on #118
@mehthabux
I think this can be solved by adding empty view footer to Flatlist and also manually scrolling to item using code

[2021-01-13 14:09] ericlifs opened #153 "[HOWTO] - Autoscroll FlatList to certain position"
I have a screen which is basically a FlatList (that renders some blocks) and at the very bottom of the screen I have a **Scroll to Top** button that just scrolls that FlatList to the y = 0 position. That's working fine.

The thing is that (after coding for tvos for some months -all of these concepts are new to me-) I noticed that focus and scroll are different things, since even after scrolling to

[2021-01-13 21:27] dlowder-salesforce commented on #153
If you have a ref to the first element, your button can set the `hasTVPreferredFocus` prop on the element to force focus to move to that element.

[2021-01-14 13:31] ericlifs commented on #153
Sorry, how do I do that? Does the ref.current have a function for dynamically set the `hasTVPreferredFocus` prop? Or do you mean setting the prop to the Component itself within the return statement?

[2021-01-15 10:07] olafurnsig commented on #153
@ericlifs - You can have some state variable :

`this.state = {scrollToTopFocus: false}`

then on the list item you want to move the focus to:

[code]

Then when you scroll the list to index: 0, also do:

`
this.setState({scrollToTopFocus: true});
`

Something along these lines should work I think

[2021-01-15 10:13] olafurnsig commented on #145
@prakashjais99  Have you fully optimized the FlatList component, with getItemLayout and windowSize, numItemsToRender, and the actual ListItems as PureComponents.

I noticed a huge change in performance after doing as much optimizing as I could do. I still have slight hiccups if the lists are gigantic like 300 items though.

[2021-01-18 19:44] cabhara opened #155 "TextInput on Android TV does not work with dpad"
## Description
Using TextInput on Android TV. Can focus on TextInput after wrapping it in TouchableOpacity (otherwise does not focus).
can move through keyboard values with dpad, but cannot select letters, backspace or submit. basically the middle round button on dpad does not do anything.
Tested on emulator and on google chromecast.
actually dpad does not work for any selection (middle button)?

[2021-01-18 21:57] cabhara commented on #155
I logged all fired events with TVEventHandler, and no events fired inside the keyboard, or when pressing the middle dpad button at all.

[2021-01-18 23:05] cabhara commented on #155
So actually the select button works on the chromecast device (but not on the emulator), but the keyboard still needs a touchableOpacity to react, and the keyboard will open often even when on other screens. It almost seems the dpad navigates to elements in other react navigation screens, even though the screens are not visible

[2021-01-19 16:56] NickAVolpe commented on #155
@cabhara Are you using [enableScreens](https://github.com/software-mansion/react-native-screens#usage-with-react-navigation) with react navigation. That was part of the solution I used to fix navigation issues between screens. (I forget which platform I had done this for)

[code]

[2021-01-19 18:28] dlowder-salesforce commented on #155
@cabhara it is a known issue that screens that are not visible can still get focus... see #114

[2021-01-19 20:00] cabhara commented on #155
@NickAVolpe thanks for the tip! Adding enableScreens() improved my navigation. I still have to add the touchable around the TextInput (I thought that was fixed from reading the docs), but I can use it and navigate around.

[2021-01-19 20:10] cabhara commented on #155
@dlowder-salesforce Thanks, I guess I have to go through and make sure that every Button uses the isTVSelectable param.

[2021-01-22 02:54] asharafshahi commented on #143
I am experiencing the same issue.  When creating a new project it is initially set to armv7, I did change it to arm64, but continue to get the same error.

[2021-01-24 00:04] octopicorn commented on #113
@dlowder-salesforce Hi Doug!
I have run into an issue with the latest 0.63 implementation, related to the top navigation.
Essentially, TabBarIOS just has dramatically changed its funcitonality, to the point where it is unusable now.
And the issue is, there doesn't seem to be a clear alternative or "best practices" method in any demo or tutotrial for RN-tvOS to date.

I went to your repo referenced

[2021-01-24 00:09] octopicorn commented on #113
Sorry this comment above is a duplicate of https://github.com/react-native-tvos/react-native-tvos/issues/17
The tabbar issue is being discussed there. Never mind on this thread, thank you.

[2021-01-24 06:22] mehthabux opened #156 "Focus element is not persisted after we come back from another screen"
## Description
Im having a list of touchable elements and onPressing a particular item , we navigate to another screen. so when once i move to a particular element in the list and press it we move to another screen and after that once i pressed the back button, the previously focused element is not getting focused. the focus goes to the first element in the list.

[2021-01-29 01:58] dlowder-salesforce commented on #155
@cabhara please try the latest release (0.63.4-0).... I looked at the fixes done in core since 0.63.1, and it appears that there were some commits around Android issues in TextInput.  See the list of changes: https://github.com/react-native-tvos/react-native-tvos/compare/v0.63.1-4...v0.63.4-0

[2021-01-29 01:59] dlowder-salesforce commented on #156
@mehthabux is this happening on Apple TV, Android TV, or both?  Is this using React Navigation, or some other stack?

[2021-01-31 06:05] mehthabux commented on #156
@dlowder-salesforce Hi, this is happening in both Platforms, and yeah im using React navigation

[2021-01-31 21:10] roidy opened #157 "Can't build tvOS app on Apple Silicon M1"
Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Unable to build tvOS app on Apple Silicon M1, build fails with

ld: in /Users/roidy/Documents/Projects/RoidyTV/ios/Pods/OpenSSL-Universal/tvos/lib/libcrypto.a(cryptlib.o), building for tvOS Simulator, but linking in object file built for tvOS, file '/Users/roidy/Documents/Projec

[2021-02-01 04:03] dlowder-salesforce commented on #157
To solve this issue, go into `ios/Podfile` in your new project, and remove or comment out the lines

[code]

Then execute `pod install` in the `ios` directory.  This will remove the prebuilt Flipper libraries from your build, and the compile should succeed.

[2021-02-01 09:23] roidy commented on #157
Thanks, that fixes the build however now the app launches in the simulator but displays nothing but a white screen.

[2021-02-01 22:23] asharafshahi opened #158 "Installing Expo react-native-unimodules"
(Sorry in advance if this wouldn't generally be considered a bug)

Please provide all the information requested. Issues that do not follow this format are likely to stall.

## Description
Expo provides a lot of very helpful libraries for React Native and with the Bare Workflow this should easily integrate with any plain React Native project.  Their instructions here (https://docs.expo.io/bare/inst

[2021-02-01 22:35] dlowder-salesforce commented on #157
Can you provide Xcode console logs?  The white screen is what I would expect if the app is not able to connect to the packager.  Is the packager running?

[2021-02-01 22:37] dlowder-salesforce commented on #158
Are the Expo modules prebuilt for iOS, or provided as source?

[2021-02-01 23:06] asharafshahi commented on #158
My suspicion is that they're for iOS, you install them with just `npm install react-native-unimodules`

Here is a screenshot of the build error, which makes me think it's compiled for the wrong architecture
![image](https://user-images.githubusercontent.com/30377967/106529193-17251b80-64b8-11eb-990a-379a94fdd88b.png)

[2021-02-01 23:46] dlowder-salesforce commented on #158
Thanks for the extra information!  I'll add this to the backlog, it may take some effort to get this to work :)

[2021-02-02 02:45] asharafshahi commented on #158
Thanks!  I have also posted this question on the expo forums and will report back if I hear anything there.

[2021-02-02 08:42] marnusw opened #159 "TouchableHighlight onPress firing multiple times on Android TV"
## Description

Using an Android TV emulator when pressing a `TouchableHighlight` component the `onPress` handler is called three times. This does not happen with `TouchableOpacity`, and it does not happen on tvOS.

## React Native version:

[code]

## Steps To Reproduce

Use the reproducible demo below and press each button once.

## Expected Results

Each button press should only log to the cons

[2021-02-02 19:34] dlowder-salesforce commented on #159
Seems that the fix done in #139 is needed on `TouchableHighlight` as well.  I'll take a look.

[2021-02-03 19:15] roidy commented on #157
The packager seems to be running
<img width="1440" alt="Screenshot 2021-02-03 at 19 13 49" src="https://user-images.githubusercontent.com/4118048/106797045-0ad5c580-6654-11eb-9fab-f76f29a6b355.png">
What logs do you need and where do I find them, thanks.

[2021-02-04 12:55] fasci commented on #69
Even though I don't use RNN, for me this still seems to be an issue when using `createNativeStackNavigator` from `react-native-screens/native-stack`. I'm not quite sure if it is indeed related to the original issue mentioned here, but as react-native-screens also uses a native screen, it might be the same issue.

Whenever a screen is pushed, `TVMenuControl.enableTVMenuKey();` has no effect anymore

[2021-02-04 17:08] fasci commented on #69
I can get this to work by listening to `RCTTVEnableMenuKeyNotification` and `RCTTVDisableMenuKeyNotification` in react-native-screen's `RNSScreenView` and then adding `RCTTVRemoteHandler's` `tvMenuKeyRecognizer` to this view.
This prevents the UINavigationViewController to handle the event before it could be handled by `RCTRootView`.
However, this is just a hack in react-native-screen, so if there

[2021-02-05 20:01] roidy commented on #157
Anybody got any ideas? I'd really like to get react native working on tvOS.

[2021-02-05 22:32] dlowder-salesforce commented on #157
Can you open `ios/roidyapp1.xcworkspace` in Xcode, and run the `roidyapp-tvOS` target in the simulator from there?  Hopefully you'll see a bit more debugging info.  I have seen that React Native core users are hitting issues with M1 development machines (https://github.com/facebook/react-native/issues/30599), I wonder if you are seeing the same thing.

[2021-02-06 08:12] roidy commented on #157
Unfortunately what I posted before is everything XCode outputs when running the tvOS target from Xcode, nothing else is output.

[2021-02-09 11:55] ivodaveiga opened #160 "Unable to invoke focus on touchable ref"
## Description

The `focus()` function throws an error (`No command found with name "focus"`) when invoked on a touchable ref.
Tested on "Apple TV" simulator.

![Screenshot 2021-02-09 at 11 40 39](https://user-images.githubusercontent.com/31899622/107359824-11899000-6acd-11eb-9cc9-e90ece038951.png)

## React Native version:
[code]

## Steps To Reproduce
Use the reproducible demo below

1. Press `B

[2021-02-09 14:14] gaboro-moove-it commented on #15
I'm using this library to build an app to android tv an apple tv

[2021-02-09 19:37] dlowder-salesforce commented on #160
The `Touchable` components do not have a `focus()` method -- that is a `TextInput` method.  If you want to programmatically change focus, you should set the `hasTVPreferredFocus` prop on the component you want to focus.

[2021-02-09 19:38] #160 closed

[2021-02-10 12:01] ivodaveiga commented on #160
Thanks. Shouldn't that be reflected in typescript as it identifies the `focus()` function as a valid function inherited from the interface `NativeMethods`?
(I've updated the example repository to use typescript)

[2021-02-10 19:59] dlowder-salesforce commented on #160
@ivodaveiga I do see that the `focus()` method is there in the types -- maybe that is a bug in in `@types/react-native`.  Checking the official docs at https://reactnative.dev, it does not appear that the method exists in any core components except `TextInput`.

[2021-02-11 11:29] kech37 opened #161 "Unexpected behavior and style on TextInput automatic focus"
## Description
When trying to use any type of automatic focus in the `TextInput`, the component has an unexpected style and behaviour.
## React Native version:
[code]
## Steps To Reproduce
1. Launch App
2. Insert any text on the username `TextInput`
3. Press `next` button

Watch that:
- The insert text does not show in the input because the colour and size of it is not correct. It should be like t

[2021-02-13 01:09] dlowder-salesforce commented on #161
I looked into this today, and found the following:
- The autofocus does not work on tvOS -- very likely it is interfering with the tvOS focus engine.  I tried a hack to use the code that implements `hasTVPreferredFocus` on regular focusable views, but that does not work.  My advice would be to not use autofocus on tvOS for now.
- The `TextInput` styling issues are discussed in #22

[2021-02-13 02:10] dlowder-salesforce commented on #159
Fix is merged, will go out in the next release

[2021-02-15 10:06] marnusw commented on #159
Thank you for all the time you put into `react-native-tvos` @dlowder-salesforce! We appreciate your service to the RN community.

[2021-02-15 10:27] kech37 commented on #161
Thank you for the feedback

[2021-02-24 06:16] supagu opened #162 "Invariant Violation: Module AppRegistry is not a registered callable module (calling runApplication)"
## Description
Creating initial ios TV app results in errors, with the first error being:
**Invariant Violation: Module AppRegistry is not a registered callable module (calling runApplication)**

## React Native version:
4.14.0

% react-native doctor
warn Package react has been ignored because it contains invalid configuration. Reason: Cannot find module 'react/package.json'
Require stack:
- /usr/

[2021-02-24 06:17] supagu commented on #162
This is the same bug as reported here: https://github.com/react-native-tvos/react-native-tvos/issues/132
I tried older versions but every version I tried I had the same problem.
PS. Recently upgraded to Big Sur so not sure if it might be related to that

[2021-02-24 08:33] dlowder-salesforce commented on #162
I just did the following:

- pulled your zip file
- Ran `yarn` from the top level directory to install the node dependencies
- Changed to ios directory
- Removed the `Podfile.lock` file, which did not appear to be the one I would expect for react-native-tvos (did you try a different Podfile at some point?)
- Ran `pod install`
- Went back to the top level directory
- Ran `react-native run-ios --sch

[2021-02-24 13:24] mehthabux commented on #156
@dlowder-salesforce have you got the chance to look into this issue ?

[2021-02-24 18:28] dlowder-salesforce commented on #156
I did spend a little time looking into the issue.... it looks like we would have to expose `remembersLastFocusedIndexPath` to have this work on Apple TV.  (https://developer.apple.com/documentation/uikit/uicollectionview/1618022-rememberslastfocusedindexpath)

If the list view is being rerendered when the user navigates back, then this might not work, and the app might have to keep track of what i

[2021-02-24 22:34] supagu commented on #162
Following your steps today it works perfectly. Maybe I just needed to restart my mac! Closing.

[2021-02-24 22:34] #162 closed

[2021-02-25 05:59] mehthabux commented on #156
@dlowder-salesforce so we don't have any other option 😔 ?

[2021-02-25 17:09] ivodaveiga opened #163 "Discussion: TV remote events order (question)"
## Description
Consider the code bellow. In the tvOS when navigating up and down with the remote I'm getting the following order of events:

[code]

Shouldn't it be the other way arround? Fire the remote tap first, then fire the blur event and finally the focus?

## React Native version:
[code]

## Code example:
[code]

[2021-02-26 00:51] dlowder-salesforce commented on #163
The different blur events are actually coming from different views.  Try the following:

[code]

This will show you the React tags for the views that are firing the focus and blur events:

[code]

[2021-02-26 00:52] #161 closed

[2021-02-26 00:53] dlowder-salesforce commented on #156
I don't think so.  However, if you have an example of an app that shows the problem, I can see if `remembersLastFocusedIndexPath` will actually work or not.

[2021-02-26 17:20] ivodaveiga commented on #163
Hi @dlowder-salesforce, thanks for the response. My question here is really about the event order.

Let's say we want to know when the user pressed a direction key when on a button.

Since the focus event fires before the tv remote key, in the example below if we enter the app an press 3 times down we're going to get

[code]

instead of

[code]

or there is another way to accomplish this?

## Code

[2021-02-26 17:48] dlowder-salesforce commented on #163
I do see the problem with event ordering.  In order to accomplish what you want, I think we would want to make some changes in the iOS/tvOS native code to include the direction information in the focus event.  We are already using this direction information in the implementation of `nextFocusUp`, `nextFocusDown`, etc.  See this code in `React/Views/RCTTVView.m`, which uses the `focusHeading` prope

[2021-02-26 18:36] tomdyson commented on #157
This isn't a solution - sorry @roidy - but FWIW I'm able to run tvOS apps on the simulator on my Apple Silicon M1, without making any changes from the instructions.

[2021-02-26 19:07] dlowder-salesforce commented on #163
I made the changes needed to propagate the `context.focusHeading` value up to the JS app layer... see branch https://github.com/react-native-tvos/react-native-tvos/tree/focusdirection-test

With this branch, I ran this example:

[code]

and see that focus and blur events now have the direction (down, up, etc.) of the gesture that caused the change.

Will this work for your use case?

[2021-02-26 21:58] ivoveiga commented on #163
Thanks for the reply and the test branch!

I've done some experiments with that branch and seems we still cannot identify when there was a down tap in the last button.

With the example you've provided, this is the logs it generates hen entering the app and tap down twice.

[code]

the first down generates the first 6 log lines, and the second generates the last line. Now we know when down was tap

[2021-02-26 22:06] dlowder-salesforce commented on #163
When you are on the second button, there is nothing focusable below it, so no focus events are received when you swipe down from there.  The down event is not associated with any view -- it is generated from a gesture handler in the root view, and just tells you that the down gesture happened, and nothing else. So yes if you need to know that, a workaround would be needed.

[2021-03-02 15:06] ericlifs opened #164 "Discussion: How to vertically center focused element?"
Is there a way of vertically center the element that gets focused? I have several components that have different heights and I started seeing that when it gets focused it's not centered to the middle of the viewport. Also, if you are scrolling from bottom to top the position of the focused element is not the same as if you are scrolling from top to bottom.

Thank you very much!

[2021-03-02 18:56] dlowder-salesforce commented on #164
OK I have some questions:

- Is the element that needs to be centered inside a list (e.g. FlatList)?
- Is the issue happening on Apple TV, Android TV, or both?

In general, the scrolling you are seeing is not done by React Native, it's a feature of the native tvOS or Android focus engine.

[2021-03-03 14:21] ericlifs commented on #164
Hey @dlowder-salesforce thanks for answering!

Yes, all the blocks are within a FlatList and the issue is happening on apple tv.

Thanks,

Eric!

[2021-03-04 10:36] andremaximino-wit opened #165 "Unable to detect click and long press"
## Description
Hello,
I'm trying to catch the Click Left or Right event and the Long Press Left or Right event on the Apple TV remote, in order to update the progress bar of a custom video player. All I can do until now is catch the tap event or the click event to select something.

Is there some way to listen to these events?

## React Native version:
4.14.0

## Steps To Reproduce
Provide a detai

[2021-03-05 10:37] fasci commented on #69
Just in case somebody else wants to use `createNativeStackNavigator`, I created a fork or `react-native-screens` to make `TVMenuControl.enableTVMenuKey();` work with it:
https://github.com/fasci/react-native-screens

[2021-03-05 11:28] raazatul7 commented on #132
![Screenshot 2021-03-05 at 2 23 37 PM](https://user-images.githubusercontent.com/29301407/110091380-62379480-7dbe-11eb-847c-ecaa902a0c20.png)

Getting this^

**React Native version:**
System:
    OS: macOS 11.2.1
    CPU: (4) x64 Intel(R) Core(TM) i5-5350U CPU @ 1.80GHz
    Memory: 487.70 MB / 8.00 GB
    Shell: 5.8 - /bin/zsh
  Binaries:
    Node: 15.11.0 - /usr/local/bin/node
    Yarn: Not Found

[2021-03-05 12:01] TrebuhD commented on #132
For me this was most likely related to having 2 versions of `react` inside my monorepo. Maybe make sure that you only have one version, remove your `yarn.lock` file, install again and see if you still get this issue.

[2021-03-05 12:17] raazatul7 commented on #132
I am not using yarn
Although I removed `package-lock.json` and did `npm i`

I don't get your point 'having 2 versions of react inside my monorepo'
like from where can I check and make sure that I have only have one version ?

Also while running in Android emulator I am getting this -
![Screenshot 2021-03-05 at 5 46 26 PM](https://user-images.githubusercontent.com/29301407/110114463-b7819f00-7dda-1

[2021-03-05 22:51] dlowder-salesforce commented on #165
These events are not yet supported in `TVEventHandler`.  I'll take a look to see how much work it will be to add them.

[2021-03-08 04:10] raazatul7 commented on #132
Could you open the issue again?

[2021-03-08 07:53] dlowder-salesforce commented on #132
You might be having a different issue. Please create a new issue, and if possible include a test case that reproduces the issue. It is recommended to use yarn for react-native based repos.

[2021-03-09 17:56] andremaximino-wit commented on #165
Thank you.
I will wait for your input about this.

[2021-03-16 14:20] ericlifs commented on #164
@dlowder-salesforce is there a way of managing this?

[2021-03-16 20:31] dlowder-salesforce commented on #164
The first thing you should try is implementing `onFocus()` for the element, and do a `scrollToIndex()` or `scrollToItem()` on your FlatList to position the list where you want it.  https://reactnative.dev/docs/flatlist#scrolltoindex

[2021-03-16 22:54] ericlifs commented on #164
It worked perfectly!! Thanks @dlowder-salesforce, you rock!

[2021-03-16 22:54] #164 closed

[2021-04-08 10:48] andremaximino-wit commented on #165
Hi!
Do you have any new input on this?

Thanks

[2021-04-08 23:09] dlowder-salesforce commented on #165
I have looked into this recently, and it appears to require a custom gesture recognizer for the select gesture, plus pulling in GameController code so you can know where the user is touching the Siri touchpad.  I'm following an idea similar to https://dcordero.medium.com/directional-clicks-on-tvos-c711a2faf71a .  I'll post here as I make progress.

[2021-04-21 10:07] andrefbmaximino commented on #165
Thanks for looking into this,
I'll wait for your feedback.

[2021-04-21 20:34] danielkalen opened #170 "How to disable focus in a certain direction from a source component?"
I have a scenario in which I'd like to disable next focus in a certain direction when focusing on a specific node. I know that directional focus target hints can be assigned by passing a node handle as `nextFocus*={nodeHandle}` but what if I'd like to disable/prevent focus in a certain direction? For example I'd like to pass `nextFocusDown={false}` or `nextFocusDown={null}` or `nextFocusDown={0}`

[2021-04-21 22:21] danielkalen commented on #170
Found the answer to my question, thanks to [NoriginMedia](https://noriginmedia.com/2021/03/10/focus-navigation-in-androidtv-with-react-native/):

You just pass the element's own node handle reference to the direction you want to block focus to:
[code]

[2021-04-26 10:28] olafurnsig commented on #156
@mehthabux

I had the same issue, and I "solved" it by adding a wasClicked state variable for the item in the list.

If it's pressed (and navigated to the content) , the wasClicked variable is set to true.

the component has:

`...
hasTvPreferredFocus={this.state.wasClicked}
....
`

When the user then goes back, the last item gets re-focused.

I'm also using react-navigation, and react-native-scre

[2021-04-26 10:32] olafurnsig commented on #156
Some other convoluted way to achieve a similar result could possibly be to keep the id/unique identifier of the item clicked in redux or something, and then change the **hasTvPreferredFocus** on that item when the screen gets re-mounted.

[2021-04-26 10:48] olafurnsig commented on #156
Video:
[![](http://img.youtube.com/vi/JKFu_LSLhZ0/0.jpg)](http://www.youtube.com/watch?v=JKFu_LSLhZ0 "refocus demo")

[2021-05-03 16:00] #170 closed

[2021-05-03 22:32] dlowder-salesforce commented on #156
Thanks @olafurnsig !!!

[2021-05-03 22:32] #156 closed

[2021-05-03 22:33] #157 closed

[2021-05-11 15:57] ghost opened #180 "atasasa"
sadsad

[2021-05-11 15:58] #180 closed, assigned to nobody

[2021-05-11 16:00] ahmedsu opened #181 "[HOWTO] Is it possible to convert an existing RN project to support tvOS?"
## Description
I have an existing app running for both Android and iOS devices. Is it possible to convert that project to support tvOS builds so I can run it for the tvOS also?

## React Native version:
System:
    OS: macOS 10.15.7
    CPU: (8) x64 Intel(R) Core(TM) i7-7820HQ CPU @ 2.90GHz
    Memory: 336.38 MB / 16.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 14.15.1 - /usr/local/bi

[2021-05-11 17:54] dlowder-salesforce commented on #181
This is certainly possible, but you would need to make other changes besides the react-native version.  The Podfile and Xcode projects for a react-native-tvos project are very different from those in RN core -- the Xcode project has additional targets for tvOS, and the Podfile has a separate section for the tvOS targets.  It also looks like you are on RN 0.64, but the tvOS repo is still on 0.63.4,

[2021-05-12 16:56] andremaximino-wit commented on #165
Thanks for the update @dlowder-salesforce ! I will wait for the feature branch. Cheers

[2021-05-14 02:21] dlowder-salesforce commented on #165
Ok @andrefbmaximino the feature branch is up -- https://github.com/react-native-tvos/react-native-tvos/tree/left-right-press

Please try this out and let me know what you think.

For an existing project, you can modify your `package.json` by modifying the react-native dependency:

[code]

Then pick up the changes:

- Remove `node_modules` and run `yarn`
- Change to `ios` directory, remove `Pods` a

[2021-05-17 14:40] andremaximino-wit commented on #165
Hi @dlowder-salesforce

I've checked the code you've provided and it works on our side. We will try to adapt and use these events in our project. The naming of the events seems fine for us.
Do you know if it's possible to detect the event a little bit down in the remote, as it is only detecting right in the corner. If I press the right edge of the remote in the middle, it doesn't detect this event

[2021-05-17 16:26] dlowder-salesforce commented on #165
Great that this is working! If the behavior is not quite right, you can change the logic or threshold in the `handleSelect:` method and the helper methods it calls to determine what kind of event to fire. If you do find something that works better, please send a PR 😊

[2021-05-21 03:17] dlowder-salesforce commented on #158
Ok I got a project to at least compile with the unimodules.  See https://github.com/react-native-tvos/react-native-unimodules-example .

- I had to add the tvOS platform to all the Expo and Unimodule podspecs
- A few code changes were needed (e.g. removing the webview for tvOS)
- Some podspecs were trying to provide prebuilt frameworks that are only built for iOS, so I stripped that out so all pod

[2021-05-25 18:55] SashaVons commented on #115
I'm having the same issue.

[2021-05-28 13:14] jeffreyabarrios commented on #40
How did you handle it? I'm facing a similar problem.

[2021-05-31 09:05] Barteque commented on #181
Hi @dlowder-salesforce
Are You (or RNTVOS Community) planing to make 0.64.0 release of React Native TVOS ?

[2021-05-31 09:07] dlowder-salesforce commented on #181
Yes

[2021-06-01 07:12] mehthabux opened #186 "Both buttons getting focused for Alert in TvOS"
My current version is react-native-tvos@0.62.2-1
![IMG_20210601_100705](https://user-images.githubusercontent.com/69464250/120281687-de1a7d80-c2d6-11eb-898b-0a8e153e66e7.jpg)

[2021-06-01 13:44] pprabhu-ng commented on #181
Hi @dlowder-salesforce
Glad to know there is 0.64.0 release coming up !! When do you think it can be expected to happen?

[2021-06-01 16:13] dlowder-salesforce commented on #186
@mehthabux two questions:

- Is this Apple TV or Android TV?
- Does the issue reproduce in the latest release (0.63.4-0)?

[2021-06-01 16:16] dlowder-salesforce commented on #181
@pprabhu-ng I should be able to start some time in July, based on expected completion of some current projects.

[2021-06-02 06:00] mehthabux commented on #186
@dlowder-salesforce its Apple Tv
sorry i didnt try this with 0.63.4-0

[2021-06-02 06:03] dlowder-salesforce commented on #186
All right thanks @mehthabux .... if it still reproduces with 0.63.4, maybe post a sample App.js that shows the bug?

[2021-06-02 06:06] mehthabux commented on #186
ok let me try that 👍

[2021-06-13 17:51] dlowder-salesforce opened #188 "Upgrade to RN 0.64.2"
Here I'm tracking the effort to move the TV version of React Native to 0.64.2.

[2021-06-13 17:56] dlowder-salesforce commented on #188
- Created base branch https://github.com/react-native-tvos/react-native-tvos/tree/branch-v0.64.2 that is an exact copy of the commits in RN core 0.64.2
- Created new release branch https://github.com/react-native-tvos/react-native-tvos/tree/tvos-v0.64.2 from that
- Started by reverting https://github.com/facebook/react-native/pull/29407, then start cherry-picking this repo's 0.63 commits in order

[2021-06-13 17:57] dlowder-salesforce commented on #181
@pprabhu-ng FYI I've started the preliminary work for a 0.64.2 release, and tracking this in #188

[2021-06-14 02:23] dlowder-salesforce commented on #188
Finished cherry picking all the 0.63 commits from this repo that were not already part of core.  Fixed some merge issues, and several new tvOS compile breakages in core code -- now RNTester at least compiles successfully.

[2021-06-14 11:17] pprabhu-ng commented on #181
@dlowder-salesforce Great !! Thanks for updating. Will check this.

[2021-06-15 02:05] dlowder-salesforce commented on #188
Ok RNTester now runs in the tvOS simulator.  Fixed some UI issues, and added a "TV" example category.

Now attempting to bring up Hermes JS engine.  Core is using podspecs with prebuilt libraries and without tvOS support for `hermes-engine` and `libevent`, so I'm rolling my own in the `third-party-podspecs` directory.

[2021-06-15 08:19] henninghall commented on #57
Related discussions:
[How do I handle scaling issues in a React Native app between tvOS and Android TV?
](
https://stackoverflow.com/questions/60745363/how-do-i-handle-scaling-issues-in-a-react-native-app-between-tvos-and-android-tv)

[2021-06-24 08:48] ajoykarmakar commented on #55
The issue is still present.

[2021-06-26 17:18] douglowder opened #190 "react-native-svg will not compile in a new tvOS project"
## Description

If the `react-native-svg` package is added to a `react-native-tvos` project, the tvOS target will not compile.  Thanks very much to @GantMan for finding this issue and bringing it to my attention!

## React Native version:
0.63.4-0

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

[code]

## Expected Results
New app should compile and launch in the

[2021-06-26 17:21] dlowder-salesforce commented on #190
Root cause: The SVG package has been recently updated to support MacOS, but the MacOS specific files have not been excluded from the tvOS platform in the podspec.

Solution: Patch the podspec as below, then rerun `pod install`.

[code]

[2021-07-05 03:46] dlowder-salesforce commented on #188
Progress: I have a release testing branch that works well on Apple TV (no Hermes support yet). Android TV is having some compile issues, I'm looking into those.

[2021-07-05 20:00] danielkalen commented on #188
@dlowder-salesforce Any progress on this? Do you need assistance in getting this tested/moved further?

[2021-07-05 23:39] dlowder-salesforce commented on #188
@danielkalen I've resolved the Android compile issues.  Fixed up the tvOS tests and some issues with RNTester.  I'm checking Android tests now.

[2021-07-06 01:16] dlowder-salesforce commented on #188
Ok it's shipped :)

- Release notes: https://github.com/react-native-tvos/react-native-tvos/releases/tag/v0.64.2-0
- NPM package: https://www.npmjs.com/package/react-native-tvos

Of course file issues if you see any regressions.

[2021-07-06 01:16] #188 closed

[2021-07-06 13:21] Barteque commented on #188
https://media.giphy.com/media/yyZRSvISN1vvW/giphy.gif

[2021-07-06 20:38] danielkalen commented on #188
Hey @dlowder-salesforce, amazing speed on getting this shipped out. Out of curiosity, what is the blocker for having Hermes work on tvOS? Maybe I can provide assistance with that?

[2021-07-06 20:52] dlowder-salesforce commented on #188
@danielkalen if you would be willing to work on Hermes tvOS support, that would be awesome.  The support for iOS that is currently there for Hermes (see https://github.com/facebook/hermes/pull/332) does not include build targets for tvOS.  So that would all have to be added in the Hermes repo, then this repo would need to be modified to pick up the new Hermes build and included tvOS support.  Herm

[2021-07-06 20:59] danielkalen commented on #188
Sounds good. I can't guarantee ownership and completion of this, but I will try my best. I'm assuming that we don't want to work with forks of Hermes and want the tvOS support shipped on an official Hermes release?

[2021-07-09 01:07] dlowder-salesforce opened #196 "Regression in Touchable TVEventHandler usage in 0.64.2-0"
## Description

When testing an existing project in `react-native-tvos@0.64.2-0`, an error occurs if `TouchableOpacity` or `TouchableHighlight` is used:

<img width="602" alt="Screen Shot 2021-07-08 at 6 04 57 PM" src="https://user-images.githubusercontent.com/6577821/125008380-40be1200-e017-11eb-9fe3-1388f2439362.png">

The error is due to a missing import in `Touchable.js`.

[2021-07-09 01:13] dlowder-salesforce commented on #196
This is fixed and will appear in the `0.64.2-1` release.

[2021-07-09 01:47] dlowder-salesforce commented on #196
I'll leave this issue open until `0.64.2-1` has been released.

[2021-07-12 13:16] henninghall commented on #31
It doesn't seem to be the exact same issue as #22

I am able to reproduce it by setting `placeholderTextColor`, focusing text input and then blurring text input.

[code]

[2021-07-12 19:15] dlowder-salesforce commented on #186
@mehthabux does this still happen on 0.64.2-0?

[2021-07-12 19:46] #114 closed

[2021-07-12 22:50] #153 closed

[2021-07-12 22:51] #181 closed

[2021-07-12 22:51] #163 closed

[2021-07-12 22:51] #155 closed

[2021-07-12 22:51] #136 closed

[2021-07-12 22:52] #122 closed

[2021-07-12 22:53] #113 closed

[2021-07-12 22:53] #111 closed

[2021-07-12 22:53] #105 closed

[2021-07-12 22:53] #103 closed

[2021-07-12 22:54] #87 closed

[2021-07-12 22:54] #77 closed

[2021-07-12 22:54] #32 closed

[2021-07-12 22:54] #11 closed

[2021-07-12 22:55] #14 closed

[2021-07-13 06:10] mehthabux commented on #186
@dlowder-salesforce hi sorry i didnt try that , will try it once and let you know 👍

[2021-07-15 07:54] methineeinkan commented on #196
+ 1

[2021-07-15 15:37] danielkalen commented on #188
@dlowder-salesforce please confirm on my last question.

[2021-07-15 17:05] dlowder-salesforce commented on #188
@danielkalen a fork of Hermes is the way to go. This repo was created because Facebook no longer wanted to support tvOS in RN core. I doubt they would be willing to add it to the main Hermes repo now.

[2021-07-15 18:07] dlowder-salesforce commented on #196
@methineeinkan fix it by adding the missing import line as in https://github.com/react-native-tvos/react-native-tvos/commit/e531db0a81932c1ad1c7f10b2a90ef014cf4a75b

[2021-07-17 17:43] dlowder-salesforce commented on #186
@mehthabux I just updated to 0.64.2-1 to fix a regression in Touchable, please use that for testing

[2021-07-17 17:53] dlowder-salesforce commented on #196
`0.64.2-1` release is out now, so closing this.

[2021-07-17 17:53] #196 closed

[2021-07-18 07:44] oscadev opened #202 "Navigator Stack doesn't work because of "RNReanimated" dependency"
## Description
Pod Install fails with error message :
`[!] Unable to find a specification for `React-RCTActionSheet` depended upon by `RNReanimated``

## React Native version
[code]

## Steps To Reproduce

1. Make a new build using `react-native init TestApp --template=react-native-tvos@latest`
2. yarn add @react-navigation/native
3. pod install (success)
4. yarn add react-native-reanimated react-

[2021-07-18 14:29] iyevpak commented on #202
same issue

[2021-07-18 22:39] oscadev commented on #202
It used to work, so I will try older versions of either RN-tvos or RNreanimated.

[2021-07-19 00:41] dlowder-salesforce commented on #202
I have been testing Reanimated on TV this week, and found this issue.  I'm not sure why the dependency is there.  If I remove the ActionSheet and Vibration dependencies from the Reanimated podspec, everything compiles just fine.  I am considering whether or not to submit this as a bug on react-native-reanimated.

[2021-07-19 01:20] oscadev commented on #202
It pod installs successfully if I use ^1.0.0 version of reanimated, but I cannot test if it builds because build is failing with now another Navigator Stack related error (dont know if I missed it before, or if I am doing something wrong now). Now im getting several build fail errors related to "react-native-screens" and things being "unavailable to tvOS" like "'searchTextField' is unavailable: no

[2021-07-19 02:48] oscadev commented on #202
see my post above for workarounds that work until a fix is made.

[2021-07-19 07:56] dlowder-salesforce commented on #202
`react-native-screens` has never compiled on tvOS without some patches, as far as I know.

In order to help people get past this and other issues with Reanimated, I've started a demo project, https://github.com/dlowder-salesforce/TVReanimated . It has the patches needed for Reanimated, screens, and svg packages, so that the tvOS target will compile and run at least some of the Reanimated examples.

[2021-07-20 06:43] methineeinkan opened #203 "Android Box Focus notwork"
OS: macOS 11.4
    CPU: (6) x64 Intel(R) Core(TM) i5-8500B CPU @ 3.00GHz
    Memory: 63.24 MB / 16.00 GB
    Shell: 5.8 - /bin/zsh
  Binaries:
    Node: 15.2.1 - /usr/local/bin/node
    Yarn: 1.22.10 - /usr/local/bin/yarn
    npm: 7.20.0 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  Managers:
    CocoaPods: 1.10.1 - /usr/local/bin/pod
  SDKs:
    iOS SDK:
      Platforms: iO

[2021-07-20 07:07] dlowder-salesforce commented on #203
Please provide an example showing the issue, and state what should happen if things are working correctly. Also, did this issue occur in earlier releases of this repo?

[2021-07-20 07:38] methineeinkan commented on #203
I can press the move button on android tv but can't move buttons or move things on android box

[2021-07-20 08:09] dlowder-salesforce commented on #203
A quick search about Android Box issues suggests that the remote control for the Android Box you are using is not recognized as a d-pad by the React Native Android implementation. It will probably be difficult to help you with this without having the actual hardware...

[2021-07-20 11:05] methineeinkan commented on #203
botton move but not focus style

[2021-07-20 17:12] dlowder-salesforce commented on #202
The demo project https://github.com/react-native-tvos/TVReanimated now works correctly with the 2.2.0 version of `react-native-reanimated` and the latest `react-navigation`, on iOS, tvOS, and Android phone and TV.  The project uses `patch-package` to apply the small podspec and source code changes needed for Apple TV on a few packages.

[2021-07-20 17:12] #202 closed

[2021-07-20 17:14] dlowder-salesforce commented on #203
@methineeinkan I'll do some more research on this, but technically Android TV boxes aren't using the Android TV OS underneath, and are usually heavily customized, so this repo may not be able to provide support for them in general.

[2021-07-27 14:32] ramiro-r opened #204 "TVFocusGuideView not taking the proper focus destination after first load"
Hi folks! We're facing a weird issue with the TvFocusGuide destinations, not sure if we're doing something in a wrong way here, any help would be much appreciated. I'm sorry if this is not the right category to post it feel free to point that out.

We currently have a Carousel component wrapped in a block component that contains a TvFocusGuide instance. We would like to always focus the first Caro

[2021-08-05 11:36] adkaushik commented on #190
Downgrading the react-native-svg to version `12.1.0` fixes the issue for now

[2021-08-05 18:09] douglowder commented on #190
@adkaushik that's probably the best solution for those not needing the latest version, thanks!

If you do need the latest, I recommend using the truly awesome [patch-package](https://www.npmjs.com/package/patch-package), and adding a file `patches/react-native-svg+12.1.1.patch` to your project, with the diff shown in my earlier comment.

[2021-08-05 18:47] mattallard123 commented on #143
For the record, changing from armv7 to arm64 in the TV OS target Info.plist worked for me after experiencing this error in my react native project. @douglowder

[2021-08-06 11:03] prakashjais99 opened #206 "Proposal : TVFocusGuideView for Android"
Currently, it's very difficult to direct Focus between Viewgroups of Touchables

**ForExample**
1) In the below image it's very difficult to direct focus from any items in cluster 2 to the previously focused item in cluster 1 to achieve this currently we have to set `nextFocusUp` props for all the children in cluster 2 to cluster 1 last focused item id.

<img width="960" alt="tv-nav-focusable-1" s

[2021-08-06 11:23] prakashjais99 opened #207 "Pressable component missing focused argument"
The latest release has removed  focused argument from the children rendering function `children({pressed, focused})` This has resulted in breaking changes

New code
[code]

Old Code
[code]

## React Native version:
Run `react-native info` in your terminal and copy the results here.
System:
    OS: macOS 11.5.1
    CPU: (12) x64 Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz
    Memory: 18.43 MB / 16.00

[2021-08-06 18:00] NickFoden commented on #165
This saved my bacon today, as i had expected to find "right", "left" etc when swiping as `eventType` of events when listening in `  useTVEventHandler(myTVEventHandler);` and only had "blur" "select" "focus" etc and no directional feedback.

Will this feature branch be raised as pr/merged to main in near future?

Big fan of the work here @douglowder and if i can help test or with docs or anything p

[2021-08-06 19:00] douglowder commented on #165
@NickFoden the feature branch I created for this is not for left and right swipes, but for pressing the upper left and right corners of the Siri remote, as when stepping forward or backward on a video.  You should already be seeing "left" and "right" event types if you swipe from one focusable to another.  Just to be clear, the left/right/up/down events are not associated with any view.  Only the

[2021-08-06 19:03] douglowder commented on #206
This is a great idea, I wonder if we can extend `TVFocusGuideView` to have this behavior on Android.....

[2021-08-06 19:06] douglowder commented on #207
@prakashjais99 thanks for the bug report. It looks like this will mainly impact Android TV, but could also cause an accessibility issue on Apple TV.  I'll see if I can figure out which commit caused the regression and implement a fix.

[2021-08-06 19:16] douglowder commented on #207
Found the issue -- Pressable support was not merged correctly to the 0.64 branch.  Will fix the merge and get a release out shortly.

[2021-08-06 19:31] NickFoden commented on #165
Oh fascinating. Maybe I missed a piece of setup or using incorrectly.

With
[code]

I was listening with the useTVEventHandler and never seeing a directional event. only focus, blur, select, etc

[code]

[2021-08-06 19:52] douglowder commented on #207
@prakashjais99 I have fixed the issue and testing looks good on both Android TV and Apple TV.  Will close this once I get a new release out.

[2021-08-07 05:12] prakashjais99 commented on #207
@douglowder thanks for the quick fix.

[2021-08-07 16:24] prakashjais99 commented on #206
We can do like below
1) Set the FocusGuideView to get the focus in the child View prior to it
[code]
2) Record the focused view in the requestChildFocus method
[code]
3) When FocusGuideView is about to get focus, actively set the last focused View to get focus
[code]

We can have props to enable  and disable this behavior and pass nodeId to override lastfocused  id

[2021-08-07 18:44] douglowder commented on #207
Fix is in release 0.64.2-2.  Closing.